{% extends "base/base.html" %}
{% load user_tags %}

{% block page_buttons %}
    {% if user|has_group:"Schreiben - Inventur" %}
        {% if inventory.active %}
            <button type="submit" id="confirm_deletion" value="{% url 'inventory_end' inventory.id %}"
                    onclick="customConfirm(this, 'Inventur wirklich beenden?', 'Beenden')">{% include 'icons/ic_publish_24px.svg' %}
                Beenden
            </button>
        {% else %}
            <button type="submit" id="confirm_deletion" value="{% url 'inventory_delete' inventory.id %}"
                    onclick="customConfirm(this, 'Inventur wirklich löschen?', 'Löschen')">{% include 'icons/delete.svg' %}
                Löschen
            </button>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'modal/delete.html' %}
    <div class="inventory_container">
        <h1>Übersicht</h1>
        <div class="head">
            <strong>Gestartet von:</strong><small>{{ inventory.started_by.username }}</small>

            <strong>Startdatum:</strong><small>{{ inventory.startdate|date:"d. F Y" }}
            um {{ inventory.startdate|date:"H:i" }}</small>
            <strong>Anmerkung:</strong><small>{{ inventory.name }}</small>
            <strong>Status:</strong>
            <small>
                {% if inventory.enddate %}
                    Beendet am {{ inventory.enddate|date:"d. F Y" }} um {{ inventory.enddate|date:"H:i" }}
                {% else %}
                    In Durchführung
                {% endif %}
            </small>
        </div>

        <div class="device_show" onclick="toggleDeviceList($(this), $('#inventory_hit'))">
            {% include 'icons/arrow_forward-24px.svg' %}
            <h2>Inventierte Geräte</h2>
        </div>
        <table id="inventory_hit" class="alternating_list" style="display: none">
            <thead>
            <tr>
                <th scope="col">Geräte ID</th>
                <th scope="col">Bezeichnung</th>
                <th scope="col">Zusatzinformationen</th>
                <th scope="col">Aktionen</th>
            </tr>
            </thead>
            <tbody>
            {% for inventoryitem in inventory.inventoryitem_set.all %}
                {% include 'inventory/item.html' with device=inventoryitem.item delete=True %}
            {% endfor %}
            </tbody>
        </table>

        <div class="device_show" onclick="toggleDeviceList($(this), $('#inventory_miss'))">
            {% include 'icons/arrow_forward-24px.svg' %}
            <h2>Nicht inventierte Geräte</h2>
        </div>
        <table id="inventory_miss" style="display: none;" class="alternating_list">
            <thead>
            <tr>
                <th scope="col">Geräte ID</th>
                <th scope="col">Bezeichnung</th>
                <th scope="col">Aktionen</th>
            </tr>
            </thead>
            <tbody>
            {% for device in misses %}
                {% include 'inventory/item.html' %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}