{% load user_tags %}

<tr>
    <td data-label="Geräte ID">{{ device.id }}</td>
    <td data-label="Bezeichnung">{{ device }}</td>
    {% if inventoryitem %}
        <td data-label="Zusatzinformationen">
            {{ inventoryitem.info|default:"<i>Keine zusätzliche Information</i>" }}
        </td>
    {% endif %}
    <td data-label="Aktionen">
        <div>
            <a href="{% url 'device_view' device.id %}" class="blue underline_button">{% include 'icons/ic_eye_24px.svg' %}Ansehen</a>
            {% if not inventory.enddate and delete and user|has_group:"Schreiben - Inventur" %}
                <button id="confirm_deletion" value="{% url "inventory_remove_device" inventory.id device.id %}"
                        class="red underline_button"
                        onclick="confirmDeletion(this)">
                    {% include 'icons/x.svg' %}Entfernen
                </button>
            {% endif %}
        </div>
    </td>
</tr>