<tr id="${id}">
    <td data-label="Gerät">${device}</td>
    <td data-label="Anzahl">${amount}</td>
    <td data-label="Kommentar">${comment}</td>
    <td data-label="Aktionen">
        <button type="button" class="red underline_button" onclick="deleteLoanItem(this)" value="${id}">
            {% include 'icons/x.svg' %} Entfernen</button>
    </td>
</tr>