{% extends "base/base.html" %}
{% load define_action %}

{% block content %}
    <form id="loan_form" method="POST" enctype="multipart/form-data" onsubmit="return (typeof submitted == 'undefined') ? (submitted = true) : !submitted">
        <div class="content_container card form_container" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="content_container card form_container input_field" id="{{ field.name }}">
                    {{ field.label_tag }}<br/>
                    {{ field }}<br/>
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ field.errors|escape }}</strong>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <input type="hidden" name="devices" id="device_select" value=""/>
        <table class="alternating_list">
            <thead>
            <tr>
                <th scope="col">Gerät</th>
                <th scope="col">Anzahl</th>
                <th scope="col">Anmerkung</th>
                <th scope="col">Aktionen</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td data-label="Gerät">
                    {{ loanform.item }}
                </td>
                <td data-label="Anzahl">{{ loanform.amount }}</td>
                <td data-label="Anmerkung">{{ loanform.comment }}</td>
                <td data-label="Aktionen">
                    <button type="button" id="add_loan_item" class="button" onclick="addLoanItem()" disabled>Gerät hinzufügen</button>
                </td>
            </tr>
            <tr id="loanitem_anchor" style="display: none"></tr>
            </tbody>
        </table>
        <button id="loanform_submit_button" type="submit" onclick="$('#device_select').val(JSON.stringify(selected_devices))">
            {% include 'icons/ic_publish_24px.svg' %} Speichern
        </button>
    </form>
{% endblock %}

{% block javascripts %}
    {{ available|json_script:"available" }}
    <script>

        $("#loan_form").submit(function () {
            $("#loanform_submit_button").attr("disabled", true);
            return true;
        });

        let today = new Date();
        let calendar = flatpickr($("#id_enddate"), {
            enableTime: true,
            dateFormat: "d.m.Y H:i",
            time_24hr: true,
            minDate: today,
            minuteIncrement: 1,
        });

        const available = JSON.parse(document.getElementById('available').textContent);

        $(document).ready(function () {
            const none_available = available.filter(a => a[1] == 0);
            none_available.forEach(function (e) {
                $("#id_item>option[value=" + e[0] + "]").attr('disabled', 'disabled');
            })
        })

        $('#id_amount').on('input', function (e) {
            const val = $('#id_item').val();
            if (val != 0) {
                const device_available = available.filter(a => a[0] == val)[0][1];

                if (e.currentTarget.value > device_available)
                    e.currentTarget.value = device_available;
                if (e.currentTarget.value < 1)
                    e.currentTarget.value = 1;
            }
            const button = document.getElementById('add_loan_item');
            if (val > 0)
                button.disabled = false;
        })

        $('#id_item').change(function () {
            const val = $('#id_item').val();
            const button = document.getElementById('add_loan_item');
            const amount_field = $('#id_amount');
            const comment_field = $('#loanitem_comment');
            if (val != 0) {
                const device_available = available.filter(a => a[0] == val)[0][1];
                amount_field.val('');
                amount_field.attr('max', device_available);
                amount_field.attr('placeholder', device_available + " verfügbar");

                amount_field.prop("disabled", false);
                comment_field.prop("disabled", false);
            } else {
                amount_field.val('');
                amount_field.attr('placeholder', "");
                amount_field.prop("disabled", true);
                comment_field.prop("disabled", true);
            }
            button.disabled = true;
        })

        const LoanItem = ({id, device, amount, comment}) => `
        {% include 'inventory/loanitem.html' %}`;

        function deleteLoanItem(event) {
            const id = event.value;
            event.parentElement.parentElement.remove();
            selected_devices = selected_devices.filter(item => item.id != id);
            $("#id_item>option[value=" + id + "]").removeAttr('disabled');
        }

        $(document).ready(function () {
            $('#id_item').select2();
        });

        function toggleFormAtts(field, visible, required) {
            if (visible == false) {
                if (required) field.prop('required', false);
                field.parent().hide();
            } else {
                field.val('');
                if (required) field.prop('required', true);
                field.parent().show();
            }
        }

        function returnDate() {
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }
            return yyyy + '-' + mm + '-' + dd;
        }

        function switchType(event) {
            const val = event.value;
            const loan = $('#id_loaned_to');
            const enddate = $('#id_enddate');
            const info = $('id_#info');
            if (val == 'repair') {
                calendar.destroy();
                toggleFormAtts(loan, false, true);
                loan.val('repair');
                enddate.prop('type', 'text');
                enddate.val(returnDate());
                toggleFormAtts(enddate, false, true);
                toggleFormAtts(info, false, false);

            } else {
                calendar = flatpickr($("#id_enddate"), {
                    enableTime: true,
                    dateFormat: "d.m.Y H:i",
                    time_24hr: true,
                    minDate: today,
                });
                toggleFormAtts(loan, true, true);
                toggleFormAtts(enddate, true, true);
                toggleFormAtts(info, true, false);
            }
        }

        let selected_devices = []

        function addLoanItem() {
            const device = $('#id_item option:selected');
            const amount = $('#id_amount').val();
            let comment = $('#loanitem_comment').val();

            let data = {
                "id": device.val(),
                "device": escapeUserHtml(device.text()),
                "amount": amount,
                "comment": escapeUserHtml(comment),
            };

            let save_data = JSON.parse((JSON.stringify(data)));
            selected_devices.push(save_data);

            if (comment == '') {
                data['comment'] = "<i>Keine Anmerkung</i>";
            }

            $('#loanitem_anchor').after([data].map(LoanItem).join(''));
            $('#id_item').val(0).trigger('change');
            $('#loanitem_comment').val('');

            $("#id_item>option[value=" + device.val() + "]").attr('disabled', 'disabled');
        }

        function render(props) {
            return function (tok, i) {
                return (i % 2) ? props[tok] : tok;
            };
        }
    </script>
{% endblock %}