{% extends "base/base.html" %}
{% load user_tags %}

{% block page_buttons %}
    {% if user|has_group:"Schreiben - Verleih" %}
        {% if loan.active %}
            <button type="submit" id="confirm_deletion" value="{% url 'loan_return' loan.id %}"
                    onclick="customConfirm(this, 'Verleih wirklich zurückgeben?', 'Rückgabe')">{% include 'icons/ic_publish_24px.svg' %}
                Rückgabe
            </button>
        {% else %}
            <button type="submit" id="confirm_deletion" value="{% url 'loan_delete' loan.id %}"
                    onclick="customConfirm(this, 'Verleih wirklich löschen?', 'Löschen')">{% include 'icons/delete.svg' %}
                Löschen
            </button>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'modal/delete.html' %}
    <div class="inventory_container">
        <h1>Übersicht</h1>
        <div class="head">
            <strong id="started_by">Verliehen von:</strong><small>{{ loan.loaned_by.username }}</small>
            <strong>Verliehen an:</strong>
            <small>
                {% if loan.type == 'repair' %}<i>&nbsp;E-Werkstatt</i>
                {% else %}{{ loan.loaned_to }}{% endif %}
            </small>
            <strong>Verleihdatum:</strong><small>{{ loan.startdate|date:"d. F Y" }}
            um {{ loan.startdate|date:"H:i" }}</small>
            <strong>Rückgabedatum:</strong>
            <small>
                {% if loan.type == 'repair' %}<i>&nbsp;in Reparatur</i>
                    {% else %}{{ loan.enddate|date:"d. F Y" }} um {{ loan.enddate|date:"H:i" }}{% endif %}
            </small>
            <strong>Status:</strong>
            <small>
                {% if loan.active %}
                    {% if loan.type == 'loan' %}
                        {% if loan.is_due %}
                            Überfällig seit {{ loan.enddate|timesince:current_time }}
                        {% else %}
                            Rückgabe in {{ current_time|timesince:loan.enddate }}
                        {% endif %}
                    {% else %}
                        In Reparatur seit {{ loan.startdate|timesince:current_time }}
                    {% endif %}
                {% else %}
                    Zurückgegeben
                {% endif %}
            </small>
        </div>

        {% if loan.comment %}
            <h1>Anmerkung:</h1><br>
                <span>{{ loan.comment }}</span>
        {% endif %}
        {% if loan.info %}
            <h1>Infobild:</h1><br>
            <div class="file_item">
                <div class="file_item_text">
                    {{ loan.info.name }}
                </div>
                <a>
                    <div class="file_image_hover">
                        {% include 'modal/image.html' with src=loan.info.url caption=loan.info.name %}
                    </div>
                </a>
            </div>
        {% endif %}
        {% if loan.loanitem_set.all|length > 0 %}
            <div class="device_show" onclick="toggleDeviceList($(this), $('#device_list'))">
            {% include 'icons/arrow_forward-24px.svg' %}
            <h2>Verliehene Geräte</h2>
        </div>
            <table id="device_list" class="alternating_list" style="display: none">
                <thead>
                <tr>
                    <th scope="col">Geräte ID</th>
                    <th scope="col">Bezeichnung</th>
                    <th scope="col">Anzahl</th>
                    <th scope="col">Bemerkung</th>
                    <th scope="col">Aktionen</th>
                </tr>
                </thead>
                <tbody>
                {% for item in loan.loanitem_set.all %}
                    <tr>
                        <td data-label="Geräte ID">{{ item.item.id }}</td>
                        <td data-label="Bezeichnung">{{ item.item.name }}</td>
                        <td data-label="Anzahl">{{ item.amount }}</td>
                        <td data-label="Bemerkung">{{ item.comment|default:"<i>Keine Bemerkung</i>" }}</td>
                        <td data-label="Aktionen">
                            <a href="{% url 'device_view' item.item.id %}" class="blue underline_button">{% include 'icons/ic_eye_24px.svg' %}Ansehen</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}