{% extends "base/base.html" %}
{% load user_tags %}

{% block page_buttons %}
    {% if user|has_group:"Schreiben - Label" %}
        <a href="{% url 'label_edit' current_label.id %}">{% include 'icons/pencil-fill.svg' %}&nbsp;Bearbeiten</a>
        <button type="submit" id="confirm_deletion" value="{% url 'label_delete' current_label.id %}"
                onclick="customConfirm(this, 'Label wirklich löschen?', 'Löschen')">{% include 'icons/delete.svg' %}
            Löschen
        </button>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'modal/delete.html' %}
    <div class="inventory_container">
        <h1>Übersicht</h1>
        <div class="head">
            <strong>Name:</strong><small>{{ current_label.name }}</small>
            <strong>Farbe:</strong>
            <small>
                <div style="color: {{ current_label.get_color }};">{% include 'icons/label_badge.svg' %}</div>
            </small>
        </div>

        <div class="device_show" onclick="toggleDeviceList($(this), $('#devices'))">
            {% include 'icons/arrow_forward-24px.svg' %}
            <h2>Geräte</h2>
        </div>
        <table id="devices" class="alternating_list" style="display: none">
            <thead>
            <tr>
                <th scope="col">Geräte ID</th>
                <th scope="col">Bezeichnung</th>
                <th scope="col">Aktionen</th>
            </tr>
            </thead>
            <tbody>
            {% for device in current_label.device_set.all %}
                <tr>
                    <td data-label="Geräte ID">{{ device.id }}</td>
                    <td data-label="Bezeichnung">{{ device }}</td>
                    <td data-label="Aktionen">
                        <div>
                            <a href="{% url 'device_description' device.id %}"
                               class="blue underline_button">{% include 'icons/ic_eye_24px.svg' %}Ansehen</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="device_show" onclick="toggleDeviceList($(this), $('#experiments'))">
            {% include 'icons/arrow_forward-24px.svg' %}
            <h2>Versuche</h2>
        </div>
        <table id="experiments" class="alternating_list" style="display: none">
            <thead>
            <tr>
                <th scope="col">Bezeichnung</th>
                <th scope="col">Beschreibung</th>
                <th scope="col">Aktionen</th>
            </tr>
            </thead>
            <tbody>
            {% for experiment in current_label.experiment_set.all %}
                <tr>
                    <td data-label="Bezeichnung">{{ experiment.name }}</td>
                    <td data-label="Beschreibung">{{ experiment.comment|default:"<i>Keine Beschreibung</i>" }}</td>
                    <td data-label="Aktionen">
                        <div>
                            <a href="{% url 'experiment_devices' experiment.id %}"
                               class="blue underline_button">{% include 'icons/ic_eye_24px.svg' %}Ansehen</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}