{% extends "base/base.html" %}

{% block content %}
    <form method="POST" onsubmit="return (typeof submitted == 'undefined') ? (submitted = true) : !submitted">
        <div class="content_container card form_container">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="content_container card form_container input_field" id="{{ field.name }}">
                    {{ field.label_tag }}<br/>
                    {{ field }}<br/>
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ field.errors|escape }}</strong>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            {% include 'modal/delete.html' %}
            <button type="button" id="confirm_deletion" name="delete_btn" style="display: none" value=""
                    onclick="confirmDeletion(this)">
                Delete
            </button>
        </div>
        <button type="submit">{% include 'icons/ic_publish_24px.svg' %} Speichern</button>
    </form>
    {% include "js/label_form_js.html" %}
{% endblock %}
