{% extends "base/base.html" %}
{% load user_tags %}
{% load static %}

{% block content %}
    <script>
        let search_entries;
        document.addEventListener("DOMContentLoaded", function () {
            search_entries = document.getElementsByClassName("search_entry");  // all elements that should be searched should get this class
        });

        function onInputSearch() {
            let clean_search_input = document.getElementById('search-input').value.toLowerCase().replace(search_term_regex, "");
            let search_terms = clean_search_input.split(' ').filter(item => item);

            updateUrlParamInPlace("search_input", clean_search_input);

            if (search_terms.length > 0) {
                for (let i = 0, n = search_entries.length; i < n; i++) {
                    let text_content = "";
                    let search_entry = search_entries[i];

                    text_content += search_entry.querySelector("[data-label='Name']").textContent; // what text should be searched within each search_entry

                    text_content = text_content.toLowerCase().replace(text_content_regex, "");
                    search_entry.style.display = '';
                    // remove row as soon as we find a search term that is not present
                    for (let j = 0; j < search_terms.length; j++) {
                        if (!(text_content.indexOf(search_terms[j]) > -1)) {
                            search_entry.style.display = 'none';
                            break;
                        }
                    }
                }
            } else {
                for (let i = 0, n = search_entries.length; i < n; i++) {
                    search_entries[i].style.display = '';
                }
            }
        }


        document.addEventListener("DOMContentLoaded", function () {
            onInputSearch();
        });
    </script>
    {% include 'modal/delete.html' %}
    {% if label_list|length > 0 %}
        <table class="alternating_list">
            <thead>
            <tr>
                <th scope="col">Farbe</th>
                <th scope="col">Name</th>
                <th scope="col">Aktionen</th>
            </tr>
            </thead>
            <tbody>
            {% for l in label_list %}
                <tr class="search_entry">
                    <td data-label="Farbe">
                        <div style="color: {{ l.get_color }};">{% include 'icons/label_badge.svg' %}</div>
                    </td>
                    <td data-label="Name">{{ l.name }}</td>
                    <td data-label="Aktionen">
                        {% if buttons %}
                            <div>
                                {% for button in buttons %}
                                    {% if button.2 == 'label_delete' %}
                                        <button id="confirm_deletion" value="{% url button.2 l.id %}"
                                                class="{{ button.1 }} underline_button"
                                                onclick="customConfirm(this, 'Label {{ l.name }} wirklich löschen?', 'Löschen')">
                                            {% if button|length > 3 %}
                                                {% include button.3 %}{% endif %}{{ button.0 }}
                                        </button>
                                    {% else %}
                                        <a id="{{ button.2 }}" href="{% url button.2 l.id %}" class="{{ button.1 }} underline_button">
                                            {% if button|length > 3 %}
                                                {% include button.3 %}{% endif %}{{ button.0 }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
