<form action="{% url 'comment_add' %}" method="POST" id="{{ comment.id }}" class="reply_comment" style="display: none" onsubmit="return (typeof submitted == 'undefined') ? (submitted = true) : !submitted">
    {% csrf_token %}
    {% with comment.id|stringformat:"i" as comment_id %}
        <div class="comment_container_bookings">
            {% include 'forms/editor.html' with id="message_field_"|add:comment_id class="comment" %}
        </div>
    {% endwith %}
    <input type="hidden" name="experiment" value="{{ content.item.id }}">
    <input type="hidden" name="type" value="{{ type|upper|default:'PUBLIC' }}">
    {% if comment.id %}
        <input type="hidden" name="parent" value="{{ comment.id }}">
    {% endif %}
    <button type="submit" class="comment button" disabled>Kommentieren</button>
</form>
