{% load user_tags %}

{% if type %}
    {% block comment_message %}
        <div class="message_container alert-danger warning">
            <strong>Interna {{ type }}</strong>
            Kommentare dieses Typs sind nur für Nutzer mit entsprechendem Recht sichtbar.
        </div>
    {% endblock %}
{% endif %}

{% for message in messages %}
    {% if 'comment' in message.tags %}
        <div class="message_container alert-danger {{ message.tags }}">{{ message }}</div>
    {% endif %}
{% endfor %}

{% for comment in comments reversed %}
    {% if comment.parent_comment is empty %}
        <ul class="root_comment">
            {% include 'fullpage/comment/raw.html' %}
        </ul>
    {% endif %}
{% endfor %}