{% load user_tags %}

<li>
    <strong>{{ comment.user.username }} </strong><small> am {{ comment.timestamp|date:"d.m.Y H:i"}}</small>
    <div>{{ comment.message|bbcode|safe|linebreaks }}</div>
    <div id="{{ comment.id }}">
        <div class="comment_button_container">
            {% if user|has_group:write_right %}
                <a href="#" class="open_reply_comment" id="{{ comment.id }}">Antworten</a>
            {% endif %}
            {% if request.user.is_authenticated %}
                    {% if request.user == comment.user or user|has_group:delete_right %}
                        <a href="{% url 'comment_delete' comment.id %}" id="{{ comment.id }}" class="delete_comment">Löschen</a>
                    {% endif %}
            {% endif %}
        </div>
        {% include 'fullpage/comment/add.html' %}
    </div>
    {% for child in comment.comment_set.all %}
        <ul>
            {% include 'fullpage/comment/raw.html' with comment=child %}
        </ul>
    {% endfor %}
</li>