<style>
    .carousel{
        overflow: initial;
    }
    .slick-prev{
        left: 0;
    }
    .slick-next{
        right: 0;
    }
    .slick-prev, .slick-prev:focus{
        background-image: linear-gradient(to left, rgba(251,252,249,0.4),  rgba(251,252,249,1));
    }
    .slick-next, .slick-next:focus {
        background-image: linear-gradient(to right, rgba(251,252,249,0.4),  rgba(251,252,249,1));
    }
    .slick-next:before    {
        content: '\276f';
        color: black;
    }
    .slick-prev:before    {
        content: '\276e';
        color: black;
    }
    .slick-prev,  .slick-next{
        transition: ease .3s;
        margin: 0;
        min-width: 40px;
        height: 100%;
        z-index: 1;
    }

    .slick-next:hover, .slick-prev:hover{
        background: lightgrey;
    }


    .carousel-cell{
        background: lightgrey;
        position: relative;
        height: calc(350px + 1.5em);
        border-radius: 0px 0px 15px 15px;
    }

    .carousel-cell > video, .carousel-cell > a > img {
        height: 350px;
    }

    .media-comment{
        position: absolute; /*Schneidet zu langen Text ab/bricht die Zeile um*/
        width: 100%;
        min-height: 0;
        height: 1.5em;
        text-overflow: "...";
        cursor: pointer;
        bottom: 0;
    }
    .media-comment a{
        color: inherit;
        text-decoration: inherit;
    }

    .fullcomment{
        position: absolute;
        text-align: center;
        width: 100%;
        background: rgba(211,211,211,0.7);
        height: 350px;
        z-index: 2;
    }


    .extend-comment {
        position: absolute;
        background: lightgrey;
        border-style: solid;
        border-radius: 15px;
        border-color: black;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }

    .extend-comment:hover {
        color: #FDFDFEFF;
        background-color: #E11121FF;
    }

    @media screen and ( max-width: 767px ){
        .carousel-cell{
            height: 250px;
        }
        .carousel-cell > video, .carousel-cell > a > img, .fullcomment {
            height: calc(100% - 3em);
        }
        .media-comment{
            height: 3em;
        }
    }
</style>

<div class='carousel'>
    {% for file in tabs.description.content.files %}
        {% if file.general_type == 'image' and file.specific_type != 'heic' %}
            <div class='carousel-cell'>
                <div class='fullcomment' style='visibility: hidden'>
                    {{ file.comment | default:"<i>Keine Beschreibung</i>" | urlize}}
                </div>
                <a href="{{ MEDIA_URL }}{{ file.url }}">
                    <img src='{{ MEDIA_URL }}{{ file.url }}' alt="{{ file.comment | default:"Keine Beschreibung"}}"/>
                </a>
                <div class='media-comment' onclick='toggleFullCommentVisibilty(this)'>
                    {{ file.comment | default:"<i>Keine Beschreibung</i>" | urlize}}
                    <button class='extend-comment'>...</button>
                </div>
            </div>
        {% elif file.general_type == 'video' %}
            {% if file.specific_type == 'mp4' or file.specific_type == 'webm' %}
                <div class='carousel-cell'>
                    <div class='fullcomment' style='visibility: hidden'>
                         {{ file.comment | default:"<i>Keine Beschreibung</i>" | urlize }}
                    </div>
                    <video controls>
                        <source  src='{{ MEDIA_URL }}{{ file.url }}' type='{{ file.type }}'>
                        Dein Browser unterstützt kein HTML5 video.
                        Um das Video herunterzuladen, können Sie den Tab Dateien nutzen.
                    </video>
                    <br/>
                    <div class='media-comment' onclick='toggleFullCommentVisibilty(this)'>
                        {{ file.comment | default:"<i>Keine Beschreibung</i>" | urlize }}
                        <button class='extend-comment '>...</button>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>



<script>
    $(document).ready(function () {
        let amount = {{ tabs.description.content.amount_to_display }};
        $('.carousel').slick({
            dots: amount>1,
            infinite: false,
            speed: 300,
            slidesToShow: 1,
            centerMode: true,
            variableWidth: true,
            mobileFirst: true,
        });
    });

    $('.carousel').on('beforeChange', function(event, slick, currentSlide, nextSlide){
            document.querySelectorAll('video').forEach(vid => {vid.pause(); vid.controls=true});
            let fullcomments = document.getElementsByClassName('fullcomment');
            for (let i=0; i<fullcomments.length; i++){
                fullcomments[i].style.visibility = 'hidden';
            }
    });

    function toggleFullCommentVisibilty(element){
            let parent = element.parentElement
            let toToggle = parent.getElementsByClassName('fullcomment')[0]
            if(toToggle.style.visibility!=='hidden') {
                toToggle.style.visibility = 'hidden';
                parent.querySelectorAll('video').forEach(vid => vid.controls=true);
            }else {
                toToggle.style.visibility = 'visible';
                let vids = parent.querySelectorAll('video');
                vids.forEach(vid => {vid.controls=false; vid.pause();});
            }
    }

    function displayCorrectAfterSwitchingTabs(){
        $('.carousel').slick("slickGoTo",1,true);
	    $('.carousel').slick("slickGoTo",0,true);
    }
</script>