{% if user.is_authenticated %}
    {% with content=tabs.comments.content %}
        <div class="comment_container">
            {% if content.form %}
                <div class="comment_form_container">
                    <div class="input_field">
                        {{ content.form.type.label_tag }}<br/>
                        {{ content.form.type }}
                    </div>
                </div>
            {% endif %}
            <script>
                const allowed_types = {{ content.write_types|safe }};
                function hideForm(value) {
                    const form = $('form[id=new_comment]');
                    if(!allowed_types.includes(value)) {
                        form.hide();
                    }
                    else {
                        form.show();
                    }
                }
                $('.toggle_comment_type').on('change', function (event) {
                    hideForm(event.currentTarget.value);
                });
                $(document).ready(function () {
                    hideForm($('.toggle_comment_type').val());
                })
            </script>
            <form action="{% url 'comment_add' %}"
                  method="POST"
                  id="new_comment"
                  onsubmit="return (typeof submitted == 'undefined') ? (submitted = true) : !submitted">
                {% csrf_token %}
                <div class="comment_container_bookings">
                    {% include 'forms/editor.html' with class="comment" id="new_comment_field" %}
                </div>
                <input type="hidden" name="experiment" value="{{ content.item.id }}">
                <input type="hidden" name="type" value="">
                <button type="submit" class="comment button" disabled>Kommentieren</button>
            </form>

            {% if content.comments_public is not None %}
                <div id="PUBLIC" style="display:none">
                    <div id="comments">
                        {% include 'fullpage/comment/base.html' with comments=content.comments_public delete_right='Löschen - Versuche - Tab öffentliche Kommentare' write_right='Schreiben - Versuche - Tab öffentliche Kommentare' %}
                    </div>
                </div>
            {% endif %}
            {% if content.comments_demo is not None %}
                <div id="DEMO" style="display:none">
                    <div id="comments">
                        {% include 'fullpage/comment/base.html' with comments=content.comments_demo type="Demo" delete_right='Löschen - Versuche - Tab Interna Demo' write_right='Schreiben - Versuche - Tab Interna Demo' %}
                    </div>
                </div>
            {% endif %}
            {% if content.comments_vla is not None %}
                <div id="VLA" style="display:none">
                    <div id="comments">
                        {% include 'fullpage/comment/base.html' with comments=content.comments_vla type="VLA" delete_right='Löschen - Versuche - Tab Interna VLA' write_right='Schreiben - Versuche - Tab Interna VLA' %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endwith %}
{% endif %}