{% load user_tags %}

<style>
    .generic_button:hover {
        color: #1a1919;
    }
    .generic_button_label {
        margin-right: .5em;
        background-color: #e7e7e7;
        border: 1px solid grey;
    }
    .generic_button_label:hover {
        background-color: lightgrey;
    }
</style>
{% for label in tabs.devices.content.labels %}
    <a {% if user|has_group:'Lesen - Label' %} href="{% url 'label_view' label.id %}" {% endif %}>
        <button class="generic_button"
                style="border: 2px solid {{ label.color }}; background-color: {{ label.color }}50">
            {{ label.name }}
        </button>
    </a><br>
    <div style="display: flex;position: relative; margin-left: 2em; flex-wrap: wrap">
        {% for device in label.devices.all %}
            <a {% if user|has_group:'Lesen - Geräte' %} href="{% url 'device_description' device.id %}" {% endif %}>
                <button class="generic_button generic_button_label">
                    ({{ device.id }}) {{ device.name }}
                </button>
            </a>
        {% endfor %}
    </div>
{% endfor %}
{% if tabs.devices.content.devices %}
    <button class="generic_button"
            style="border: 2px solid #808080;
                   background-color: #80808050;
                   cursor: default">
        Weitere Geräte
    </button><br>
    <div style="display: flex;
                position: relative;
                margin-left: 2em;
                flex-wrap: wrap">
        {% for device in tabs.devices.content.devices %}
            <a {% if user|has_group:'Lesen - Geräte' %} href="{% url 'device_description' device.device.id %}"{% endif %}>
                <button class="generic_button generic_button_label">
                    <div style="display:flex; flex-direction: column">
                        <div style="max-width:300px">
                            ({{ device.device.id }}) {{ device.device.name }}
                        </div>
                        {% if device.image %}
                        <div>
                            <img loading="lazy"
                                 style="border-radius: 5px;
                                        overflow: hidden;
                                        margin-top: 3px"
                                 height="200px"
                                 src="{{ MEDIA_URL }}{{ device.image }}"/>
                        </div>
                        {% else %}
                            <div style="height: 200px; width:200px"></div>
                        {%  endif %}
                    </div>
                </button>
            </a>
        {% endfor %}
    </div>
{% endif %}
