{% load user_tags %}

{% if tabs.description.content.amount_to_display != 0 %}
    {% include "fullpage/carousel.html" %}
{% endif %}
{{ tabs.description.content.description|bbcode|safe|linebreaks|urlize }}
<h2 class="h2_inline">Beschreibung</h2>
{{ tabs.description.content.comment|bbcode|safe|linebreaks|urlize }}

<table class="alternating_list">
    <thead>
    <tr>
        <th scope="col">Geräte-ID</th>
        {% if user|has_group:'Lesen - Geräte - Verwaltung' %}
            <th scope="col">Anzahl<br>In Reparatur<br>Verliehen</th>
        {% endif %}
        <th scope="col">Inventarnummer</th>
        <th scope="col">Bestellnummer</th>
        <th scope="col">Hersteller</th>
        <th scope="col">IFP-Code</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Geräte-ID">{{ tabs.description.content.id }}</td>
            {% if user|has_group:'Lesen - Geräte - Verwaltung' %}
                <td data-label="Anzahl / In Reparatur / Verliehen">
                    {{ tabs.description.content.amount }} / {{ tabs.description.content.repair }} / {{ tabs.description.content.loaned }}
                </td>
            {% endif %}
            <td data-label="Inventarnummer">{{ tabs.description.content.inventorynumber|default:"-" }}</td>
            <td data-label="Bestellnummer">{{ tabs.description.content.ordernumber|default:"-" }}</td>
            <td data-label="Hersteller">{{ tabs.description.content.supplier|default:"-" }}</td>
            <td data-label="IFP-Code">{{ tabs.description.content.ifpcode|default:"-" }}</td>
        </tr>
    </tbody>
</table>
{% if tabs.description.content.tags %}
    <br><strong>Schlagworte:</strong><br>
    {% for tags in tabs.description.content.tags %}
        <button class="generic_button generic_button_label">{{ tags }}</button>
    {% endfor %}
{% endif %}