<style>
    img.svg_container {
        width: 3em;
        height: 3em;
    }
</style>

{% load static %}

{% if tabs.description.content.amount_to_display != 0 %}
    {% include "fullpage/carousel.html" %}
{% endif %}
{{ tabs.description.content.description|bbcode|safe|linebreaks|urlize }}
{% if tabs.description.content.preparation_time %}
    <strong>Vorbereitungsdauer:</strong>
    {{ tabs.description.content.preparation_time }}<br>
{% endif %}
{% if tabs.description.content.execution_time %}
    <strong>Durchführungsdauer:</strong>
    {{ tabs.description.content.execution_time|default:"" }}<br>
{% endif %}
{% if tabs.description.content.safety_signs %}
    <strong>Sicherheitszeichen:</strong>
    {% for safety_sign in tabs.description.content.safety_signs %}
        <img class="svg_container" src="{% static 'icons/safety_signs/ISO_7010_'|add:safety_sign|add:'.svg' %}"/>
    {% endfor %}
{% endif %}
<h2 class="h2_inline">Beschreibung</h2>
{{ tabs.description.content.comment|bbcode|safe|linebreaks|urlize }}
{% if tabs.description.content.tags %}
    <br><strong>Schlagworte:</strong><br>
    {% for tags in tabs.description.content.tags %}
        <button class="generic_button generic_button_label">{{ tags }}</button>
    {% endfor %}
{% endif %}


