{% load user_tags %}
<style>
    .generic_button:hover {
        color: #1a1919;
    }
    .generic_button_label {
        margin-right: .5em;
        background-color: #e7e7e7;
        border: 1px solid grey;
    }
    .generic_button_label:hover {
        background-color: lightgrey;
    }
</style>
{% for label in tabs.experiments.content.labels %}
    <a {% if user|has_group:'Lesen - Label' and label.id != -1 %} href="{% url 'label_view' label.id %}" {% endif %}>
        <button class="generic_button"
                style="border: 2px solid {{ label.color }};
                       background-color: {{ label.color }}50;
                       {% if label.id == -1 %} cursor: default{% endif %}">
            {{ label.name }}
        </button>
    </a><br>
    <div style="display: flex;
                position: relative;
                margin-left: 2em;
                flex-wrap: wrap;
                padding-right: 2em">
        {% for experiment in label.experiments.all %}
            <a href="/experiment/{{ experiment.id }}/description/">
                <button class="generic_button generic_button_label">
                    ({{ experiment.id }}) {{ experiment.name }}
                </button>
            </a>
        {% endfor %}
    </div>
{% endfor %}