<div class="file_container">
    {% for file in tabs.files.content %}
        <div class="file_item">
            <div class="file_item_text">
                {{ file.name }}
            </div>
            {% if file.general_type == 'image' %}
                <a href="{{ MEDIA_URL }}{{ file.url }}" target=”_blank”>
                    <div class="file_image_hover">
                        <img style="max-width: 100%;" src="{{ MEDIA_URL }}{{ file.url_lowres }}"/>
                    </div>
                </a>
            {% else %}
                <a href="{{ MEDIA_URL }}{{ file.url }}" target=”_blank”>
                    <div class="file_no_image_border">
                        <span class="file_no_image_text">
                            .{{ file.spec_type }}
                        </span>
                    </div>
                </a>
            {% endif %}
            <div class="file_item_text">
                {{ file.comment }}
            </div>
        </div>
    {% endfor %}
</div>

