{% extends 'base/base.html' %}
{% load user_tags %}

{% block content %}
    {{ base_info.id|json_script:"base_info_id" }}
    <script>
        const base_info_id = JSON.parse(document.getElementById("base_info_id").textContent);

        function move_red_line(name) {
            let allLabel = document.getElementsByClassName("tabs_lab");
            let offsetX = 0;
            for (let i = 0; i < allLabel.length; i++) {
                if (allLabel[i].id == "tab_lab_" + name) {
                    document.getElementById("tabs_red_line").style.width = (allLabel[i].clientWidth - 6).toString() + "px";
                    break;
                }
                offsetX += allLabel[i].clientWidth;
            }
            offsetX += 3;
            document.getElementById("tabs_red_line").style.transform = "translateX(" + offsetX + "px)";
        }

        function changeActiveTab(name) {
            let allTabs = document.getElementsByClassName("tab");
            for (let i = 0; i < allTabs.length; i++) {
                allTabs[i].style.display = "none";
            }
            document.getElementById("tab_nav_" + name).checked = true;
            document.getElementById("tab_" + name).style.display = "initial";
            window.history.replaceState("", "", "../" + name + "/" + window.location.search);
            move_red_line(name);
            $('textarea[name=message]').trigger('input');
            let amount = {{ tabs.description.content.amount_to_display }};
            if(name === 'description' && amount!==0) {    {% comment %} So the media-caroussel loads correctly after changing tabs (and resiszing) {% endcomment %}
                $(window).resize(); {% comment %} doesn't help when resizing, but important when there is only one picture {% endcomment %}
                if (amount > 1){
                    displayCorrectAfterSwitchingTabs();
                }
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            let url = window.location.href.split('/');
            let tab = url[url.length - 2]
            let found = false;
            let allTabs = document.getElementsByClassName("tab");
            for (let i = 0; i < allTabs.length; i++) {
                if (allTabs[i].id == "tab_" + tab) {
                    found = true;
                    break;
                }
            }
            if (found) {
                console.log(tab);
                document.getElementById("tab_nav_" + tab).checked = true;
                document.getElementById("tab_" + tab).style.display = "initial";
                move_red_line(tab);
            } else {
                document.getElementById("tab_nav_description").checked = true;
                document.getElementById("tab_description").style.display = "initial";
                window.history.replaceState("", "", "../description/");
                move_red_line("description");
            }

            if (getCookie('bookingsCookie')) {
                if (JSON.parse(getCookie('bookingsCookie')).includes({{base_info.id}})) {
                    document.getElementById('bookingadd').style.backgroundColor = "green";
                    document.getElementById('bookingadd').innerHTML = "In Buchungen vorhanden";
                }
            }
        });

        function setExperimentsForBooking(experimentCookie, newExperiment) {
            let values = Array()
            if (getCookie(experimentCookie) != null) {
                values = JSON.parse(getCookie(experimentCookie));
                if (values.includes({{base_info.id}})) {
                    document.getElementById('bookingadd').style.backgroundColor = "green";
                    document.getElementById('bookingadd').innerHTML = "In Buchungen vorhanden";
                } else {
                    values.push(newExperiment);
                    setCookie(experimentCookie, JSON.stringify(values), 0);
                    document.getElementById('bookingadd').style.backgroundColor = "green";
                    document.getElementById('bookingadd').innerHTML = "In Buchungen vorhanden";
                }
            } else {
                values.push(newExperiment);
                setCookie(experimentCookie, JSON.stringify(values), 0);
                document.getElementById('bookingadd').style.backgroundColor = "green";
                document.getElementById('bookingadd').innerHTML = "In Buchungen vorhanden";
            }
        }

    </script>

    <div style="display: none" id="{{ base_info.id }}" name="object_id"></div>
    <div class="fullpage_header solid_div" style="margin-bottom: 8px">
        <div class="solid_div">
            <span style="float:left">
                <div style="float: left">
                    <a href="/{{ path }}/?category={{ base_info.cpp_id }}"><button class="generic_button">
                        {{ base_info.token0 }}
                    </button></a>
                    <a href="/{{ path }}/?category={{ base_info.cp_id }}"><button class="generic_button">
                        {{ base_info.token1 }}
                    </button></a>
                    <a href="/{{ path }}/?category={{ base_info.c_id }}"><button class="generic_button">
                        {{ base_info.token2 }}
                    </button></a>
                    {% if path == "experiment" %}
                        <a href="/{{ path }}/?category={{ base_info.c_id }}&object={{ base_info.id }}"><button class="generic_button">
                            {{ base_info.number }}
                        </button></a>
                    {% endif %}
                    &nbsp;&nbsp;>>&nbsp;&nbsp;
                </div>
                <div style="float: left; margin-right: 2em">
                    <a href="/{{ path }}/?category={{ base_info.cpp_id }}"><button class="generic_button">
                        {{ base_info.cpp_name }}
                    </button></a>
                    <a href="/{{ path }}/?category={{ base_info.cp_id }}"><button class="generic_button">
                        {{ base_info.cp_name }}
                    </button></a>
                    <a href="/{{ path }}/?category={{ base_info.c_id }}"><button class="generic_button">
                        {{ base_info.c_name }}
                    </button></a>
                    {% if path == "experiment" %}
                        <a href="/{{ path }}/?category={{ base_info.c_id }}&object={{ base_info.id }}"><button class="generic_button">
                            {{ base_info.number }}
                        </button></a>
                    {% endif %}
                </div>
            </span>
            <span style="float:right">
                {% if path == 'experiment' %}
                    {% if user|has_group:"Schreiben - Eigene Buchungen" %}
                        <a href="javascript: setExperimentsForBooking('bookingsCookie', {{ base_info.id }})">
                            <button id="bookingadd"
                                    type="button"
                                    class="generic_button"
                                    style="width:auto;">
                        Zur aktuellen Buchung hinzufügen
                        </button></a>
                    {% endif %}
                {% endif %}
                {% if path == 'experiment' and user|has_group:"Schreiben - Versuche" or path == 'device' and user|has_group:"Schreiben - Geräte" %}
                    <a href=""
                       onclick="javascript:this.href = '/{{ path }}/{{ base_info.id }}/edit'+window.location.search;"
                       onauxclick="javascript:this.href = '/{{ path }}/{{ base_info.id }}/edit'+window.location.search;">
                    <button type="button" class="generic_button" style="width:auto">
                        Bearbeiten
                    </button></a>
                {% endif %}
                <a href="/{{ path }}/{{ base_info.id }}/previous/"><button type="button" class="generic_button" style="width:auto">
                ←
                </button></a>
                <a href=""
                   onclick="javascript:this.href = '/{{ path }}/'+window.location.search;"
                   onauxclick="javascript:this.href = '/{{ path }}/'+window.location.search;"><button type="button" class="generic_button" style="width:auto">
                    Übersicht
                </button></a>
                <a href="/{{ path }}/{{ base_info.id }}/next/">
                    <button type="button" class="generic_button" style="width:auto">
                    →
                </button></a>
            </span>
        </div>
        <div class="fullpage_h1">
            {% if base_info.status != 'available' %}
                {% if path == 'experiment' %}
                    {% include 'icons/ic_visibility_off_24px.svg' %}
                {% endif %}
            {% endif %}
            {{ base_info.title }}
        </div>
        <div class="tabbed">
            {% for key, value in tabs.items %}
                <input type="radio" name="tabs" id="tab_nav_{{ value.url_name }}">
                <label for="tab_nav_{{ value.url_name }}"
                       class="tabs_lab"
                       id="tab_lab_{{ value.url_name }}"
                       onclick="changeActiveTab('{{ value.url_name }}')">
                    {{ value.displayed_name }}
                </label>
            {% endfor %}
            <div id="tabs_red_line"></div>
        </div>
    </div>
    <div class="tabs">
        {% for key, value in tabs.items %}
            <div class="tab" id="tab_{{ value.url_name }}">
                <h2 class="h2 h2_{{ value.url_name }}">{{ value.displayed_name }}</h2>
                {% include value.template %}
            </div>
        {% endfor %}
    </div>
{% endblock %}