{% load user_tags %}


{% with current=tabs.administration.content.acvive_inventory already_in_inventory=tabs.administration.content.already_in_inventory %}
    {% if user|has_group:"Schreiben - Inventur" %}
        <h2>Inventur</h2>
        {% if current %}
            {% if already_in_inventory %}
                <strong>Das Gerät ist bereits von der aktuellen Inventur erfasst.</strong></br>
            {% else %}
                <strong>Zur Inventur {{ current.name }} hinzufügen:</strong>
                <div id="inventory_form">
                    <div class="content_container card form_container">
                        <div class="content_container card form_container input_field">
                            <label>Anmerkungen</label></br>
                            <textarea id="inventory_comment"></textarea>
                        </div>
                    </div>
                    <button type="submit" onclick="fullpageInventory($('#inventory_form'), {{ base_info.id }},
                            $('#inventory_comment').val(), false)">
                        Inventieren
                    </button>
                </div>
            {% endif %}
        {% else %}
            <strong>Zur Zeit ist keine Inventur aktiv.</strong>
        {% endif %}
    {% endif %}


    {% if tabs.administration.content.inventories|length > 0 and user|has_group:"Lesen - Inventur" %}
        <strong>Vorhanden in vorherigen Inventuren:</strong>
        <table class="alternating_list">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Startdatum</th>
                <th scope="col">Enddatum</th>
                <th scope="col">Zusatzinformationen</th>
                <th scope="col">Aktionen</th>
            </tr>
            </thead>
            <tbody>
            {% for inventory in tabs.administration.content.inventories %}
                <tr>
                    <td data-label="Name">{{ inventory.name }}</td>
                    <td data-label="Startdatum">{{ inventory.start }}</td>
                    <td data-label="Enddatum">{{ inventory.end }}</td>
                    <td data-label="Zusatzinformationen">{{ inventory.info|default:"<i>Keine zusätzliche Information</i>" }}</td>
                    <td data-label="Aktionen">
                        {% if inventory.id == current.id and already_in_inventory %}
                            <button class="red underline_button" onclick="fullpageInventory($('#inventory_form'), {{ base_info.id }},
                                    $('#inventory_comment').val(), true)">
                                {% include 'icons/x.svg' %} Entfernen
                            </button>
                        {% endif %}
                        <a href="/inventory/{{ inventory.id }}/view/"
                           class="blue underline_button">
                            {% include 'icons/ic_eye_24px.svg' %} Ansehen
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endwith %}

{% if user|has_group:"Lesen - Verleih" %}
    <h2>Verleihstatus</h2>
    <table class="alternating_list">
        <thead>
        <tr>
            <th scope="col">Verliehen von</th>
            <th scope="col">Verliehen an</th>
            <th scope="col">Verleihdatum</th>
            <th scope="col">Rückgabedatum</th>
            <th scope="col">Aktionen</th>
        </tr>
        </thead>
        <tbody>
        {% for loan in tabs.administration.content.loans %}
            <tr>
                <td data-label="Verliehen von">{{ loan.loaned_by }}</td>
                <td data-label="Verliehen an">{{ loan.loaned_to|default:"<i>E-Werkstatt</i>" }}</td>
                <td data-label="Verleihdatum">{{ loan.startdate }}</td>
                <td data-label="Rückgabedatum">{{ loan.enddate }}</td>
                <td data-label="Aktionen">
                    {% if inventory.id == current.id and already_in_inventory %}
                        <button onclick="fullpageInventory($('#inventory_form'), {{ base_info.id }},
                                $('#inventory_comment').val(), true)">
                            Entfernen
                        </button>
                    {% endif %}
                    <a href="/inventory/loan/{{ loan.id }}/view/" class="blue underline_button">
                        {% include 'icons/ic_eye_24px.svg' %} Ansehen
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}