<div id="deleteWarningModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal__content">
            <div class="modal-content">
                <div id="modal_warning_text">
                    Wirklich löschen?
                </div>
                <small id="small_warning">Diese Änderung kann nicht rückgängig gemacht werden.</small>
                <p>
                    <button class="delete_btn" name="delete_btn" id="modal_delete_button">Löschen</button>
                    <button class="close_btn">Abbrechen</button>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    var modal = document.getElementById("deleteWarningModal");
    var close_button = document.getElementsByClassName("close_btn")[0];
    var delete_button = document.getElementsByClassName("delete_btn")[0];
    var deletePath;

    function confirmDeletion(elementValue) {
        modal.style.display = "block";
        deletePath = elementValue.value;
    }

    function customConfirm(elementValue, warning_text, button_text, commit_text = "Diese Änderung kann nicht rückgängig gemacht werden.") {
        document.getElementById('modal_warning_text').textContent = warning_text;
        document.getElementById('modal_delete_button').textContent = button_text;
        document.getElementById('small_warning').textContent = commit_text;

        modal.style.display = "block";
        deletePath = elementValue.value;
    }

    close_button.onclick = function() {
        modal.style.display = "none";
    }

    delete_button.onclick = function(){
        modal.style.display = "none";
        window.open(deletePath, "_top");
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
