<img id="myImg" src="{{ src }}" alt="{{ caption }}" style="width:100%;max-width:300px">
<div id="img_modal" class="modal">
  <span class="img_close">{% include 'icons/x.svg' %}</span>
    <a href="{{ src }}" target="_blank">
        <img class="img_modal-content" id="img01">
    </a>
  <div id="caption">{{ caption }}</div>
</div>

<script>
    var img_modal = document.getElementById("img_modal");

    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function () {
        img_modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    var img_span = document.getElementsByClassName("img_close")[0];

    img_span.onclick = function () {
        img_modal.style.display = "none";
    }

    window.addEventListener('click', function(event) {
        if (event.target == img_modal) {
            img_modal.style.display = "none";
        }
    });
</script>