{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="text_error">
        <img class="image_error" src="{% static 'images/404.png' %}"/>
        Diese Seite
        (<script type="text/javascript">document.write(window.location.href.toString());</script>)
        wurde leider nicht gefunden.
        Anscheinend sind Sie auf einen toten Link gestoßen oder haben sich bei der Eingabe der URL vertippt.
        Sie können über die Kopfleiste in den von Ihnen gewünschten Bereich wechseln oder direkt nach Versuchen suchen.
    </div>
{% endblock %}