{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="text_error">
        <img class="image_error" src="{% static 'images/500.png' %}"/>
        Ups, das hätte nicht passieren dürfen! Beim Aufruf dieser Seite
        (<script type="text/javascript">document.write(window.location.href.toString());</script>)
        ist ein unbekannter interner Server Fehler aufgetreten.
    </div>
{% endblock %}