<!DOCTYPE html>
{% load static %}
{% load define_action %}
{% load user_tags %}
{% load custom_tags %}
<html lang="en">
<head>
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg'%}">
    <link rel="icon" type="image/png" href="{% static 'favicon.svg'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/vendors.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script id="MathJax-script"
            async
            src="/static/mathjax/tex-chtml.js"
            {%comment%} alternatively can be loaded from src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js{% endcomment %}>
    </script>
    <script src="/static/slick/slick.js"></script>
    <link rel="stylesheet" href="/static/slick/slick-theme.css">
    <script> //mathjax config
        MathJax = {
            options: {
                skipHtmlTags: [            //  HTML tags that won't be searched for math
                    'script', 'noscript', 'style', 'textarea', 'pre',
                    'code', 'annotation', 'annotation-xml'
                ],
                includeHtmlTags: {         //  HTML tags that can appear within math
                    br: '\n', wbr: '', '#comment': ''
                },
                ignoreHtmlClass: 'text2jax_ignore',    //  class that marks tags not to search
                processHtmlClass: 'tex2jax_process',  //  class that marks tags that should be searched
                compileError: function (doc, math, err) {doc.compileError(math, err)},
                typesetError: function (doc, math, err) {doc.typesetError(math, err)},
                renderActions: {}
            },
            startup: {
                pageReady() {
                    return MathJax.startup.defaultPageReady().then(function () {
                        $('.media-comment a').on('click', function (e) {
                            e.preventDefault();
                        });
                    });
                }
            }
        };
    </script>
    <title>{{ main_title|default:'Datenbank Physik' }}</title>
</head>
<body>
<script>
    document.addEventListener('DOMContentLoaded', function (event) {
        let offsetHeight = document.getElementById('header').offsetHeight;
        document.documentElement.style.scrollPaddingTop = String(offsetHeight) + "px";
    })
</script>
{% include 'base/header.html' %}
<main>
<div id="header_spacer"></div>
<div class="header_page">
    {% block second_title %}
    <div class="second_title">
        <div class="title_container">
            <span style="display:flex; flex-wrap: nowrap;">
                <h1>{{ main_title|default:'Datenbank Physik' }}&#160;</h1>
                <span style="color: #494949; font-size: .80em; top: 2em; position: relative; white-space: nowrap;" id="sub_title">{{ sub_title|default:'' }}</span>
            </span>
            <div class="content_button_container">
                {% if page_buttons %}
                    {% for button in page_buttons %}
                        {% if button|length > 2 and button.1 == 'color_delete' %}
                            <a href="{% url button.1 %}">
                                {% include button.2 %} {{ button.0 }}</a>
                        {% else %}
                            <a href="{% url button.1 %}">{% if button|length > 2 %}
                                {% include button.2 %} {% endif %} {{ button.0 }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% block page_buttons %}{% endblock %}
            </div>
        </div>
        {% block titel_extension_below %}
        {% endblock %}
        {% block tabs %}
        {% endblock %}
    </div>
    {% endblock %}
</div>
<div id="main_page">

    {% if messages %}
        {% for message in messages %}
            {% if 'comment' not in message.tags %}
                <div class="message_container alert-danger {{ message.tags }}">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
</div>

</main>
{% include 'base/footer.html' %}
</body>
{% block javascripts %}{% endblock %}
</html>