{% load static %}
<footer>
    <div style="height: 70px"></div>
    <div class="footer-basic">
        <a href="{% url "impressum" %}">Impressum</a> | <a href="{% url "datenschutz" %}">Datenschutzerklärung</a>
        <br/>
        <a href="mailto: vla@physik.tu-darmstadt.de" target="_top">vla@physik.tu-darmstadt.de</a>

        <div class="copyright">
            TU Darmstadt © 2021 - {% now "Y" %}
            {% if start_timestamp and view_timestamp %}
                |
                {{ start_timestamp|loading_time:view_timestamp }}
            {% endif %}
        </div>
    </div>
</footer>



