{# load static files #}
{% load static %}
{% load user_tags %}

<header>
    <div id="header_stripe_red"></div>
    <div id="header_stripe_white"></div>
    <div id="header_stripe_black"></div>

    <div id="header" class="max_width_container">
        <div>
            <a href="/"><div class="logo"><span>Demonstrations-<br>Versuche Physik</span></div>{% include 'icons/database.svg' %}</a>
        </div>
        <input id="search-input" type="text" placeholder="Suche..." autocomplete="off">
        <div style="justify-self: right; white-space: nowrap">
            <a href="{% url 'experiments' %}">{% include 'icons/experiment.svg' %}<span> Versuche</span></a>
            {% if user|has_group:"Lesen - Geräte" or user|has_group:"Lesen - Label" or user|has_group:"Lesen - Inventur" or user|has_group:"Lesen - Verleih" %}
                <div class="dropdown_anchor">
                    <a style="cursor: pointer;" onclick="toggleDropDownClick('dropdownDevices')" class="filled">{% include 'icons/device.svg' %}<span> Inventar</span></a>
                    <div id="dropdownDevices" class="dropdownLogin-form">
                        {% if user|has_group:"Lesen - Geräte" %}
                            <a href="{% url 'devices' %}">Geräte</a><br>
                        {% endif %}
                        {% if user|has_group:"Lesen - Label" %}
                            <a href="{% url 'label' %}">Labels</a><br>
                        {% endif %}
                        {% if user|has_group:"Lesen - Inventur" %}
                            <a href="{% url 'inventory' %}">Inventur</a><br>
                        {% endif %}
                        {% if user|has_group:"Lesen - Verleih" %}
                            <a href="{% url 'loan' %}">Verleih/Reparatur</a><br>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if user|has_group:"Schreiben - Eigene Buchungen" %}
                <a href="{% url 'private_bookings' %}" class="filled">{% include 'icons/ic_today_48px.svg' %}<span> Buchungen</span></a>
            {% endif %}
            <div class="dropdown_anchor">
                {% if user.is_authenticated %}
                    <a style="cursor: pointer;" onclick="toggleDropDownClick('dropdownUser')" class="filled">
                        {% include 'icons/ic_person_48px.svg' %}<span> {{ request.user.username }}</span></a>
                    <div id="dropdownUser" class="dropdownLogin-form">
                        {% if user|has_group:"Lesen - Nutzer" %}
                            <a href="{% url 'user' %}">Nutzerübersicht</a>
                            <br>
                        {% endif %}
                        {% if user|has_group:"Lesen - Änderungen" %}
                            <a href="{% url 'commits' %}">Änderungen</a>
                            <br>
                        {% endif %}
                        {% if user|has_group:"Lesen - Änderungen" %}
                            <a href="{% url 'unconfirmed_commits' %}">Offene Änderungen</a>
                            <br>
                        {% endif %}
                        {% if user|has_group:"Lesen - Versuche - Tab öffentliche Kommentare" or user|has_group:"Lesen - Versuche - Tab Interna VLA" or user|has_group:"Lesen - Versuche - Tab Interna Demo" %}
                            <a href="{% url 'comments' %}">Kommentare</a>
                            <br>
                        {% endif %}
                        {% if user|has_group:"Sicherheitsstufe - VLA" %}
                            <a href="/edit_content/">Inhalte Bearbeiten</a>
                            <br>
                        {% endif %}
                        <a href="{% url 'profile' %}">Profil</a><br>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                {% else %}
                    <a style="cursor: pointer;" onKeyDown="toggleDropDownButton(event, 'dropdownUser')"
                       onclick="toggleDropDownClick('dropdownUser')"
                       class="filled">{% include 'icons/ic_person_48px.svg' %}<span> Login</span></a>
                    {% include 'accounts/loginForm.html' %}
                {% endif %}
            </div>
        </div>
    </div>
</header>
