{% extends 'base/base.html' %}

{% block content %}
    <form method="POST" onsubmit="return (typeof submitted == 'undefined') ? (submitted = true) : !submitted">
        <div class="content_container card form_container">
            {% csrf_token %}
{#            {% for message in messages %}#}
{#                <div class="alert alert-danger" style="color: red">{{ message }}</div>#}
{#            {% endfor %}#}
            <h1 class="h3 mb-3 font-weight-normal">{{ sub_text|default:'Um auf diese Seite zugreifen zu können müssen sie sich einloggen.' }}</h1>
            <div class="content_container card form_container input_field">
                <label for="id_username">Nutzername</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputName" class="form-control"
                       required autofocus>
            </div>
            <div class="content_container card form_container input_field">
                <label for="id_password">Passwort</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>

        </div>
        <button type="submit">
            Login
        </button>
    </form>
{% endblock %}



