<form action="{% url 'login' %}" id="dropdownUser" class="dropdownLogin-form" method="POST">
    {% csrf_token %}
    <label for="id_username">Nutzername</label><br>
    <input type="text" name="username" id="inputName" class="form-control" placeholder="Nutzername" required autofocus><br>
    <label for="id_password">Passwort</label><br>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Passwort" required><br>
    <input type="hidden" name="next" value="{{ request.path }}">
    <button type="submit" class="btn btn-sucess">
        Login
    </button>
</form>
