{% extends "base/base.html" %}

{% block page_buttons %}
    {% include 'modal/delete.html' %}
    <button type="submit" id="confirm_deletion" value="" style="display:none"
            onclick="getUrl(this); customConfirm(this, 'Preset wirklich löschen?', 'Löschen')">{% include 'icons/delete.svg' %} Löschen
    </button>
{% endblock %}
{% block content %}
    <script>
        $(document).ready(function () {
            $('#id_preset').select2({ width: '100%'});
        });
    </script>
    <form method="POST" onsubmit="return (typeof submitted == 'undefined') ? (submitted = true) : !submitted">
        <div class="content_container card form_container">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="content_container card form_container input_field" id="{{ field.name }}">
                    {{ field.label_tag }}<br/>
                    {{ field }}<br/>
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ field.errors|escape }}</strong>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button type="submit">{% include 'icons/ic_publish_24px.svg' %} Speichern</button>
    </form>
{% endblock %}

{% block javascripts %}
    {# load javascript if passed by context view #}
    {% if color_data %}
        {{ color_data|json_script:"color_data" }}
        <script>
            /**
             * Builds a JSON compatible List of all colors from the database, used to style
             * the select2 options
             * @returns {*[]} the JSON compatible list of entries
             */
            function buildColorList() {
                let color_data = JSON.parse(document.getElementById('color_data').textContent);
                let data = [color_data.length];
                for (let i = 0; i < color_data.length; i++) {
                    data[i] = {
                        id: color_data[i][0],
                        text: color_data[i][1],
                        html: color_data[i][2],
                    };
                }
                return data;
            }

            $(document).ready(function () {
                var data = buildColorList();

                $('.color_select').select2({
                    width: '100%',
                    data: data,
                    escapeMarkup: function (markup) {
                        return markup;
                    },
                    templateResult: function (data) {
                        return data.html;
                    },
                    templateSelection: function (data) {
                        return data.html;
                    }
                })
            });
        </script>
    {% endif %}
    {% if js_script %}
        {% if initial %}
            {{ initial|json_script:"initial" }}
            <script type="text/javascript">
                window.onload = function () {
                    let current = document.getElementById('id_groups').value;
                    if (current != '') {
                        current = JSON.parse(current);
                        current.forEach(e => addDependencies(e));
                    } else {
                        const initial = JSON.parse(document.getElementById('initial').textContent);
                        let encoded = []
                        for (let i = 0; i < initial.length; i++) {
                            encoded.push({
                                "value": initial[i].id,
                                "name": initial[i].name,
                                "clean_name": escapeUserHtml(initial[i].name),
                                "write": getWriteToken(initial[i].name)
                            });
                        }
                        encoded.forEach(e => perm.addTags([e]));
                    }
                };
            </script>
        {% endif %}
        {% include "js/select_permission_presets_js.html" %}
    {% endif %}
{% endblock %}
