{% extends "base/base.html" %}
{% load user_tags %}

{% block content %}
    {% include 'modal/delete.html' %}
    {% if user_list|length > 0 %}
        <table class="alternating_list">
            <thead>
                <th scope="col">Name</th>
                <th scope="col">E-Mail</th>
                <th scope="col">Rolle</th>
                <th scope="col">Aktionen</th>
            </thead>
            <tbody>
            {% for u in user_list %}
                <tr>
                    <td data-label="Name">
                        <div class="user_color">
                            <div class="user_color_circle" style="background-color: {{ u.get_color }}"></div>
                            {{ u.username }}
                        </div>
                    </td>
                    <td data-label="E-Mail">{{ u.email }}</td>
                    <td data-label="Rolle">{{ u.preset|default:"<i>Benutzerdefiniert</i>" }}</td>
                    <td data-label="Aktionen">
                        {% if buttons %}
                            <div>
                                {% for button in buttons %}
                                    {% if button.2 == 'user_delete' %}
                                        <button id="confirm_deletion" value="{% url button.2 u.id %}"
                                                class="{{ button.1 }} underline_button"
                                                onclick="customConfirm(this, 'Nutzer {{ u.username }} wirklich löschen?', 'Löschen')">
                                            {% if button|length > 3 %}
                                                {% include button.3 %}{% endif %}{{ button.0 }}
                                        </button>
                                    {% else %}
                                        <a id="{{ button.2 }}" href="{% url button.2 u.id %}" class="{{ button.1 }} underline_button">
                                            {% if button|length > 3 %}
                                                {% include button.3 %}{% endif %}{{ button.0 }}</a>
                                    {% endif %}

                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
