{% load user_tags %}

{% include 'modal/delete.html' %}
<div style="border: 1px solid #ddd;">
    <div class="collapsible"
         style="text-align: center;">
        {% if timeline == "future" %}
            Buchungen in der Zukunft
        {% else %}
            Buchungen in der Vergangenheit
        {% endif %}
    </div>
    <div class="content search_show_on_input" {% if timeline == "past" %}style="display: none;" {% endif %}>
        <table class="alternating_list alternating_list_extendable alternating_list_searchable">
            <thead>
            <tr>
                <th scope="col">Buchungsdatum</th>
                <th scope="col">Buchungsname</th>
                <th scope="col">Nutzername</th>
            </tr>
            </thead>
            <tbody>
            {% for booking in bookings_query %}
                <tr class="search_entry">
                    <td data-label="Buchungsdatum">{{ booking.lecture_date|date:'d.m.Y H:i' }}</td>
                    <td class="search_booking_name" data-label="Buchungsname">{{ booking.name }}</td>
                    <td class="search_user_name" data-label="Nutzername">
                        <div class="user_color">
                            <div class="user_color_circle"
                                 style="background-color: {{ booking.user.color.color|default:'#b3b3b3' }}"></div>
                            {{ booking.user.username }}
                        </div>
                    </td>
                </tr>
                <tr class="search_hide_on_input"
                    style="display: none">
                    <td colspan="3">
                        <div class="alternating_list_grid">
                            <span>Versuche:</span>
                            <div>
                                {% for experiment in bookings_query_experiment %}
                                    {% if experiment.reservation_id == booking.id %}
                                        <div class="content_button_container"
                                             style="float: left;
                                                    margin: 0;">
                                            <a href="/experiment/{{ experiment.experiment.id }}/">
                                                {{ experiment.experiment.name }}</a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <span>Kommentar:</span>
                            <div>{{ booking.comment|bbcode|safe }}</div>
                            <span>Nachricht :</span>
                            <div>
                                {{ booking.message|bbcode|safe|default:"" }}<br>
                                {% if user|has_group:"Lesen - Alle Buchungen" %}
                                    <div class="content_button_container" style="grid-column: 1 / -1; float: right;">
                                        <a href="mailto:{{ booking.user.email }}?subject=Betreffend%20die%20Buchung%20&quot;{{ booking.name }}&quot;%20am%20{{ booking.lecture_date }}"
                                           , style="margin-right: 2em;">
                                            Kontaktieren</a>
                                        <button id="confirm_deletion" value="{% url 'delete_booking' booking.id 'dont_send_mail' %}"
                                                class="generic_button commit_button_decline"
                                                style="margin-bottom: .5em;"
                                                onclick="customConfirm(this, 'Buchung wirklich löschen?', 'Löschen')">
                                            Buchung löschen
                                        </button>
                                    </div>
                                {% elif user|has_group:"Schreiben - Eigene Buchungen" %}
                                    {% if timeline == "future" %}
                                        <div class="content_button_container"
                                             style="grid-column: 1 / -1;
                                                    float: right;">
                                            <button id="confirm_deletion"
                                                    value="{% url 'delete_booking' booking.id 'send_mail' %}"
                                                    class="generic_button commit_button_decline"
                                                    style="padding: 8px 8px;
                                                           margin-bottom: .5em;"
                                                    onclick="customConfirm(this, 'Buchung wirklich stornieren?', 'Stornieren', 'Es wird eine Benachrichtigung an die VLA gesendet.')">
                                                Buchung stornieren
                                            </button>
                                        </div>
                                    {% else %}
                                        <div class="content_button_container"
                                             style="grid-column: 1 / -1;
                                                    float: right;">
                                            <button id="confirm_deletion"
                                                    value="{% url 'delete_booking' booking.id 'dont_send_mail' %}"
                                                    class="generic_button commit_button_decline"
                                                    style="padding: 8px 8px;
                                                           margin-bottom: .5em;"
                                                    onclick="customConfirm(this, 'Buchung wirklich löschen?', 'Löschen')">
                                                Buchung löschen
                                            </button>
                                        </div>
                                        {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>