{% extends 'base/base.html' %}
{% load user_tags %}
{% block page_buttons %}
    {% if user|has_group:"Lesen - Alle Buchungen" %}
        <a href="{% url 'all_bookings' %}">Alle Buchungen anzeigen</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="content_container card form_container">
        <div class="bookings_main">Neue Buchung vornehmen:</div>
        <form method="POST" style="width: initial !important" onsubmit="return (typeof submitted == 'undefined') ? (submitted = true) : !submitted">
            {% csrf_token %}
            <div class="content_container card form_container input_field_bookings">
                <div class="bookings_categories">Name der Buchung:</div>
                {{ form.name }}
                <div class="bookings_categories">Zeitpunkt der Vorlesung:</div>
                {{ form.date }}
                <div class="bookings_categories">Kommentar:</div>
                <div class="comment_container_bookings">
                {% include 'forms/editor.html' with class="comment" txt=form.comment id=form.comment.id_for_label %}
                </div>
                <div class="bookings_categories">Nachricht an die VLA:</div>
                <div class="comment_container_bookings">
                {% include 'forms/editor.html' with class="comment" txt=form.message_vla id=form.message_vla.id_for_label %}
                </div>
                <div style="padding-top: 1em">{{ form.experiment }}</div>
            </div>
            <button type="submit"
                    style="float: left;
                           margin-left: .5em;">
                Buchung absenden
            </button>
            <div id="prep_Time"
                 class="message_container alert-danger"
                 style="display: None;
                        float: left;
                        padding: 0 2em;
                        margin-left: 2em;
                        margin-bottom: 0;">
                Die Vorbereitungsdauer wird nicht eingehalten!
            </div>
            <div id="experiment_select"
                 class="message_container alert-danger"
                 style="display: None;
                        float: left;
                        padding: 0 2em;
                        margin-left: 2em;
                        margin-bottom: 0;">
                Sie haben keine Versuche ausgewählt!
            </div>
        </form>
    </div>

    <div class="user_table_head3"
         style="font-size: 1.5em;
                font-weight: bold;
                padding-top: 1.5em;">
        <span3>Übersicht meiner Buchungen</span3>
    </div>
    <br><br>
    {% with bookings_query=bookings_query_future bookings_query_experiment=bookings_query_experiment timeline="future" %}
        {% include "bookings/bookings_list.html" %}
    {% endwith %}
    {% with bookings_query=bookings_query_past  bookings_query_experiment=bookings_query_experiment timeline="past" %}
        {% include "bookings/bookings_list.html" %}
    {% endwith %}

    <script type="text/javascript">
        function applyFlatpickr(parent) {
            calendar = flatpickr(parent.find(".datetimefield"), {
                enableTime: true,
                enableSeconds: false,
                minDate: new Date(),
                defaultDate: new Date(),
                dateFormat: "Y-m-d H:i:S",
                minuteIncrement: 1,
                onChange: function (selectedDates, dateStr, instance) {
                    let now = new Date();
                    if (selectedDates.length === 1) {
                        let preparationDate = new Date(selectedDates[0].getTime());
                        preparationDate.setMinutes(preparationDate.getMinutes() - getExperimentsPreparationTime());
                        if (now > preparationDate) {
                            document.getElementById('prep_Time').style.display = '';
                        } else {
                            document.getElementById('prep_Time').style.display = 'none';
                        }
                    }
                },
            });
        }

        {% comment %} Makes DateTimeFields Show Picker {%  endcomment %}
        {% comment %} This code activates flatpickr on fields with the 'datetimefield' class when the document has loaded {%  endcomment %}
        window.addEventListener("DOMContentLoaded", function () {
            applyFlatpickr($(document))
        });
    </script>
    {% include 'bookings/search_js.html' %}
    {% include 'bookings/form_js.html' %}
{% endblock %}