{% extends 'base/base.html' %}


{% block content %}
{# load static files #}
{% load user_tags %}
{% load static %}

        <p>Telefon: +49 6151 16 20 053<br />
        E-Mail: <a href="mailto:vla@physik.tu-darmstadt.de" target="_top">vla@physik.tu-darmstadt.de</a>
        </p>
<br />
<br />

<p>Technische Universit&auml;t Darmstadt<br />
    Fachbereich Physik <br />
        Hochschulstra&szlig;e 6<br />
        64289 Darmstadt</p>


{% endblock %}