{% include 'welcome/loading.html' %}
<div class='carousel'>
    {% for presented in presented_list %}
        <div class='carousel-cell'>
            <a href="{% url 'experiment_view' presented.0.id %}">
                {% if presented.1 %}
                    <img src='{{ MEDIA_URL }}{{ presented.1 }}' alt=""/>
                {% else %}
                    <div class="img_container" style="color: grey">
                        {% include 'icons/experiment.svg' %}
                    </div>
                {% endif %}
                <div class='media-comment'>
                    {{ presented.0.name }}
                </div>
            </a>
        </div>
    {% endfor %}
</div>

<script>
    $(document).ready(function () {
        let amount = {{ presented_list|length }};
        $('.carousel').slick({
            dots: amount > 1,
            autoplay: true,
            autoplaySpeed: 5000,
            {#infinite: false,#}
            {#speed: 300,#}
            centerMode: true,
            variableWidth: true,
            mobileFirst: true,
        });
    })
</script>