{% extends 'base/base.html' %}
{% load custom_tags %}
{% load user_tags %}

{% block second_title %}{% endblock %}
{% block content %}
    {% load static %}
    <div class="main_logo">
        <div>
            <div class="db_logo">
                {% include 'icons/database_white.svg' %}
            </div>
            <span>
                <small>
                <div id="hidden_logo">
                    {% include 'icons/database_white.svg' %}
                </div>
                    {% if user.is_authenticated %}
                        Willkommen {{ user.username }}!
                    {% else %}
                        Willkommen!
                    {% endif %}
                </small>
                <br>
                <strong>
                    Demonstrationsversuche des Fachbereichs Physik der TU Darmstadt
                </strong>
            </span>
        </div>
    </div>
    <div class="slideshow_container">
        {% if presented_list|length > 0 %}
            <div id="slideshow_anchor">
                {% include 'welcome/slideshow.html' %}
            </div>
        {% endif %}
        {% if form %}
            <div class="help_button_container">
                <button state="edit" class="show_presention" type="button" onclick="toggleSlideshowButton(this);">
                    Bearbeiten
                </button>
            </div>
            <div id="slideshow_form" style="display: none">
                <form onsubmit="return (typeof submitted == 'undefined') ? (submitted = true) : !submitted">
                    {{ form.experiment }}
                </form>
            </div>
            {{ experiment_list|json_script:"experiment_list" }}
        {% endif %}
    </div>

    <div class="overview_container">
        <div class="sub_text">
            {{ welcometext|bbcode|safe }}
            </span>
        </div>

        <h1>Übersicht</h1>
        <div class="welcome_buttons">
            <div class="welcome_card">
                <a target="_blank" href="{% static '/files/gefaehrdungsbeurteilung.pdf' %}" class="card__title">
                    {% include 'icons/exclamation-triangle-fill.svg' %}
                    <span class="card__title">Gefährdungsbeurteilung</span>
                </a>
            </div>
            <div class="welcome_card">
                <a href="{% url 'kontakt' %}" class="card__title">
                    {% include 'icons/envelope-paper-fill.svg' %}
                    <span class="card__title">Kontakt</span>
                </a>
            </div>
            <div class="welcome_card">
                <a href="https://www.physik.tu-darmstadt.de/study/vorlesungsassistenz_1/fgvvfgvorbereitungallgemein.de.jsp"
                   class="card__title" target="_blank" rel="noopener noreferrer">
                    {% include 'icons/house-door-fill.svg' %}
                    <span class="card__title">Vorlesungsassistenz Physik</span>
                </a>
            </div>
        </div>

        <div class="help_button_container">
            <button type="submit" onclick="$('#help_anchor').slideToggle()">Hilfe</button>
        </div>
    </div>


    <div id="help_anchor" class="help_container" style="display: none">
        <h1>Hilfe zur Nutzung</h1>
        <div class="button_grid">
            <button class="show_presention" onclick="openExplanation('guest')"><a>Gäste</a></button>
            <button class="show_presention" onclick="openExplanation('user')"><a>Dozierende</a></button>
            <button class="show_presention" onclick="openExplanation('faq')"><a>FAQ</a></button>
        </div>
        <div id="guest" class="role">
            {{ helptab_guests|bbcode|safe }}
        </div>

        <div id="user" class="role" style="display:none">
            {{ helptab_lecturer|bbcode|safe }}
        </div>

        <div id="faq" class="role" style="display:none">
            {{ helptab_faq|bbcode|safe }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        function openExplanation(role) {
            var i;
            var x = document.getElementsByClassName("role");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(role).style.display = "block";
        }

        {% if form %}
            function toggleSlideshowButton(button) {
                $('#slideshow_form').slideToggle();
                if (button.getAttribute('state') == 'edit') {
                    button.classList.add('red');
                    button.textContent = "Speichern";
                    button.setAttribute('state', 'save');
                } else {
                    button.classList.remove('red');
                    button.textContent = "Bearbeiten";
                    button.setAttribute('state', 'edit');
                    changePresented();
                }

            }

            function changePresented() {
                let presented = $('textarea[name=experiment]').val();
                $.ajax({
                    url: "/presented/",
                    type: 'POST',
                    data: {
                        presented: presented,
                    },
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    beforeSend: function () {
                        $('#loading_spinner').show();
                    }
                }).done(function (response) {
                    $('#loading_spinner').hide();
                    $('#slideshow_anchor').html(response);
                })

            }

            const experiment_list = JSON.parse(document.getElementById('experiment_list').textContent);
            var input = document.querySelector('textarea[name=experiment]')
            var exp = new Tagify(input, {
                whitelist: experiment_list.map(({id, name}) => ({
                    value: id, name: name, clean_name: escapeUserHtml(name),
                    style: paintExp(name)
                })),
                enforceWhitelist: true,
                tagTextProp: 'clean_name',
                editTags: false,
                dropdown: {
                    placeAbove: false,
                    enabled: 0,
                    mapValueTo: 'name',
                    highlightFirst: true,
                    searchKeys: ['name'],
                    maxItems: 50,
                },
            })
        {% endif %}
    </script>
{% endblock %}