{% extends 'base/base.html' %}

{% load user_tags %}
{% load cache %}

{% block page_buttons %}
    <div style="display: inline-flex">
        <a style="pointer-events: none;">{% include 'icons/view_list.svg' %}</a>
        <label style="position: relative; display: inline-block; width: 60px; height: 34px;">
            <input id="switch_card_list" type="checkbox" onchange="toggleCardView(this)" style="display: none">
            <span class="viewmode round"></span>
        </label>
        <a style="pointer-events: none;">{% include 'icons/image-24px.svg' %}</a>
    </div>
{% endblock %}

{% block content %}

    <script>
        let objects;
        let titles;
        let object_likes;
        let object_container;

        let show_titles = true;

        document.addEventListener("DOMContentLoaded", function () {
            objects = document.getElementsByClassName("object")
            titles = document.getElementsByClassName("title");
            object_likes = document.getElementsByClassName("object_like");
            object_container = document.getElementById("all_objects");
            if (getCookie("{{ path }}_use_card_view") === "1") {
                document.getElementById('switch_card_list').checked = true;
                switchToCardView();
            } else {
                switchToListView();
            }

            let parameters = new URLSearchParams(window.location.search);

            let do_search = true;
            if (parameters.has('category')) {
                do_search = false;
                let category_id;
                category_id = parameters.get('category');

                let category = document.getElementById(category_id);
                if (category.dataset.level !== 'cpp') {
                    toggleCategoryVisibility(category.dataset.belongs_to_cpp, "children_only");
                }
                if (category.dataset.level === 'category') {
                    toggleCategoryVisibility(category.dataset.belongs_to_cp, "children_only");
                }
                toggleCategoryVisibility(category_id, "children_only");
            }

            if (parameters.has('search_checklist')) {
                let actual_checklist = document.getElementsByClassName('search_checklist')
                let supposed_checklist = parameters.get('search_checklist').split('|');
                for (let i = 0, n = actual_checklist.length; i < n; i++) {
                    if (supposed_checklist.includes(actual_checklist[i].dataset.checkbox_id)) {
                        actual_checklist[i].checked = true;
                    } else {
                        actual_checklist[i].checked = false;
                    }
                }
            }
            if (parameters.has('sort_by')) {
                document.getElementById('select_sort_by').value = parameters.get('sort_by');
                selectSortBy();
            }
            if (do_search) {
                onInputSearch();
            }

            if (parameters.has('object')) {
                let object_id = parameters.get('object');
                document.getElementById("object_scroll_id" + object_id).scrollIntoView();
            }
        });

        function switchToCardView() {
            object_container.classList.add("grid_container");
            object_container.classList.remove("list_container");
            let spans = document.getElementsByName("status_list");
            for (let i = 0; i < spans.length; i++){
                spans[i].style.display = "none";
            }
            for (let i = 0; i < titles.length; i++) {
                titles[i].classList.add("grid_title");
                titles[i].classList.remove("list_title");
            }
            for (let i = 0; i < objects.length; i++) {
                objects[i].classList.add("grid_item");
                objects[i].classList.remove("list_item");
            }
        }

        function switchToListView() {
            object_container.classList.add("list_container");
            object_container.classList.remove("grid_container");
            let spans = document.getElementsByName("status_list");
            for (let i = 0; i < spans.length; i++){
                spans[i].style.display = 'grid';
            }
            for (let i = 0; i < titles.length; i++) {
                titles[i].classList.add("list_title");
                titles[i].classList.remove("grid_title");
            }
            for (let i = 0; i < objects.length; i++) {
                objects[i].classList.add("list_item");
                objects[i].classList.remove("grid_item");
            }
        }

        function toggleCardView(switch_element) {
            if (switch_element.checked) { // enable card view
                setCookie("{{ path }}_use_card_view", "1", 365);
                switchToCardView();
            } else {
                setCookie("{{ path }}_use_card_view", "0", 365);
                switchToListView();
            }
        }

        // please apologize for this mess :(
        function onInputSearch() {
            let clean_search_input = document.getElementById('search-input').value.toLowerCase().replace(search_term_regex, "");
            let search_terms = clean_search_input.split(' ').filter(item => item);

            {% if path == "device" %}
                let loaned_checkbox_checked = document.getElementById("loaned_checkbox").checked;
                let repair_checkbox_checked = document.getElementById("repair_checkbox").checked;
                let ifp_code_bool_checkbox_checked = document.getElementById("ifp_code_bool_checkbox").checked;
                let inventory_number_bool_checkbox_checked = document.getElementById("inventory_number_bool_checkbox").checked;
            {% endif %}

            {% for key, value in search_checklist.items %}
                let {{ key }}_checkbox_checked = document.getElementById("{{ key }}_checkbox").checked;
            {% endfor %}

            updateUrlParamInPlace("search_input", clean_search_input);

            let actual_checklist = document.getElementsByClassName('search_checklist');
            let search_checklist = ""
            for (let i = 0, n = actual_checklist.length; i < n; i++) {
                if (actual_checklist[i].checked) {
                    search_checklist += actual_checklist[i].dataset.checkbox_id + "|";
                }
            }
            updateUrlParamInPlace("search_checklist", search_checklist.slice(0, -1));

            setCookie("{{ path }}_search_input", clean_search_input);
            let amount_of_objects = 0;
            if (search_terms.length > 0 {% if path == "device" %}
                || (search_terms.length === 0
                    && (loaned_checkbox_checked
                        || repair_checkbox_checked
                        || ifp_code_bool_checkbox_checked
                        || inventory_number_bool_checkbox_checked)) {% endif %}) {
                deleteUrlParamInPlace("category");
                let categories_to_show = new Set();
                for (let i = 0, n = objects.length; i < n; i++) {
                    let text_content = "";
                    let object = objects[i];

                    {% for key, value in search_checklist.items %}
                        if ({{ key }}_checkbox_checked) {
                            text_content += object.dataset.{{ key }};
                        }
                    {% endfor %}

                    text_content = text_content.toLowerCase().replace(text_content_regex, "");

                    // remove object row as soon as we find a search term that is not present
                    let hide_object;
                    for (let j = 0, n = search_terms.length; j < n; j++) {
                        if (!(text_content.indexOf(search_terms[j]) > -1)) {
                            hide_object = true;
                            break;
                        } else {
                            hide_object = false;
                        }
                    }

                    {% if path == "device" %}
                        if ((loaned_checkbox_checked)
                            && (object.dataset.loaned !== "True")) {
                            hide_object = true;
                        }
                        if ((repair_checkbox_checked)
                            && (object.dataset.repair !== "True")) {
                            hide_object = true;
                        }
                        if ((ifp_code_bool_checkbox_checked)
                            && (object.dataset.ifp_code_bool !== "True")) {
                            hide_object = true;
                        }
                        if ((inventory_number_bool_checkbox_checked)
                            && (object.dataset.inventory_number_bool !== "True")) {
                            hide_object = true;
                        }
                    {% endif %}

                    if (hide_object) {
                        object.style.display = 'none';
                        object.dataset.object_visibility_by_search = 'invisible';
                        object.dataset.object_visibility_by_category = 'invisible';
                        object.dataset.object_visibility_by_cp = 'invisible';
                        object.dataset.object_visibility_by_cpp = 'invisible';
                    } else {
                        amount_of_objects++;
                        object.style.display = 'grid';
                        object.dataset.object_visibility_by_search = 'visible';
                        object.dataset.object_visibility_by_category = 'visible';
                        object.dataset.object_visibility_by_cp = 'visible';
                        object.dataset.object_visibility_by_cpp = 'visible';
                        categories_to_show.add(document.getElementById(object.dataset.belongs_to_category));
                        categories_to_show.add(document.getElementById(object.dataset.belongs_to_cp));
                        categories_to_show.add(document.getElementById(object.dataset.belongs_to_cpp));
                    }
                }

                for (let i = 0, n = titles.length; i < n; i++) { // make all titles invisible except for cpps
                    if (titles[i].dataset.level !== "cpp") {
                        titles[i].style.display = "none";
                    }
                    titles[i].dataset.object_visibility_by_search = 'invisible';
                    titles[i].dataset.object_visibility_by_category = 'invisible';
                    titles[i].dataset.object_visibility_by_cp = 'invisible';
                    titles[i].dataset.object_visibility_by_cpp = 'invisible';
                    titles[i].dataset.children_visibility = 'closed';
                }

                categories_to_show.forEach(function(category) { // except for the ones that have relevant children
                    category.style.display = "grid";
                    category.dataset.object_visibility_by_search = 'visible';
                    category.dataset.object_visibility_by_category = 'visible';
                    category.dataset.object_visibility_by_cp = 'visible';
                    category.dataset.object_visibility_by_cpp = 'visible';
                    category.dataset.children_visibility = 'open';
                })
                if (!show_titles) {
                    for (let i = 0, n = titles.length; i < n; i++) {
                        titles[i].style.display = "none";
                    }
                }

            } else { // searchfield is empty
                for (let i = 0, n = object_likes.length; i < n; i++) { // make all titles invisible except for cpps
                    if (object_likes[i].dataset.level !== "cpp") {
                        object_likes[i].style.display = "none";
                    } else if (object_likes[i].dataset.level === "cpp") {
                        object_likes[i].style.display = 'grid';
                    }
                    if ((object_likes[i].dataset.level === "cpp") && !show_titles) {
                        object_likes[i].style.display = "none";
                    }
                    object_likes[i].dataset.object_visibility_by_search = 'visible';
                    object_likes[i].dataset.object_visibility_by_category = 'invisible';
                    object_likes[i].dataset.object_visibility_by_cp = 'invisible';
                    object_likes[i].dataset.object_visibility_by_cpp = 'invisible';
                    object_likes[i].dataset.children_visibility = 'closed';
                }
                if (!show_titles) {
                    for (let i = 0; i < objects.length; i++) {
                        objects[i].style.display = 'grid';
                    }
                }
                amount_of_objects = objects.length;
            }
            document.getElementById("sub_title").textContent = String(amount_of_objects) + " Ergebnisse";
        }

        function toggleCategoryVisibility(category_id, scope) {
            let category = document.getElementById(category_id);
            let toggled_elements = document.querySelectorAll( // get all relevant child elements for specified category
                "[data-belongs_to_category='" + category_id + "']," +
                "[data-belongs_to_cp='" + category_id + "']," +
                "[data-belongs_to_cpp='" + category_id + "']");
            if (category.dataset.children_visibility === "open") { // if open then close and hide all childs
                category.dataset.children_visibility = "closed";
                category.getElementsByClassName("category_open_arrow")[0].innerHTML = `{% include "icons/chevron-right.svg" %}`;
                for (let i = 0; i < toggled_elements.length; i++) {
                    if (toggled_elements[i].dataset.level !== "object") {
                        toggled_elements[i].getElementsByClassName("category_open_arrow")[0].innerHTML = `{% include "icons/chevron-right.svg" %}`;
                    }
                    toggled_elements[i].dataset.children_visibility = "closed";
                    toggled_elements[i].style.display = 'none';
                    toggled_elements[i].dataset.object_visibility_by_category = 'invisible';
                    toggled_elements[i].dataset.object_visibility_by_cp = 'invisible';
                    toggled_elements[i].dataset.object_visibility_by_cpp = 'invisible';
                }
            } else {  // if closed we must find out which childs to open
                category.dataset.children_visibility = "open";
                category.getElementsByClassName("category_open_arrow")[0].innerHTML = `{% include "icons/chevron-down.svg" %}`;
                if (scope === "children_only") {
                    for (let i = 0, n = toggled_elements.length; i < n; i++) {
                        if (toggled_elements[i].dataset.object_visibility_by_search === 'visible') { // if not visible by search do not bother
                            if (category.dataset.level === "category") {
                                toggled_elements[i].dataset.object_visibility_by_category = 'visible';
                                toggled_elements[i].style.display = 'grid';
                            } else if (category.dataset.level === "cp") {
                                toggled_elements[i].dataset.object_visibility_by_cp = 'visible';
                                if (toggled_elements[i].dataset.level === "category") {
                                    toggled_elements[i].style.display = 'grid';
                                } else if (toggled_elements[i].dataset.level === "object") {
                                    if (toggled_elements[i].dataset.object_visibility_by_category === 'visible') {
                                        toggled_elements[i].style.display = 'grid';
                                    }
                                }
                            } else if (category.dataset.level === "cpp") {
                                toggled_elements[i].dataset.object_visibility_by_cpp = 'visible';
                                if (toggled_elements[i].dataset.level === "cp") {
                                    toggled_elements[i].style.display = 'grid';
                                } else if (toggled_elements[i].dataset.level === "category") {
                                    if (toggled_elements[i].dataset.object_visibility_by_cp === 'visible') {
                                        toggled_elements[i].style.display = 'grid';
                                    }
                                } else if (toggled_elements[i].dataset.level === "object") {
                                    if (toggled_elements[i].dataset.object_visibility_by_category === 'visible'
                                        && toggled_elements[i].dataset.object_visibility_by_cp === 'visible') {
                                        toggled_elements[i].style.display = 'grid';
                                    }
                                }
                            }
                        }
                    }
                } else if (scope === "all") {
                    for (let i = 0, n = toggled_elements.length; i < n; i++) {
                        if (toggled_elements[i].dataset.level !== "object") {
                            toggled_elements[i].getElementsByClassName("category_open_arrow")[0].innerHTML = `{% include "icons/chevron-down.svg" %}`;
                        }
                        if (toggled_elements[i].dataset.object_visibility_by_search === 'visible') {
                            toggled_elements[i].dataset.children_visibility = "open";
                            toggled_elements[i].style.display = 'grid';
                            toggled_elements[i].dataset.object_visibility_by_category = 'visible';
                            toggled_elements[i].dataset.object_visibility_by_cp = 'visible';
                            toggled_elements[i].dataset.object_visibility_by_cpp = 'visible';
                        }
                    }
                }
            }
        }

        // do the work...
        function selectSortBy() {
            // value is for example [default_sorting_id][?num][?asc],
            // where the first part is what were sorting, the second the type and the third part is the sort order (ascending or descending)
            let value = document.getElementById('select_sort_by').value;
            let value_list = value.split('?');
            let class_name = value_list[0];
            let data_class_name = "data-" + class_name
            let type = value_list[1];
            let order = value_list[2];

            updateUrlParamInPlace("sort_by", value);

            let toSort;
            if (class_name === "default_sorting_id") {
                show_titles = true;
                document.getElementById("all_objects").classList.remove('container-custom_sort');
                document.getElementById("all_objects").classList.add('container-default_sort');
                toSort = document.getElementsByClassName('object_like');
            } else {
                show_titles = false;
                document.getElementById("all_objects").classList.add('container-custom_sort');
                document.getElementById("all_objects").classList.remove('container-default_sort');
                toSort = document.getElementsByClassName('object');
            }
            toSort = Array.prototype.slice.call(toSort, 0);

            let comparator;

            if (type === "str") {
                if (order === "asc") {
                    comparator = function (a, b) {
                        return String.prototype.localeCompare.call(
                            a.getAttribute(data_class_name).toLowerCase(),
                            b.getAttribute(data_class_name).toLowerCase());
                    }
                } else if (order === "dsc") {
                    comparator = function (a, b) {
                        return String.prototype.localeCompare.call(
                            b.getAttribute(data_class_name).toLowerCase(),
                            a.getAttribute(data_class_name).toLowerCase());
                    }
                }
            } else if (type === "num") {
                if (order === "asc") {
                    comparator = function (a, b) {
                        return (Number(a.getAttribute(data_class_name))
                            - Number(b.getAttribute(data_class_name)));
                    }
                } else if (order === "dsc") {
                    comparator = function (a, b) {
                        return (Number(b.getAttribute(data_class_name))
                            - Number(a.getAttribute(data_class_name)));
                    }
                }
            }

            toSort.sort(comparator);

            let parent = document.getElementById('all_objects');

            for (let i = 0, n = toSort.length; i < n; i++) {
                if(toSort[i].dataset.level === "object"){
                    if(class_name === "inventory_number" || class_name === "ifp_code"){
                        toSort[i].getElementsByClassName("sort_info")[0].textContent = toSort[i].getAttribute(data_class_name) ? toSort[i].getAttribute(data_class_name) + " | " : "Kein Eintrag | ";
                    }else {
                        toSort[i].getElementsByClassName("sort_info")[0].textContent = "";
                    }
                }
                toSort[i].remove();
                parent.appendChild(toSort[i]);
            }

            onInputSearch();
        }
    </script>
    <style>
        button.generic_button {
            background-color: inherit;
            margin-bottom: 0;
            height: 100%;
        }

        button.generic_button:hover {
            background-color: inherit;
            color: red;
        }

        .button_container {
            margin: 0;
        }

        .category_button > svg {
            transition: .3s;
        }

        .category_button:hover > svg {
            color: red;
        }

        button.generic_button_toggle_visibility {
            transition: .3s;
        }

        button.generic_button_toggle_visibility:hover {
            color: inherit;
            background-color: rgba(0, 0, 0, 0.2);
        }
    </style>

    <div style="border: 1px solid grey;
                border-radius: 5px;
                margin-bottom: 1.5em;
                padding: .5em;
                overflow: hidden;">
        <div style="margin-bottom: .5em;">
            <select id="select_sort_by"
                    name=""
                    oninput="selectSortBy()"
                    style="border-radius: 5px;">
                <option value="default_sorting_id?num?asc">Standard (Kategorien anzeigen)</option>
                {% for key, value in sort_by_values.items %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
            <br/>
        </div>
        <div style="display: grid; grid-template-columns: auto 4% minmax(33%,auto);">
            <div style="grid-column: 1; word-wrap: break-word;">
                <b>Filtert, welche Eigenschaften durchsucht werden sollen</b><br>
                {% for key, value in search_checklist.items %}
                    <input class="search_checklist"
                           data-checkbox_id="{{ key }}"
                           id="{{ key }}_checkbox"
                           type="checkbox"
                           onchange="onInputSearch()"
                           checked/>
                    <span onclick="togglePreviousBox(this)" style="cursor: pointer">
                        {{ value }}
                    </span><br/>
                {% endfor %}
            </div>
            <div style="float: right;
                        text-align: right;
                        grid-column: 3;
                        word-break: break-word">
                {% if path == "device" %}
                    <b>Filtert die angezeigten Geräte</b><br>
                    <span onclick="toggleNextBox(this)" style="cursor: pointer">
                        nur Verliehen
                    </span>
                    <input class="search_checklist"
                           data-checkbox_id="loaned"
                           id="loaned_checkbox"
                           type="checkbox"
                           onchange="onInputSearch()"/>
                    <br/>
                    <span onclick="toggleNextBox(this)" style="cursor: pointer">
                        nur In Reparatur
                    </span>
                    <input class="search_checklist"
                           data-checkbox_id="repair"
                           id="repair_checkbox"
                           type="checkbox"
                           onchange="onInputSearch()"/>
                    <br/>
                    <span onclick="toggleNextBox(this)" style="cursor: pointer">
                        nur mit IFP-Code
                    </span>
                    <input class="search_checklist"
                           data-checkbox_id="ifp_code_bool"
                           id="ifp_code_bool_checkbox"
                           type="checkbox"
                           onchange="onInputSearch()"/>
                    <br/>
                    <span onclick="toggleNextBox(this)" style="cursor: pointer">
                        nur mit Inventarnummer
                    </span>
                    <input class="search_checklist"
                           data-checkbox_id="inventory_number_bool"
                           id="inventory_number_bool_checkbox"
                           type="checkbox"
                           onchange="onInputSearch()"/>
                    <br/>
                {% endif %}
            </div>
        </div>
    </div>
        <div class="container-default_sort"
             id="all_objects"
             style="display: grid;">
            {% for object in objects %}
                {% if object.level == "cpp" %}
                    <div id="{{ object.id }}"
                         data-children_visibility="closed"
                         data-level="cpp"
                         data-default_sorting_id="{{ object.default_sorting_id }}"
                         class="object_like title titlecpp list_title {% if object.pending_delete %}pending_delete{% endif %}">
                        <div onclick="toggleCategoryVisibility({{ object.id }}, 'children_only')"
                             class="fill_height_100">
                            {{ object.token }} | {{ object.name }}
                        </div>
                        {% if can_edit_category %}
                            <div class="button_container">
                                <a href="/{{ path }}/category/create/{{ object.id }}/" class="category_button" style="padding: 0;">
                                    {% include 'icons/ic_playlist_add_24px.svg' %}
                                </a>
                                <a href="/{{ path }}/category/{{ object.id }}/edit/" class="category_button" style="padding: 0;">
                                    {% include 'icons/ic_edit_category_24px.svg' %}
                                </a>
                            </div>
                        {% endif %}
                        <a class="button_a_stretch" onclick="toggleCategoryVisibility({{ object.id }}, 'all')">
                            <button class="category_open_arrow generic_button generic_button_toggle_visibility">
                                {% include 'icons/chevron-right.svg' %}
                            </button>
                        </a>
                    </div>
                {% elif object.level == "cp" %}
                    <div id="{{ object.id }}"
                         data-belongs_to_cpp="{{ object.belongs_to_cpp }}"
                         data-object_visibility_by_search="visible"
                         data-object_visibility_by_cpp="invisible"
                         data-children_visibility="closed"
                         data-level="cp"
                         data-default_sorting_id="{{ object.default_sorting_id }}"
                         class="object_like title titlecp list_title {% if object.pending_delete %}pending_delete{% endif %}"
                         style="display: none;">
                        <div onclick="toggleCategoryVisibility({{ object.id }}, 'children_only')"
                             class="fill_height_100">
                            {{ object.token }} | {{ object.name }}
                        </div>
                        {% if can_edit_category %}
                            <div class="button_container">
                                <a href="/{{ path }}/category/create/{{ object.id }}/" class="category_button" style="padding: 0;">
                                    {% include 'icons/ic_playlist_add_24px.svg' %}
                                </a>
                                <a href="/{{ path }}/category/{{ object.id }}/edit/" class="category_button" style="padding: 0;">
                                    {% include 'icons/ic_edit_category_24px.svg' %}
                                </a>
                            </div>
                        {% endif %}
                        <a class="button_a_stretch" onclick="toggleCategoryVisibility({{ object.id }}, 'all')">
                            <button class="category_open_arrow generic_button generic_button_toggle_visibility">
                                {% include 'icons/chevron-right.svg' %}
                            </button>
                        </a>
                    </div>
                {% elif object.level == "category" %}
                    <div id="{{ object.id }}"
                         data-belongs_to_cp="{{ object.belongs_to_cp }}"
                         data-belongs_to_cpp="{{ object.belongs_to_cpp }}"
                         data-object_visibility_by_search="visible"
                         data-object_visibility_by_cp="invisible"
                         data-object_visibility_by_cpp="invisible"
                         data-children_visibility="closed"
                         data-level="category"
                         data-default_sorting_id="{{ object.default_sorting_id }}"
                         class="object_like title titlecategory list_title {% if object.pending_delete %}pending_delete{% endif %}"
                         style="display: none;">
                        <div onclick="toggleCategoryVisibility({{ object.id }}, 'children_only')"
                             class="fill_height_100">
                            {{ object.token }} | {{ object.name }}
                        </div>
                        {% if can_edit_category %}
                            <div class="button_container">
                                <a href="/{{ path }}/category/{{ object.id }}/edit/" class="category_button" style="padding: 0;">
                                    {% include 'icons/ic_edit_category_24px.svg' %}
                                </a>
                            </div>
                        {% endif %}
                        <a class="button_a_stretch" onclick="toggleCategoryVisibility({{ object.id }}, 'all')">
                            <button class="category_open_arrow generic_button generic_button_toggle_visibility">
                                {% include 'icons/chevron-right.svg' %}
                            </button>
                        </a>
                    </div>
                {% elif object.level == "object" %}
                    <div data-belongs_to_category="{{ object.belongs_to_category }}"
                         data-belongs_to_cp="{{ object.belongs_to_cp }}"
                         data-belongs_to_cpp="{{ object.belongs_to_cpp }}"
                         data-inventory="{{ object.inventory }}"
                         data-object_visibility_by_search="visible"
                         data-object_visibility_by_category="invisible"
                         data-object_visibility_by_cp="invisible"
                         data-object_visibility_by_cpp="invisible"
                         data-level="object"
                         data-default_sorting_id="{{ object.default_sorting_id }}"
                        {% for key, value in object.searchable_object_data.items %}
                            data-{{ key }}="{{ value }}"
                        {% endfor %}
                        {% if path == "device" %}
                            data-loaned="{{ object.show_only_data.loaned }}"
                            data-repair="{{ object.show_only_data.repair }}"
                            data-ifp_code_bool="{{ object.show_only_data.ifp_code_bool }}"
                            data-inventory_number_bool="{{ object.show_only_data.inventory_number_bool }}"
                        {% endif %}
                         class="object_like object list_item"
                         style="display: none;"
                         id="object_scroll_id{{ object.object_id }}">
                        <a href=""
                           onclick="javascript:this.href = '/{{ path }}/{{ object.object_id }}/'+window.location.search;"
                           onauxclick="javascript:this.href = '/{{ path }}/{{ object.object_id }}/'+window.location.search;"
                           class="image">
                            {% if object.background_image %}
                                <div class="img_container">
                                    <img loading="lazy"
                                         style="max-width: 100%;
                                                max-height: 100%;"
                                         src="{{ MEDIA_URL }}{{ object.background_image }}"/>
                                </div>
                            {% else %}
                                <div class="img_container" style="font-size: 12em; color: grey">
                                    {% include 'icons/'|add:path|add:'.svg' %}
                                </div>
                            {% endif %}
                            <div class="preview_text">
                                {{ object.preview_text|bbcode|safe }}
                            </div>
                            {% if object.status != 'available' and path == 'experiment' %}
                                <span style="top: 0;
                                             right: 0;
                                             position: absolute;
                                             z-index: 2">
                                    {% include 'icons/ic_visibility_off_24px.svg' %}
                                </span>
                            {% endif %}
                        </a>
                        <div class="base_info">
                            <a href=""
                               onclick="javascript:this.href = '/{{ path }}/{{ object.object_id }}/description/'+window.location.search;"
                               onauxclick="javascript:this.href = '/{{ path }}/{{ object.object_id }}/description/'+window.location.search;"
                               class="fill_height_100">
                                <div class="object_information">
                                <strong class="sort_info"></strong>
                                    {% if path == 'experiment' %}
                                        <span style="display: flex; align-items: center">
                                            {{ object.token }} | {{ object.name }} ({{ object.object_id }})
                                            {% if object.status != 'available'%}
                                                <span name="status_list">
                                                    {% include 'icons/ic_visibility_off_24px.svg' %}
                                                </span>
                                            {% endif %}
                                        </span>
                                    {% elif path == 'device' %}
                                        ({{ object.object_id }}) {{ object.name }}
                                    {% endif %}
                                </div>
                            </a>
                            <div class="list_button_container button_container">
                                {% for button in buttons %}
                                    {% if button.1 == 'device_inventory_add' %}
                                        <a id="{{ button.1 }}" inventory="{{ object.inventory|yesno:"true,false" }}"
                                           onclick="addToInventory($(this), {{ object.object_id }})">
                                            <div id="bereits_inventarisiert{{ object.object_id }}"
                                                 class="bereits_inventarisiert_class"
                                                 title="von Inventur entfernen"
                                                 style="{% if not object.inventory %} display: none {% endif %}">
                                                {% include 'icons/inventory_check.svg' %}
                                            </div>
                                            <div id="inventarisieren{{ object.object_id }}"
                                                 class="inventarisieren_class"
                                                 title="inventieren"
                                                 style="{% if object.inventory %} display: none {% endif %}">
                                                {% include 'icons/inventory_add.svg' %}
                                            </div>
                                        </a>
                                    {% else %}
                                        <a id="{{ button.1 }}"
                                           href="{% url button.1 object.object_id %}">
                                            {% if button|length > 2 %}
                                                {% include button.2 %}
                                            {% endif %}{{ button.0 }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% if can_edit_object %}
                                <a href=""
                                   onclick="javascript:this.href = '/{{ path }}/{{ object.object_id }}/edit'+window.location.search;"
                                   onauxclick="javascript:this.href = '/{{ path }}/{{ object.object_id }}/edit'+window.location.search;"
                                   class="button_a_stretch">
                                    <button class="generic_button">
                                        {% include 'icons/pencil-fill.svg' %}
                                    </button>
                                </a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% if objects_without_category %}
            <h2 style="color: red">Elemente ohne Kategorie</h2>
            <div style="display: flex; flex-wrap: wrap">
                {% for object in objects_without_category %}
                    <div style="display: flex;
                                align-items: center;
                                text-decoration: none;
                                height: 2em;
                                width: auto;
                                margin: 5px;
                                padding: .5em;
                                background-color: lightgrey;
                                border: 1px solid grey;
                                border-radius: 5px;">
                        ({{ object.id }}) {{ object.name }} |&nbsp
                        {% if can_edit_object %}
                            <a href=""
                               onclick="javascript:this.href = '/{{ path }}/{{ object.id }}/edit'+window.location.search;"
                               onauxclick="javascript:this.href = '/{{ path }}/{{ object.id }}/edit'+window.location.search;">Bearbeiten</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
{% endblock %}