{% extends 'base/base.html' %}
{% load define_action %}
{% load user_tags %}

{% block page_buttons %}
    {% if pk %}
        <a href="{% url 'experiment_view' pk %}" style="margin-right: 1em;">Zurück zum Versuch (Änderungen werden nicht übernommen)</a>
        {% include 'modal/delete.html' %}
        <button type="submit" id="confirm_deletion" value="{% url 'experiment-delete' pk %}"
                onclick="customConfirm(this, 'Versuch wirklich löschen?', 'Löschen', 'Das Löschen des Versuchs muss durch eine Änderung bestätigt werden.')"
                xmlns="http://www.w3.org/1999/html">
            {% include 'icons/delete.svg' %} Löschen
        </button>

    {% endif %}

{% endblock %}

{% block content %}
    <div class="content_container card form_container">
        <form id=experiment_form method="post" enctype="multipart/form-data" name="experiment" onsubmit="return (typeof submitted == 'undefined') ? (submitted = true) : !submitted">
            {% csrf_token %}
            <div class="bookings_main">Informationen</div>
            <div class="content_container card form_container input_field_bookings">
                {% for hidden in form.hidden_fields %}
                    {{ hiddden }}
                {% endfor %}
                <div class="bookings_categories">
                    {{ form.name.label_tag }}
                </div>
                {{ form.name }}<br/>
                <div class="bookings_categories">
                    {{ form.description.label_tag }}
                </div>
                <div class="comment_container_bookings">
                    {% include 'forms/editor.html' with class="comment" txt=form.description id=form.description.id_for_label %}<br/>
                </div>
                <br>
                <div class="bookings_categories">
                    {{ form.comment.label_tag }}
                </div>
                <div class="comment_container_bookings">
                    {% include 'forms/editor.html' with class="comment" txt=form.comment id=form.comment.id_for_label %}<br/>
                </div>
                <div class="bookings_categories">
                    {{ form.preparation_time.label_tag }}
                </div>
                {{ form.preparation_time }}<br/>
                <div class="bookings_categories">
                    {{ form.execution_time.label_tag }}
                </div>
                {{ form.execution_time }}<br>
            </div>
            <div class="bookings_categories" style="padding-top: 2em; padding-left: .5em;">Gefahren- und Sicherheitszeichen:</div>
            <div style="visibility: hidden; max-height: .5em;">
            {{ form.safety_signs }}
            </div><!-- .as_hidden -->
            <div class="sign_row">
                {% load static %}
                <label class="check_container">
                    <input type="checkbox" id="W001" name="safetysigns" value="W001">
                    <img src="{% static 'icons/safety_signs/ISO_7010_W001.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="W002" name="safetysigns" value="W002">
                    <img src="{% static 'icons/safety_signs/ISO_7010_W002.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="W003" name="safetysigns" value="W003">
                    <img src="{% static 'icons/safety_signs/ISO_7010_W003.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="W004" name="safetysigns" value="W004">
                    <img src="{% static 'icons/safety_signs/ISO_7010_W004.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="W005" name="safetysigns" value="W005">
                    <img src="{% static 'icons/safety_signs/ISO_7010_W005.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="W006" name="safetysigns" value="W006">
                    <img src="{% static 'icons/safety_signs/ISO_7010_W006.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="W009" name="safetysigns" value="W009">
                    <img src="{% static 'icons/safety_signs/ISO_7010_W009.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="W010" name="safetysigns" value="W010">
                    <img src="{% static 'icons/safety_signs/ISO_7010_W010.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="W012" name="safetysigns" value="W012">
                    <img src="{% static 'icons/safety_signs/ISO_7010_W012.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="W016" name="safetysigns" value="W016">
                    <img src="{% static 'icons/safety_signs/ISO_7010_W016.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="W017" name="safetysigns" value="W017">
                    <img src="{% static 'icons/safety_signs/ISO_7010_W017.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="W021" name="safetysigns" value="W021">
                    <img src="{% static 'icons/safety_signs/ISO_7010_W021.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="W022" name="safetysigns" value="W022">
                    <img src="{% static 'icons/safety_signs/ISO_7010_W022.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="W023" name="safetysigns" value="W023">
                    <img src="{% static 'icons/safety_signs/ISO_7010_W023.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="W027" name="safetysigns" value="W027">
                    <img src="{% static 'icons/safety_signs/ISO_7010_W027.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="W028" name="safetysigns" value="W028">
                    <img src="{% static 'icons/safety_signs/ISO_7010_W028.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="W029" name="safetysigns" value="W029">
                    <img src="{% static 'icons/safety_signs/ISO_7010_W029.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="M001" name="safetysigns" value="M001">
                    <img src="{% static 'icons/safety_signs/ISO_7010_M001.svg' %}" class="check" height="48px">
                </label>
                        <label class="check_container">
                    <input type="checkbox" id="M003" name="safetysigns" value="M003">
                    <img src="{% static 'icons/safety_signs/ISO_7010_M003.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="M004" name="safetysigns" value="M004">
                    <img src="{% static 'icons/safety_signs/ISO_7010_M004.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="M005" name="safetysigns" value="M005">
                    <img src="{% static 'icons/safety_signs/ISO_7010_M005.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="M007" name="safetysigns" value="M007">
                    <img src="{% static 'icons/safety_signs/ISO_7010_M007.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="M008" name="safetysigns" value="M008">
                    <img src="{% static 'icons/safety_signs/ISO_7010_M008.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="M009" name="safetysigns" value="M009">
                    <img src="{% static 'icons/safety_signs/ISO_7010_M009.svg' %}" class="check" height="48px">
                </label>
                <label class="check_container">
                    <input type="checkbox" id="M011" name="safetysigns" value="M011">
                    <img src="{% static 'icons/safety_signs/ISO_7010_M011.svg' %}" class="check" height="48px">
                </label>
                        <label class="check_container">
                    <input type="checkbox" id="M013" name="safetysigns" value="M013">
                    <img src="{% static 'icons/safety_signs/ISO_7010_M013.svg' %}" class="check" height="48px">
                </label>
                        <label class="check_container">
                    <input type="checkbox" id="M017" name="safetysigns" value="M017">
                    <img src="{% static 'icons/safety_signs/ISO_7010_M017.svg' %}" class="check" height="48px">
                </label>
                        <label class="check_container">
                            <input type="checkbox" id="M026" name="safetysigns" value="M026">
                            <img src="{% static 'icons/safety_signs/ISO_7010_M026.svg' %}" class="check" height="48px">
                        </label><br>
                <script>
                    if(document.getElementById('experiment_safety_signs').value) {
                        var old_experiment_safety_signs = JSON.parse(document.getElementById('experiment_safety_signs').value);
                    }else{
                        var old_experiment_safety_signs = [];
                    }
                    for (let i = 0; i < old_experiment_safety_signs.length; i++) {
                        document.getElementById(old_experiment_safety_signs[i]).checked = true;
                    }

                    var safety_signs = document.querySelectorAll('input[type=checkbox][name=safetysigns]');
                    let new_safety_signs = []
                    safety_signs.forEach(function(checkbox) {
                        checkbox.addEventListener("change", function () {
                            new_safety_signs =
                                Array.from(safety_signs)
                                    .filter(i => i.checked)
                                    .map(i => i.value)
                            document.getElementById("experiment_safety_signs").value = JSON.stringify(new_safety_signs);
                        })
                    });
                </script>
                </div>
                <br>
            <div class="content_container card form_container input_field_bookings">
                <div class="bookings_categories">
                    {{ form.tags.label_tag }}
                </div>
                {{ form.tags }}<br/>
            </div>
            <div class="content_container card form_container input_field_bookings">
                <div class="bookings_categories">Kategorie auswählen:</div>
                {{ form.category }}
                {{ form.category_list }}<br/>
                <div class="bookings_categories">
                    {{ form.experiment_number.label_tag }}
                </div>
                {{ form.experiment_number }}<br/>
            </div>
            <div class="content_container card form_container input_field_bookings">
                <div class="bookings_categories">
                    Versuchsstatus:
                </div>
                {{ form.status }}<br/>
                <div class="bookings_categories">
                    {{ form.labels.label_tag }}
                </div>
                {{ form.labels }}<br/>
                <div class="bookings_categories">
                    {{ form.devices.label_tag }}
                </div>
                {{ form.devices }}<br/>
            </div>
            <hr>
            {% include 'forms/documentFormSetExperiment.html' with experiment=form user=user %}
            <hr>
            <script>

                $(document).ready(function () {
                    $('#experiment_category_list').select2({ width: '100%', placeholder: "Kategorie auswählen...",
                        allowClear: true,});
                });

                $(document).ready(function () {
                    $('#experiment_status').select2({ width: '100%'});
                });

                 $(document).ready(function () {
                    if ($('#experiment_category_list').val() === null){
                        $('#submit_button').prop('disabled', true);
                        $('#experiment_number_check').css('display', 'flex');
                        $('#category_check').css('display', 'flex');
                    }
                    else{
                        $('#submit_button').prop('disabled', false);
                        $('#experiment_number_check').css('display', 'none');
                        $('#category_check').css('display', 'none');
                    }
                 });

                $('#experiment_category_list, #experiment_experiment_number').change(function () {
                    if ($('#experiment_category_list').val() === null && $('#experiment_experiment_number').val() === null) {
                        $('#submit_button').prop('disabled', true);
                        $('#category_check').css('display', 'flex');
                        $('#experiment_number_check').css('display', 'flex');
                    }
                    if ($('#experiment_category_list').val() !== null && $('#experiment_experiment_number').val() !== null) {
                        $('#submit_button').prop('disabled', false);
                        $('#category_check').css('display', 'none');
                        $('#experiment_number_check').css('display', 'none');
                    }
                    if ($('#experiment_category_list').val() === null) {
                        $('#category_check').css('display', 'flex');
                        $('#submit_button').prop('disabled', true);
                    }else{
                        $('#category_check').css('display', 'none');
                    }
                    if ($('#experiment_experiment_number').val() === null || $('#experiment_experiment_number').val() === ""){
                        $('#experiment_number_check').css('display', 'flex');
                        $('#submit_button').prop('disabled', true);
                    }else{
                        $('#experiment_number_check').css('display', 'none');
                    }
                });

                // input choice value
                let category = $("#experiment_category").val();
                $("#experiment_category_list").val(category);
                function putLocation() {
                    let category_list = $("#experiment_category_list").val();
                    $("#experiment_category").val(category_list);
                }

                //this function disables first option in document security_level
                //so first choice can be a placeholder
                function disable_first_choice() {
                    $('option[value=""]').attr("disabled", "disabled");
                    //disable private choice depends on user right
                    //if it has vla rights
                    {% if not user|has_group:"Sicherheitsstufe - TU Darmstadt" %}
                        $('option:contains("TU Darmstadt")').hide();
                    {%endif%}
                    // if it hs tu darmstadt rights
                    {% if not user|has_group:"Sicherheitsstufe - VLA" %}
                        $('option:contains("VLA")').hide();
                    {%endif%}
                }
                disable_first_choice();

                //create tags
                var input = document.querySelector('input[name=tags]');
                new Tagify(input);

            </script>
            <div style="display: flex; justify-content: center; align-items: center;">
                <button id="submit_button" type="submit" onclick="putLocation()" style="float: left; margin-right: auto;">{% include 'icons/ic_publish_24px.svg' %}
                    Speichern
                </button>
                <div id="experiment_number_check" class="message_container alert-danger" style="display: None; min-height:2.5em; padding: 0 1em; margin-left: 2em; margin-bottom: 0.5em;">Versuchsnummer muss ausgefüllt werden!</div>
                <div id="category_check" class="message_container alert-danger" style="display: None; min-height:2.5em; padding: 0 1em; margin-left: 2em; margin-bottom: 0.5em;">Es muss eine Kategorie ausgewählt werden!</div>
            </div>
            <script>
                //if there is unhandled commits disable submit and delete button
                $('#submit_button').attr('disabled', {{ submit_button|default_if_none:"false" }});
                $('#confirm_deletion').attr('disabled', {{ submit_button|default_if_none:"false" }});

            </script>
        </form>
    </div>
    {{ label_list|json_script:"label_list" }}
    {{ device_list|json_script:"device_list" }}
    <script>

        function paint(color) {
            if(color) {
                let decoded_color = hexToHSL(color);
                decoded_color = decoded_color.split('(')[1];
                decoded_color = decoded_color.split(',')[0];
                decoded_color = hslToHex(decoded_color, 60, 70);
                console.log(decoded_color);
                return "--tag-bg: " + decoded_color;
            }
            else {
                return "--tag-bg: " + '#b3b3b3';
            }
        }

        const experiment_device_list = JSON.parse(document.getElementById('device_list').textContent);
        var input = document.querySelector('textarea[name=devices]');
        var dev = new Tagify(input, {
            whitelist: experiment_device_list.map(({id, name}) => ({value: id, name: name, clean_name: escapeUserHtml(name),})),
            enforceWhitelist: true,
            tagTextProp: 'clean_name',
            editTags: false,
            dropdown: {
                placeAbove: false,
                enabled: 0,
                mapValueTo: 'name',
                highlightFirst: true,
                searchKeys: ['name'],
                maxItems: 50,
            },
        });

        const label_list = JSON.parse(document.getElementById('label_list').textContent);
        var input = document.querySelector('textarea[name=labels]')
        var label = new Tagify(input, {
            whitelist: label_list.map(({id, name, color__color}) => ({value: id, name: name, clean_name: escapeUserHtml(name), style: paint(color__color)})),
            enforceWhitelist: true,
            tagTextProp: 'clean_name',
            editTags: false,
            dropdown: {
                placeAbove: false,
                enabled: 0,
                mapValueTo: 'name',
                highlightFirst: true,
                searchKeys: ['name'],
                maxItems: label_list.length,
            },
        });

    </script>
{% endblock %}