{% extends "base/base.html" %}
{% load custom_tags %}

{% block page_buttons %}
    <script>
        $(document).ready(function () {
            $('#id_parent').select2({ width: '100%'});
        });
    </script>
    {% if id %}
        {% include 'modal/delete.html' %}
        <button id="confirm_deletion"
                type="submit"
                value="{% url delete_url id %}"
                onclick="customConfirm(this, 'Kategorie wirklich löschen?', 'Löschen',
                'Das Löschen der Kategorie muss durch eine Änderung bestätigt werden.')"
                {% if form.instance|pending_delete %}disabled{% endif %}>{% include 'icons/delete.svg' %} Löschen
        </button>
    {% endif %}
{% endblock %}
{% block content %}
    <form method="POST" onsubmit="return (typeof submitted == 'undefined') ? (submitted = true) : !submitted">
        <div class="content_container card form_container">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="content_container card form_container input_field" id="{{ field.name }}">
                    {{ field.label_tag }}<br/>
                    {{ field }}<br/>
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ field.errors|escape }}</strong>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button type="submit">{% include 'icons/ic_publish_24px.svg' %} Speichern</button>
    </form>
{% endblock %}

{% block javascripts %}
    {% if device_list %}
        {{ device_list|json_script:"device_list" }}
        <script>
            const device_list = JSON.parse(document.getElementById('device_list').textContent);
            var input = document.querySelector('textarea[name=device]')
            var dev = new Tagify(input, {
                whitelist: device_list.map(({id, name}) => ({value: id, name: name, clean_name: escapeUserHtml(name),})),
                enforceWhitelist: true,
                tagTextProp: 'clean_name',
                editTags: false,
                dropdown: {
                    placeAbove: false,
                    enabled: 0,
                    mapValueTo: 'name',
                    highlightFirst: true,
                    searchKeys: ['name'],
                    maxItems: 50,
                },
            })
        </script>
    {% endif %}
    {% if experiment_list %}
        {{ experiment_list|json_script:"experiment_list" }}
        <script>
            const experiment_list = JSON.parse(document.getElementById('experiment_list').textContent);
            var input = document.querySelector('textarea[name=experiment]')
            var exp = new Tagify(input, {
                whitelist: experiment_list.map(({id, name}) => ({value: id, name: name, clean_name: escapeUserHtml(name), style: paintExp(name)})),
                enforceWhitelist: true,
                tagTextProp: 'clean_name',
                editTags: false,
                dropdown: {
                    placeAbove: false,
                    enabled: 0,
                    mapValueTo: 'name',
                    highlightFirst: true,
                    searchKeys: ['name'],
                    maxItems: 50,
                },
            })
        </script>
    {% endif %}
{% endblock %}
