{% extends "base/base.html" %}
{% block page_buttons %}
        {% include 'modal/delete.html' %}
        <button type="submit" id="confirm_deletion" value="" style="display:none"
                onclick="getUrl(this, '{{ type }}'); customConfirm(this, 'Farbe wirklich löschen?', 'Löschen')">{% include 'icons/delete.svg' %} Löschen
        </button>
{% endblock %}
{% block content %}
    <script>
        $(document).ready(function () {
            $('#select_id').select2({ width: '100%'});
        });
    </script>
    <form method="POST" id="color_form" onsubmit="return (typeof submitted == 'undefined') ? (submitted = true) : !submitted">
        <div class="content_container card form_container">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="content_container card form_container input_field" id="{{ field.name }}">
                    {{ field.label_tag }}<br/>
                    {{ field }}<br/>
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ field.errors|escape }}</strong>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button type="submit">{% include 'icons/ic_publish_24px.svg' %} Speichern</button>
    </form>
    {% include "js/color_form_js.html" %}
{% endblock %}
