{% extends "base/base.html" %}

{% block content %}
    <form method="POST">
        <div class="content_container card form_container">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                {{ field.label_tag }}
                {{ field }}
            {% endfor %}
            {% include 'modal/delete.html' %}
            <button type="button" id="confirm_deletion" name="delete_btn" style="display: none" value="" onclick="confirmDeletion(this)">
                 Delete
             </button>
        </div>

        <div class="inline_container content_container" style="justify-content: right">
            <input type="hidden" name="next" value="{{ request.path }}"/>
            <button type="submit">{% include 'icons/ic_publish_24px.svg' %} Speichern</button>
        </div>
        {% if form.errors %}
                <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger" >
                            <strong>{{ error }}</strong>
                        </div>
                        </br>
                    {% endfor %}
                {% endfor %}
                </ul>
            {% endif %}
    </form>
{% endblock %}

{% block javascripts %}
    {# load javascript if passed by context view #}
    {% if js_script %}
        <script type="text/javascript">{% include js_script %}</script>
    {% endif %}
{% endblock %}
