{% extends 'base/base.html' %}
{% load define_action %}
{% load user_tags %}

{% block page_buttons %}
    {% if pk %}
        <a href="{% url 'device_description' pk %}" style="margin-right: 1em;">Zurück zum Gerät (Änderungen werden nicht übernommen)</a>
        {% include 'modal/delete.html' %}
        <button type="submit" id="confirm_deletion" value="{% url 'device-delete' pk %}"
                onclick="customConfirm(this, 'Gerät wirklich löschen?', 'Löschen', 'Das Löschen des Geräts muss durch eine Änderung bestätigt werden.')" xmlns="http://www.w3.org/1999/html">
            {% include 'icons/delete.svg' %} Löschen
        </button>
    {% endif %}
{% endblock %}

{% block content %}
<div class="content_container card form_container">
    <form id=device_form method="post" enctype="multipart/form-data" name="device" onsubmit="return (typeof submitted == 'undefined') ? (submitted = true) : !submitted">
        {% csrf_token %}
        <div class="bookings_main">Informationen</div>
        <div class="content_container card form_container input_field_bookings">
            {% for hidden in form.hidden_fields %}
            {{hiddden}}
            {%endfor%}
            <div class="bookings_categories">
                {{ form.name.label_tag }}
            </div>
            {{ form.name }}<br/>
            <div class="bookings_categories">
                {{ form.description.label_tag }}
            </div>
            <div class="comment_container_bookings">
                {% include 'forms/editor.html' with class="comment" txt=form.description id=form.description.id_for_label%}<br/>
            </div><br>
            <div class="bookings_categories">
                {{ form.comment.label_tag }}
            </div>
            <div class="comment_container_bookings">
                {% include 'forms/editor.html' with class="comment" txt=form.comment id=form.comment.id_for_label%}<br/>
            </div><br>
            <div class="bookings_categories">
                {{ form.inventorynumber.label_tag }}
            </div>
            {{ form.inventorynumber }}<br/>
            <div class="bookings_categories">
                {{ form.ordernumber.label_tag }}
            </div>
            {{ form.ordernumber }}<br/>
            <div class="bookings_categories">
                {{ form.supplier.label_tag }}
            </div>
            {{ form.supplier }}<br/>
            <div class="bookings_categories">
                {{ form.ifpcode.label_tag }}
            </div>
            {{ form.ifpcode }}<br/>
            <div class="bookings_categories">
                {{ form.tags.label_tag }}
            </div>
            {{ form.tags}}<br/>
            <div class="bookings_categories">
                {{ form.labels.label_tag }}
            </div>
            {{ form.labels }}<br/>
            {% include 'js/experiment_label_select.html' with device_list="[]" %}

        </div>
        <div class="bookings_main">Verfügbarkeit</div>
        <div class="content_container card form_container input_field_bookings">
            <div class="bookings_categories">
                {{ form.amount.label_tag }}
            </div>
            {{ form.amount }}<br/>
        </div>
        <div class="content_container card form_container input_field_bookings">
            <div class="bookings_categories">Standort:</div>
            {{ form.location }}
            {{ form.location_list }}<br/>
        </div>
        <hr>
        {% include 'forms/documentFormSet.html' with device=form user=user %}
        <hr>
        <script>

        $(document).ready(function () {
            $('#device_location_list').select2({ width: '100%', placeholder: "Standort auswählen...",
                allowClear: true,});
        });

        $(document).ready(function () {
            if ($('#device_location_list').val() === null){
                $('#submit_button').prop('disabled', true);
                $('#location_check').css('display', 'flex');
            }
            else{
                $('#submit_button').prop('disabled', false);
                $('#location_check').css('display', 'none');
            }
         });

        $('#device_location_list, #device_amount').change(function () {
            if ($('#device_location_list').val() === null && $('#device_amount').val() === null) {
                $('#submit_button').prop('disabled', true);
                $('#location_check').css('display', 'flex');
                $('#device_amount_check').css('display', 'flex');
            }
            if ($('#device_location_list').val() !== null && $('#device_amount').val() !== null) {
                $('#submit_button').prop('disabled', false);
                $('#location_check').css('display', 'none');
                $('#device_amount_check').css('display', 'none');
            }
            if ($('#device_location_list').val() === null) {
                $('#location_check').css('display', 'flex');
                $('#submit_button').prop('disabled', true);
            }else{
                $('#location_check').css('display', 'none');
            }
            if ($('#device_amount').val() === null || $('#device_amount').val() === ""){
                $('#device_amount_check').css('display', 'flex');
                $('#submit_button').prop('disabled', true);
            }else{
                $('#device_amount_check').css('display', 'none');
            }
        });

        // input choice value
            let standort = $("#device_location").val();
            $("#device_location_list").val(standort);
        function putLocation(){
             let location_list = $("#device_location_list").val();
            $("#device_location").val(location_list);
        }
        //this function disables first option in document security_level
        //so first choice can be a placeholder
        function disable_first_choice(){
            $('option[value=""]').attr("disabled", "disabled");
            //disable private choice depends on user right
            //if it has vla rights
            {% if not user|has_group:"Sicherheitsstufe - TU Darmstadt" %}
                $('option:contains("TU Darmstadt")').hide();
            {%endif%}
            // if it hs tu darmstadt rights
            {% if not user|has_group:"Sicherheitsstufe - VLA" %}
                $('option:contains("VLA")').hide();
            {%endif%}
        }
        disable_first_choice();

        //create tags
        var input = document.querySelector('input[name=tags]');
        new Tagify(input);

        </script>

        <div style="display: flex; justify-content: center; align-items: center;">
        <button id="submit_button" type="submit" onclick="putLocation()" style="float: left; margin-right: auto;">{% include 'icons/ic_publish_24px.svg' %} Speichern</button>
        <div id="device_amount_check" class="message_container alert-danger" style="display: None; min-height:2.5em; padding: 0 1em; margin-left: 2em; margin-bottom: 0.5em;">Das Feld Anzahl muss ausgefüllt werden!</div>
        <div id="location_check" class="message_container alert-danger" style="display: None; min-height:2.5em; padding: 0 1em; margin-left: 2em; margin-bottom: 0.5em;">Es muss ein Standort ausgewählt werden!</div>
        </div>

        <script>
            //if there is unhandled commits disable submit and delete button
        $('#submit_button').attr('disabled', {{ submit_button|default_if_none:"false" }});
        $('#confirm_deletion').attr('disabled', {{ submit_button|default_if_none:"false" }});

        </script>
    </form>
</div>
{% endblock %}

