{% load define_action %}
{% load static %}
{# if there is already a formset form is true #}
{% if form %}
{% set True as formSet %}
{%else%}
{% set '__name__' as index %}
{% getDocFormExp as form %}
{%endif%}

<div class='card file widthy' id='experiment_documents_{{ index }}'>
    {% if formSet %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {%else%}
    <input type='hidden' name='document_set-{{ index }}-experiment' value='{{experiment.instance.id}}'
           id='id_document_set-{{ index }}-experiment'>
    <input type='hidden' name='document_set-{{ index }}-id' value=''
           id='id_document_set-{{ index }}-id'>
    {%endif%}

    <header style='height: 32px'>
        <label for='id_document_set-{{index}}-marked' class='check_container'>
            {{form.marked}}
            {% include 'icons/preview_picture.svg' %}
        </label>


        <h2>{{form.instance.name|default_if_none:""}}</h2>
        <input type='hidden' name='document_set-{{ index }}-DELETE' id='id_document_set-{{ index }}-DELETE' value=''>
        <button type='button' class='document_delete delete' onclick="hideDeleteOn('experiment_documents_{{ index }}', '{{ index }}' );">
            {% include 'icons/delete.svg' %}
        </button>
    </header>
    <script>
        //TODO add images to DeviceDocument Form
        // if there is a form i should just display its image --> DONE
        // if there is not than i should enable uploading an image
        // i should display he uploaded image in the website
        // i should change the title using jquery i guess?
        // i should manage saving it in backend with python



    </script>
    {{form.image}}
    <div class='image_and_comment'>
        {#if there is an image or not #}
        {% if form.instance.image_name %}

        <a class='image' href="{{ MEDIA_URL }}{{form.instance.image_name}}"
           style="background-image: url('{{ MEDIA_URL }}{{form.instance.image_name}}')">
        </a>
        {%else%}
        <div id="FI{{ index }}" class="image"></div>
        {%endif%}
        {{ form.position}}

        <label>
            {{form.comment}}
        </label>
        {{form.image_name}}
        {{form.image_size}}
        {{form.private}}

    </div>

</div>
