
<div class="document-upload content_container card" id="${id}-div">
    <p>Position ${id+1}:</p>
    <img id="${id}-img" src="" style="width:20%; margin-top:10px;" alt=""/><br>
    <p id="${id}-name"></p>
    <label for="${id}">Datei:</label><br>
    <input type="file" id="${id}" name="${name}" onchange="showMyImage(this)"><br>
    <label for="${id}-comment">Kommentar:<br>
    <textarea id="${id}-comment" name="${name}-comment"></textarea></label><br>
    <label for="${id}-security">Sicherheitsstufe:</label><br>
    <select id="${id}-security" name="${name}-security">
        <option value="0">Öffentlich</option>
        <option value="1">TU Darmstadt</option>
        <option value="2">VLA</option>
    </select></label><br>

    <button class="red" onclick="removeDocument(this)" value="${id}" type="button">{% include 'icons/x.svg' %} Entfernen</button>
</div>