{% load define_action %}
{#TODO make it compatible with experiment  #}

<div class="title_container"><h2>Dokumente</h2>
    <div class="button_container">
        <button style="stroke: none; fill: #fff5db" type="button" onclick="addTagForm()">
            {% include 'icons/file_upload.svg' %}
            Datei hinzufügen
        </button>
    </div>
</div>
<div id="up">
<div id="files" class="file_card_container"
     data-prototype="{% getExperimentDocumentFormTemplate experiment %}">
    {% if experimentdocuments.management_form %}
        {{ experimentdocuments.management_form }}
    {%else%}
        {% getDocFormSetExp as emptyFormSet %}
            {{ emptyFormSet.management_form }}
    {%endif%}
    {% for form in experimentdocuments.forms %}
        {% show_document form user as showIt %}
        {% if showIt %}
        {% include 'forms/documentFormExperiment.html' with experiment=experiment form=form index=forloop.counter0%}
        {% endif %}
    {% endfor %}
    <div id="add_before"></div>
</div>
    </div>
<script>
<!--TODO put this in a js file-->
/*
        //see : https://medium.com/@adandan01/django-inline-formsets-example-mybook-420cc4b6225d
        // some explanations about inline formsets with javascript (dynmically adding and deleting documents)
        // i should always have in the head of document list a document form management which is a bunch of hidden inputs
        // about the number of forms, , initial forms,  maximum number ect....
        // each form item and their fields should have a special pattern od id like 'document_set-(index)-id
        // and they should also have a delete input field, which tells the formset that it should be ignored if its value is on
        // when deleting we can just hide the container or delete it it doesn't matter
        // i added to Document Model and auto incrementing id to get rid of related errors such as 'id field is required'
        // i have in javascript an index variable so that each element has a unique incremening id

        //////////////some notes //////////////////////
        // i think in this plugin for adding and deleteing dynamically
        //we just increment $("#id_familymember_set-TOTAL_FORMS").val() by 1
        // and the others won't be touched
        // and for deleting we don't decrement anything which is weird but it makes the work much easier

*/
        //changes the id of the given element
        function changeID (id, index){
            var e = document.getElementById(id);
            e.id = index;
            return e.id
        }
        var indexNr = parseInt($('#id_document_set-TOTAL_FORMS').val()) ;


        //this function hide the formset element and then put it's delete value on
        function hideDeleteOn(id, index){

            var index = parseInt(id.match(/([0-9]+)/));
            var index = parseInt(index);
            $("#id_document_set-"+index+"-DELETE").val("on");
            $('#'+id).attr('style', 'display:none');

        }

        function readURL(input, outp, indexNr) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    outp.css("background-image", "url('" + e.target.result + "')");
                    outp.parent().parent().children("header").children("h2").text(input.files[0].name);
                    console.log("image size is : " + input.files[0].size);
                    console.log("here i should add image name");
                    console.log("to this id " + "#id_document_set-"+indexNr+"-image_name");
                    $("#id_document_set-"+indexNr+"-image_name").val(input.files[0].name);
                    $("#id_document_set-"+indexNr+"-image_size").val(input.files[0].size);
                     console.log("the value is" + $("#id_document_set-"+indexNr+"-image_name").val());
                    if (!e.target.result.includes("image")) {
                        outp.parent().parent().children("header").children(".preview_image").hide();
                    }
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        function addTagForm() {
            var prototype = $("#files").data('prototype');
            // console.log(prototype);
            var newForm = prototype;
            var id = parseInt('{%getDocMaxID%}');
            //see define_action.py -> getDocForm()
            newForm = newForm.replace(/document_set-0-/g, 'document_set-__name__-');
            newForm = newForm.replace(/__name__/g, indexNr);

            $("#add_before").before(newForm);

            var inputFIle = $("#id_document_set-"+(indexNr)+"-image" );//id_document_set-0-image
            console.log("adding elements to this div");
            console.log("#FU" + (indexNr));
            var outp = $("#FI" + (indexNr));
            inputFIle.trigger("click");
            inputFIle.change(function () {
                console.log("index is  " + indexNr);
                readURL(this, outp, indexNr-1);
            });

            formSetValue("#id_document_set-TOTAL_FORMS", 1);
            indexNr = indexNr + 1;
            disable_first_choice();
        }
        function formSetValue(id, change){
            var value = parseInt($(id).val());
            $(id).val(value+change);
        }
        function cbChange(obj) {
            console.log("cbChange(obj)");
            var cbs = document.getElementsByClassName("check");
            for (var i = 0; i < cbs.length; i++) {
                cbs[i].checked = false;
                console.log(cbs[i].id);
            }
            obj.checked = true;
        }

</script>