{% extends "base/base.html" %}

{% block content %}
    {% include "modal/delete.html" %}
    <div class="content_container card form_container">
        <form method="POST" onsubmit="return (typeof submitted == 'undefined') ? (submitted = true) : !submitted">
            {% csrf_token %}
            <div class="content_container card form_container input_field_bookings">
                {% for field in form.visible_fields %}
                    <div class="bookings_main">{{ field.html_name }}</div>
                    <div class="comment_container_bookings">
                        {% include 'forms/editor.html' with class="comment" textarea_name=field.name text=field.initial id=field.auto_id %}
                    </div>
                    <br>
                {% endfor %}
            </div>
            <button style="margin-left: 0.5em; float: left;" type="submit">
                {% include 'icons/ic_publish_24px.svg' %} Speichern
            </button>
            <div class="message_container alert-danger"
                 style="float: left;
                        padding: 0 2em;
                        margin-left: 2em;
                        margin-bottom: 0;
                        text-align: center;">
                ACHTUNG!!! <br/>
                Alle Änderungen werden beim Speichern direkt übernommen! <br/>
                Bitte nochmal 3-fach überprüfen, ob alle Änderungen so gewünscht sind! <br/>
            </div>
        </form>
    </div>
{% endblock %}