{% with full_name=form.field.name|default:"message" %}
    <div class="{{ class|default:"editor" }}">
        <header>
            {% comment %} padding on this label is a workaround for misaligned icon due to this one being in a label rather than a button or sth. {% endcomment %}
            <label class="check_container" title="Vorschau" style="padding: 5px 6px 0 6px">
                <input type="checkbox" onclick="switchEditorPreview(this, $('#{{ id }}_preview'), $('#{{ id }}'))">
                {% include 'icons/editor/eye.svg' %}
            </label>

            <button class="editor_button" onclick="insertAtCursor($('#{{ id }}'), '[b]', '[/b]')" type="button" title="Fett" style="padding: 0 6px 0 0">
                {% include 'icons/editor/bold.svg' %}
            </button>

            <button class="editor_button" onclick="insertAtCursor($('#{{ id }}'), '[i]', '[/i]')" type="button" title="Kursiv" style="padding: 0 6px 0 0">
                {% include 'icons/editor/italic.svg' %}
            </button>

            <button class="editor_button" onclick="insertAtCursor($('#{{ id }}'), '[u]', '[/u]')" type="button" title="Unterstrichen" style="padding: 0 6px 0 0">
                {% include 'icons/editor/underline.svg' %}
            </button>

            <button class="editor_button" onclick="insertAtCursor($('#{{ id }}'), '[s]', '[/s]')" type="button" title="Durchgestrichen" style="padding: 0 6px 0 0">
                {% include 'icons/editor/strikethrough.svg' %}
            </button>

            <button class="editor_button" onclick="insertAtCursor($('#{{ id }}'), '[sub]', '[/sub]')" type="button" title="Tiefgestellt" style="padding: 0 6px 0 0">
                {% include 'icons/editor/subscript.svg' %}
            </button>

            <button class="editor_button" onclick="insertAtCursor($('#{{ id }}'), '[sup]', '[/sup]')" type="button" title="Hochgestellt" style="padding: 0 6px 0 0">
                {% include 'icons/editor/superscript.svg' %}
            </button>

            <button class="editor_button" onclick="insertAtCursor($('#{{ id }}'), '[list]\n[*]', '\n[*]\n[/list]')" type="button" title="Liste" style="padding: 0 6px 0 0">
                {% include 'icons/editor/list.svg' %}
            </button>

            <button class="editor_button" onclick="insertAtCursor($('#{{ id }}'), '[color=]', '[/color]')" type="button" title="Textfarbe" style="padding: 0 6px 0 0">
                {% include 'icons/editor/color.svg' %}
            </button>

            <button class="editor_button" onclick="insertAtCursor($('#{{ id }}'), '[img width=]', '[/img]')" type="button" title="Bild" style="padding: 0 6px 0 0">
                {% include 'icons/editor/image.svg' %}
            </button>

            <button class="editor_button" onclick="insertAtCursor($('#{{ id }}'), '[url]', '[/url]')" type="button" title="Hyperlink" style="padding: 0 6px 0 0">
                {% include 'icons/editor/link.svg' %}
            </button>

            <button class="editor_button" onclick="insertAtCursor($('#{{ id }}'), '[experiment]', '[/experiment]')" type="button" title="Versuch" style="padding: 0 6px 0 0">
                {% include 'icons/editor/experiment.svg' %}
            </button>

            <button class="editor_button" onclick="insertAtCursor($('#{{ id }}'), '[device]', '[/device]')" type="button" title="Gerät" style="padding: 0 6px 0 0">
                {% include 'icons/editor/device.svg' %}
            </button>

            <button class="editor_button" onclick="insertAtCursor($('#{{ id }}'), '\\(', '\\)')" type="button" title="Mathjax" style="padding: 0 6px 0 0">
                {% include 'icons/editor/mathjax.svg' %}
            </button>
        </header>
        <div id="{{ id }}_preview" class="preview hide_on_load"></div>
        {% if txt %}
            <textarea id="{{ txt.id_for_label }}"
                      name="{{ txt.name }}"
                      cols="{{ txt.field.widget.attrs.cols }}"
                      rows="{{ txt.field.widget.attrs.rows }}"
                      placeholder="{{ txt.field.widget.attrs.placeholder }}"
                      class="auto_resizable_textarea"
                      oninput="auto_resize_textarea(this)">{{ txt.initial|default_if_none:"" }}</textarea>
        {% else %}
            <textarea id="{{ id }}"
                      class="auto_resizable_textarea"
                      oninput="auto_resize_textarea(this)"
                      name="{{ textarea_name|default:full_name }}">{{ text|default:"" }}</textarea>
        {% endif %}
    </div>

{% endwith %}

