{% load user_tags %}
{% load cache %}

<div class="commit_container text2jax_ignore"
     {% if origin == 'overview' %} style="display: none" {% endif %}
     id="{{ commit.commit_id }}"
     data-commit_author="{{ commit.author }}"
     data-commit_title="{{ commit.title }}"
     data-commit_human_readable_field="{{ commit.human_readable_field }}"
     data-commit_type="{{ commit.commit_type }}"
     data-commit_status="{{ commit.status }}">
    <div style="grid-template-columns: auto 1fr; display: grid;">
        <div class="commit_created_text">
            {% if commit.field == "!create" %}
                {{ commit.commit_type|translate_to_nominativ|safe }} "{{ commit.title }}" wurde am {{ commit.timestamp|date:"d.m.Y H:i" }} von <b>{{ commit.author|default:"<i>Nutzer existiert nicht</i>" }}</b> <b>erstellt</b>.
            {% elif commit.field == '!delete' %}
                {{ commit.commit_type|translate_to_nominativ|safe }} "{{ commit.title }}" soll seit dem {{ commit.timestamp|date:"d.m.Y H:i" }} von <b>{{ commit.author|default:"<i>Nutzer existiert nicht</i>" }}</b> <b>gelöscht</b> werden.
            {% elif commit.field == '!migration' %}
                {{ commit.commit_type|translate_to_nominativ|safe }} "{{ commit.title }}" wurde am {{ commit.timestamp|date:"d.m.Y H:i" }} <b>migriert</b>.
            {% else %}
                {{ commit.field|translate_to_nominativ|safe }} {{ commit.commit_type|translate_to_genitiv|safe }} "{{ commit.title }}" wurde am {{ commit.timestamp|date:"d.m.Y H:i" }} von <b>{{ commit.author|default:"<i>Nutzer existiert nicht</i>" }}</b> <b>verändert</b>.
            {% endif %}
        </div>
        <div>
            {% if origin == 'overview' %}
                {% if commit.commit_type  == 'experiment' or commit.commit_type == 'device' %}
                    <a href="/{{ commit.commit_type }}/{{ commit.id }}/commits/">
                        <button class="generic_button" style="float: right">Anzeigen</button>
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="commit_data_container">
        {% cache None actual_commit commit.commit_id using='default' %}
            {% if commit.field == 'safety_signs' %}
                {% include 'commits/safety_signs.html' %}
            {% elif commit.field == 'labels' %}
                {% include 'commits/labels.html' %}
            {% elif commit.field == 'devices' %}
                {% include 'commits/devices.html' %}
            {% elif commit.field == 'tags' %}
                {% include 'commits/tags.html' %}
            {% elif commit.field == 'execution_time' or commit.field == 'preparation_time' or commit.field == 'status' or commit.field == 'status' or commit.field == 'category' or commit.field == 'experiment_number' %}
                {% include 'commits/dont_highlight_diff.html' %}
            {% else %}
                {% include 'commits/highlight_diff.html' %}
            {% endif %}
        {% endcache %}
    </div>

    {% if commit.status == 'not_handled' %}
        {% if can_approve_commits %}
            <div style="text-align: right">
                <button class="generic_button commit_button_decline" onclick="handle_commit(this, {{ commit.commit_id }}, 'deny')">
                    Ablehnen
                </button>
                <button class="generic_button commit_button_approve" onclick="handle_commit(this, {{ commit.commit_id }}, 'accept')">
                    Bestätigen
                </button>
            </div>
        {% else %}
            <div class="commit_confirmed_text">
                Die Änderung wurde noch nicht bestätigt.
            </div>
        {% endif %}
    {% else %}
        <div class="commit_confirmed_text">
            {% if commit.status == 'auto_approved' %}
                Die Änderung wurde automatisch bestätigt.
            {% elif commit.status == 'man_approved' %}
                <span style="color:darkgreen">Die Änderung wurde am {{ commit.confirmed_at|date:"d.m.Y H:i" }} von {{ commit.confirmed_by|default:"<i>Nutzer existiert nicht</i>" }} bestätigt.</span>
            {% elif commit.status == 'man_rejected' %}
                <span style="color:red">Die Änderung wurde am {{ commit.confirmed_at|date:"d.m.Y H:i" }} von {{ commit.confirmed_by|default:"<i>Nutzer existiert nicht</i>" }} abgelehnt.</span>
            {% else %}
                Error occurred while creating confirmed text.
            {% endif %}
        </div>
    {% endif %}
</div>

