{% with commit.data|parse_devices as data %}
    <div class="commit_data commit_data_old">
    {% for device in data.0 %}
        <a href="/device/{{ device }}/"><button>{{ device }}</button></a>
    {% endfor %}
    </div>
    <div class="commit_data commit_data_new">
    {% for device in data.1 %}
        <a href="/device/{{ device }}/"><button>{{ device }}</button></a>
    {% endfor %}
    </div>
{% endwith %}