{% with commit.data as data %}
    <div class="commit_data commit_data_old">
        {{ data.0|default:'' }}
    </div>
    <div class="commit_data commit_data_new">
        {{ data.1|default:'' }}
    </div>
{% endwith %}