{% with commit.data|create_data_diff as data %}
    <div class="commit_data commit_data_old">
        {{ data.0|safe|linebreaks }}
    </div>
    <div class="commit_data commit_data_new">
        {{ data.1|safe|linebreaks }}
    </div>
{% endwith %}