{% with commit.data|parse_labels as data %}
    <div class="commit_data commit_data_old">
    {% for label in data.0 %}
        <a href="/label/{{ label }}/view/"><button>{{ label }}</button></a>
    {% endfor %}
    </div>
    <div class="commit_data commit_data_new">
    {% for label in data.1 %}
        <a href="/label/{{ label }}/view/"><button>{{ label }}</button></a>
    {% endfor %}
    </div>
{% endwith %}