{% load static %}

{% with commit.data|parse_safety_signs as data %}
    <div class="commit_data commit_data_old">
    {% for safety_sign in data.0 %}
        <img class="svg_container" src="{% static 'icons/safety_signs/ISO_7010_'|add:safety_sign|add:'.svg' %}"/>
    {% endfor %}
    </div>
    <div class="commit_data commit_data_new">
    {% for safety_sign in data.1 %}
        <img class="svg_container" src="{% static 'icons/safety_signs/ISO_7010_'|add:safety_sign|add:'.svg' %}"/>
    {% endfor %}
    </div>
{% endwith %}