{% with commit.data|parse_tags as data %}
    <div class="commit_data commit_data_old">
    {% for tag in data.0 %}
        <button>{{ tag }}</button>
    {% endfor %}
    </div>
    <div class="commit_data commit_data_new">
    {% for tag in data.1 %}
        <button>{{ tag }}</button>
    {% endfor %}
    </div>
{% endwith %}