/* jsTree default theme */
@theme-name:				default;
@hovered-bg-color: #3d37be;
@hovered-shadow-color:		#cccccc;
@disabled-color:			#666666;
@disabled-bg-color:			#efefef;
@clicked-bg-color: #291e8a;
@clicked-shadow-color:		#999999;
@clicked-gradient-color-1: #2c2972;
@clicked-gradient-color-2: #09071d;
@search-result-color:		#8b0000;
@mobile-wholerow-bg-color: #131135;
@mobile-wholerow-shadow:	#666666;
@mobile-wholerow-bordert:	rgba(255,255,255,0.7);
@mobile-wholerow-borderb:	rgba(64,64,64,0.2);
@responsive:				true;
@image-path:				"";
@base-height:				40px;

@import "../mixins.less";
@import "../base.less";
@import "../main.less";