{% extends 'base/base.html' %}
{% load user_tags %}

{% block page_buttons %}
    {% if not already_active and user|has_group:"Schreiben - Inventur" %}
        <a href="#" class="dropdown_anchor"
           onclick="toggleDropDownClick('dropdownInventory')">{% include 'icons/ic_add_24px.svg' %} Neue Inventur</a>
        <form action="{% url 'inventory_create' %}" id="dropdownInventory" class="dropdownLogin-form" method="POST">
            {% csrf_token %}
            <label for="id_name">Anmerkung</label><br>
            <input type="text" name="name" id="inputName" class="form-control" placeholder="Anmerkung"
                   autofocus><br>
            <button type="submit" class="btn btn-sucess">
                Erstellen
            </button>
        </form>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'modal/delete.html' %}
    {% if active_inventories|length > 0 %}
        <table class="alternating_list">
            <caption>Aktive Inventur:</caption>
            <thead>
            <tr>
                <th scope="col">Gestartet von</th>
                <th scope="col">Startdatum</th>
                <th scope="col">Enddatum</th>
                <th scope="col">Anmerkung</th>
                <th scope="col">Aktionen</th>
            </tr>
            </thead>
            <tbody>
            {% for i in active_inventories reversed %}
                <tr>
                    <td data-label="Gestartet von">{{ i.started_by.username|default:"<i>Nutzer gelöscht</i>" }}</td>
                    <td data-label="Startdatum">{{ i.startdate }}</td>
                    <td data-label="Enddatum">{{ i.enddate|default:"<i>In Durchführung</i>" }}</td>
                    <td data-label="Anmerkung">{{ i.name|default:"<i>Keine Anmerkung</i>" }}</td>
                    <td data-label="Aktionen">
                        {% if active_buttons %}
                            <div>
                                {% for button in active_buttons %}
                                    {% if button.2 == 'inventory_end' %}
                                        <button id="confirm_deletion" value="{% url button.2 i.id %}"
                                                class="{{ button.1 }} underline_button"
                                                onclick="customConfirm(this, 'Inventur wirklich beenden?', 'Beenden')">
                                            {% if button|length > 3 %}
                                                {% include button.3 %}{% endif %}{{ button.0 }}
                                        </button>
                                    {% else %}
                                        <a id="{{ button.2 }}" class="{{ button.1 }} underline_button" href="{% url button.2 i.id %}">
                                            {% if button|length > 3 %}
                                                {% include button.3 %}{% endif %}{{ button.0 }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if inactive_inventories|length > 0 %}
        <table class="alternating_list">
            <caption>Vorherige Inventuren:</caption>
            <thead>
            <tr>
                <th scope="col">Gestartet von</th>
                <th scope="col">Startdatum</th>
                <th scope="col">Enddatum</th>
                <th scope="col">Anmerkung</th>
                <th scope="col">Aktionen</th>
            </tr>
            </thead>
            <tbody>
            {% for i in inactive_inventories reversed %}
                <tr>
                    <td data-label="Gestartet von">{{ i.started_by.username }}</td>
                    <td data-label="Startdatum">{{ i.startdate }}</td>
                    <td data-label="Enddatum">{{ i.enddate|default:"In Durchführung" }}</td>
                    <td data-label="Anmerkung">{{ i.name|default:"<i>Keine Anmerkung</i>" }}</td>
                    <td data-label="Aktionen">
                        {% if inactive_buttons %}
                            <div>
                                {% for button in inactive_buttons %}
                                    {% if button.2 == 'inventory_delete' %}
                                        <button id="confirm_deletion" value="{% url button.2 i.id %}"
                                                class="{{ button.1 }} underline_button"
                                                onclick="customConfirm(this, 'Inventur wirklich löschen?', 'Löschen')">
                                            {% if button|length > 3 %}
                                                {% include button.3 %}{% endif %}{{ button.0 }}
                                        </button>
                                    {% else %}
                                        <a id="{{ button.2 }}" class="{{ button.1 }} underline_button" href="{% url button.2 i.id %}">
                                            {% if button|length > 3 %}
                                                {% include button.3 %}{% endif %}{{ button.0 }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
