{% extends "base/base.html" %}

{% block content %}
    {% include 'modal/delete.html' %}
    {% if active_loans|length > 0 %}
        <table class="alternating_list">
            <caption>Aktuell verliehen:</caption>
            <thead>
            <tr>
                <th scope="col">Typ</th>
                <th scope="col">Verliehen von</th>
                <th scope="col">Verliehen an</th>
                <th scope="col">Verleihdatum</th>
                <th scope="col">Rückgabedatum</th>
                <th scope="col">Aktionen</th>
            </tr>
            </thead>
            <tbody>
            {% for i in active_loans reversed %}
                <tr {% if i.is_due %}class="due"{% endif %}>
                    <td data-label="Typ">
                        {% if i.type == 'loan' %}
                            {% include 'icons/basket2-fill.svg' %}
                        {% else %}
                            {% include 'icons/tools.svg' %}
                        {% endif %}
                    </td>
                    <td data-label="Verliehen von">{{ i.loaned_by.username|default:"<i>Nutzer gelöscht</i>" }}</td>
                    <td data-label="Verliehen an">
                        {% if i.type == 'loan' %}{{ i.loaned_to }}
                        {% else %}<i>E-Werkstatt</i>
                        {% endif %}
                    </td>
                    <td data-label="Verleihdatum">{{ i.startdate }}</td>
                    <td data-label="Rückgabedatum">
                        {% if i.type == 'loan' %}{{ i.enddate }}
                        {% else %}<i>in Reparatur</i>
                        {% endif %}
                    </td>
                    <td data-label="Aktionen">
                        {% if active_buttons %}
                            <div>
                                {% for button in active_buttons %}
                                    {% if button.2 == 'loan_return' %}
                                        <button id="confirm_deletion" value="{% url button.2 i.id %}"
                                                class="{{ button.1 }} underline_button"
                                                onclick="customConfirm(this, 'Verleih wirklich zurückgeben?', 'Rückgabe')">
                                            {% if button|length > 3 %}
                                                {% include button.3 %}{% endif %}{{ button.0 }}
                                        </button>
                                    {% else %}
                                        <a id="{{ button.2 }}" class="{{ button.1 }} underline_button" href="{% url button.2 i.id %}">
                                            {% if button|length > 3 %}
                                                {% include button.3 %}{% endif %}{{ button.0 }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if inactive_loans|length > 0 %}
        <table class="alternating_list">
            <caption>Historie:</caption>
            <thead>
            <tr>
                <th scope="col">Verliehen von</th>
                <th scope="col">Verliehen an</th>
                <th scope="col">Verleihdatum</th>
                <th scope="col">Rückgabedatum</th>
                <th scope="col">Aktionen</th>
            </tr>
            </thead>
            <tbody>
            {% for i in inactive_loans reversed %}
                <tr>
                    <td data-label="Verliehen von">{{ i.loaned_by.username|default:"Nutzer gelöscht" }}</td>
                    <td data-label="Verliehen an">
                        {% if i.type == 'loan' %}{{ i.loaned_to }}
                        {% else %}<i>E-Werkstatt</i>
                        {% endif %}
                    </td>
                    <td data-label="Verleihdatum">{{ i.startdate }}</td>
                    <td data-label="Rückgabedatum">{{ i.enddate }}</td>
                    <td data-label="Aktionen">
                        {% if inactive_buttons %}
                            <div>
                                {% for button in inactive_buttons %}
                                    {% if button.2 == 'loan_delete' %}
                                        <button id="confirm_deletion" value="{% url button.2 i.id %}"
                                                class="{{ button.1 }} underline_button"
                                                onclick="customConfirm(this, 'Verleih wirklich löschen?', 'Löschen')">
                                            {% if button|length > 3 %}
                                                {% include button.3 %}{% endif %}{{ button.0 }}
                                        </button>
                                    {% else %}
                                        <a id="{{ button.2 }}" class="{{ button.1 }} underline_button" href="{% url button.2 i.id %}">
                                            {% if button|length > 3 %}
                                                {% include button.3 %}{% endif %}{{ button.0 }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
