{% load custom_tags %}

{% if comment_list|length > 0 %}
    <table class="alternating_list">
        <thead>
        <th scope="col">Versuch</th>
        <th scope="col">Nutzer</th>
        <th scope="col">Kommentar</th>
        <th scope="col">Datum</th>
        </thead>
        <tbody>
        {% for c in comment_list %}
            <tr>
                <td data-label="Versuch"><a
                        href="{% url 'experiment_comments' c.experiment.id %}" class="blue underline_button">{{ c.experiment }}</a></td>
                <td data-label="Nutzer">{{ c.user.username }}</td>
                <td data-label="Kommentar">{{ c.message|bbcode|safe }}</td>
                <td data-label="Datum">{{ c.timestamp }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}


