{% extends 'base/base.html' %}

{% block content %}

<div class="comment_container">
        {% if form %}
            <div id="comment_overview" class="comment_form_container">
                <div class="input_field">
                    {{ form.type.label_tag }}<br/>
                    {{ form.type }}
                </div>
            </div>
        {% endif %}

        {% if comments_public is not None %}
            <div id="PUBLIC" style="display:none">
                <div id="comments">
                    {% include 'comments/list.html' with comment_list=comments_public %}
                </div>
            </div>
        {% endif %}
        {% if comments_demo is not None %}
            <div id="DEMO" style="display:none">
                <div id="comments">
                    {% include 'comments/list.html' with comment_list=comments_demo %}
                </div>
            </div>
        {% endif %}
        {% if comments_vla is not None %}
            <div id="VLA" style="display:none">
                <div id="comments">
                    {% include 'comments/list.html' with comment_list=comments_vla %}
                </div>
            </div>
        {% endif %}
</div>
{% endblock %}