{{ experiment_list|json_script:"experiment_list" }}
{{ device_list|json_script:"device_list" }}

{% if color_data %}
    {{ color_data|json_script:"color_data" }}
    <script>
        /**
         * Builds a JSON compatible List of all colors from the database, used to style
         * the select2 options
         * @returns {*[]} the JSON compatible list of entries
         */
        function buildColorList() {
            let c = JSON.parse(document.getElementById('color_data').textContent);
            let data = [c.length];
            for (let i = 0; i < c.length; i++) {
                data[i] = {
                    id: c[i][0],
                    text: c[i][1],
                    html: c[i][2],
                };
            }
            return data;
        }

        $(document).ready(function () {
            var data = buildColorList();
            $('.color_select').select2({
                width: '100%',
                data: data,
                escapeMarkup: function (markup) {
                    return markup;
                },
                templateResult: function (data) {
                    return data.html;
                },
                templateSelection: function (data) {
                    return data.html;
                }
            })
        });
    </script>
{% endif %}
<script>
    function paintExp(elem) {
        let output = "--tag-bg: token"
        let hashed = (elem.split(".")[0].charCodeAt(0) * 31)
            + (elem.split(".")[1].charCodeAt(0) * 3);
        // + hash(elem.split(".")[2]) * 3;
        hashed = hashed % 360;
        output = output.replace("token", hslToHex(hashed, 60, 70));
        return output;
    }

    function hslToHex(h, s, l) {
        l /= 100;
        const a = s * Math.min(l, 1 - l) / 100;
        const f = n => {
            const k = (n + h / 30) % 12;
            const color = l - a * Math.max(Math.min(k - 3, 9 - k, 1), -1);
            return Math.round(255 * color).toString(16).padStart(2, '0');   // convert to Hex and prefix "0" if needed
        };
        return `#${f(0)}${f(8)}${f(4)}`;
    }

    function hash(str) {
        var hash = 0, i, chr;
        if (str.length === 0) return hash;
        for (i = 0; i < str.length; i++) {
            chr = str.charCodeAt(i);
            hash = hash + chr;
        }
        return hash;
    }

    const experiment_list = JSON.parse(document.getElementById('experiment_list').textContent);
    const device_list = JSON.parse(document.getElementById('device_list').textContent);

    var input = document.querySelector('textarea[name=experiment]')
    var exp = new Tagify(input, {
        whitelist: experiment_list.map(({id, name}) => ({
            value: id,
            name: name,
            clean_name: escapeUserHtml(name),
            style: paintExp(name)
        })),
        enforceWhitelist: true,
        tagTextProp: 'clean_name',
        editTags: false,
        dropdown: {
            placeAbove: false,
            enabled: 0,
            mapValueTo: 'name',
            highlightFirst: true,
            searchKeys: ['name'],
            maxItems: 50,
        },
    })
    var input = document.querySelector('textarea[name=device]')
    var dev = new Tagify(input, {
        whitelist: device_list.map(({id, name}) => ({value: id, name: name, clean_name: escapeUserHtml(name),})),
        enforceWhitelist: true,
        tagTextProp: 'clean_name',
        editTags: false,
        dropdown: {
            placeAbove: false,
            enabled: 0,
            mapValueTo: 'name',
            highlightFirst: true,
            searchKeys: ['name'],
            maxItems: 50,
        },
    })
</script>