@import "app";

table.alternating_list {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  color: @text-color;
}

table.alternating_list caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table.alternating_list tr {
  background-color: tint(@content_color, 70%);
  border: 1px solid #ddd;
  padding: .35em;
}

table.alternating_list tr:nth-of-type(odd) {
  background: @content_color;
}

table.alternating_list th,
table.alternating_list td {
  padding: .625em;
  text-align: center;
  overflow-wrap: break-word;

  .user_color {
    display: flex;
    gap: 0.5em;
    align-items: center;
    margin-left: 40%;
  }

}

table.alternating_list th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}




.alternating_list button.button {
  background-color: @button-color-blue;
  color: @text-color-white;
  border-radius: @def-border-radius;
  text-decoration: none;
  height: 2.5em;
  display: inline-block;
  text-align: center;
  min-width: 10em;
  border: none;

  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.alternating_list button.button:hover {
  background-color: shade(@button-color-blue, 20%);
  cursor: pointer;
}

.alternating_list button.button:disabled {
    background-color: tint(@text-color-dark, 80%);
    color: tint(@text-color-dark, 20%);
    border: none;
    cursor: default;
  }

.alternating_list .blue {
  color: @button-color-blue;
  -webkit-text-decoration-color: transparent;
}

.alternating_list .blue:hover {
  color: shade(@button-color-blue, 20%);
  text-decoration: underline shade(@button-color-blue, 20%);
}

.alternating_list .green {
  color: @button-color-green;
}

.alternating_list .green:hover {
  color: shade(@button-color-green, 20%);
  text-decoration: underline shade(@button-color-green, 20%);
}

.alternating_list .red {
  color: @button-color-red;
}

.alternating_list .red:hover {
  color: shade(@button-color-red, 20%);
  text-decoration: underline shade(@button-color-red, 20%);
}

.alternating_list > tbody .select2 {
  width: 100% !important;
}

.alternating_list > tbody input[type=number], .alternating_list > tbody input[type=text] {
  font-size: 1em;
  height: 2.4em;
  border: 1px solid @field-border-color;
  border-radius: 4px;
  /*box-shadow: inset 0 0 5px #ececec;*/
  padding-left: 0.5em;
  transition: .1s;
  width: 100%;
}

.alternating_list > tbody input[type=number]:hover, .alternating_list > tbody input[type=text]:hover {
  border-color: @hover-border-color;
}

.alternating_list > tbody input[type=number]:focus, .alternating_list > tbody input[type=text]:focus {
  outline: none;
  border-color: @focus-border-color;
}

@media screen and (max-width: 1000px) {
  table.alternating_list {
    border: 0;
  }

  table.alternating_list caption {
    font-size: 1.3em;
  }

  table.alternating_list thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table.alternating_list tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
    overflow-wrap: break-word;
  }

  table.alternating_list td {
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: .8em;
    text-align: right;

    .user_color {
      flex-direction: row-reverse;
      margin-left: 0;
    }

  }

  table.alternating_list td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table.alternating_list td:last-child {
    border-bottom: 0;
  }
}

.alternating_list > tbody a.underline_button, .alternating_list > tbody button.underline_button  {
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  text-decoration: underline transparent;
  transition: text-decoration-color 0.2s ease-out;
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: @button_height;
  display: inline-flex;
  align-items: center;

  svg {
      margin: 0.5em;
    }
}

table.alternating_list > tbody > tr.due {
  //border-bottom: 1em solid darken(@altert-color, 20%);

  td[data-label="Rückgabedatum"] {
    color: darken(@altert-color, 50%);
    font-weight: bold;
  }

}

table.alternating_list_extendable tr:nth-last-of-type(2n+2) { //first title row
  border-bottom: 0;
}

table.alternating_list_extendable tr:nth-of-type(4n+1) { //first title row
  background: @content_color;
}

table.alternating_list_extendable tr:nth-of-type(4n+1):hover { //first title row
  background:rgba(0, 0, 0, 0.1);
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

table.alternating_list_extendable tr:nth-of-type(4n+2) { //first extended Content
  background: @content_color;
  border-top: 0;
}

table.alternating_list_extendable tr:nth-of-type(4n+3) { //second title row
  background: initial;
}

table.alternating_list_extendable tr:nth-of-type(4n+3):hover { //second title row
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

table.alternating_list_extendable tr:nth-of-type(4n+0) { //second extended Content
  background: initial;
  border-top: 0;
}

@media screen and (max-width: 1000px) {
  table.alternating_list_extendable tr:nth-of-type(2n+1) {
    margin-bottom: 0;
    margin-top: 0.6125em;
    border-bottom: 1px solid #ddd;
  }
}