@font-face {
  font-family: 'roboto';
  src: local('Roboto');
}

@header-color: #fdfdfe;
@base-color: #b61626; //Buttons WelcomePage Gast, Dozent, FAQ, ...
@highlight-color: #e4e4e4;
@button-color: #e11121;
@hover-color: tint(@button-color, -50%);
@text-color: #1a1919;
@text-color-light-dark: #d5d5d5;
@text-color-dark: #5e5e5e;
@text-color-white: #fdfdfe;
@page-color: #fbfcfd;
@content_color: @startpage-color;  // WelcomePage unter Header "Datenbank Physik"
@content-color-bg: #171a1f;
@comment-border-color: #d0d0d0;
@smartphone-width: 650px;
@base-shadow: 8px;
@base-shadow-color: rgba(0,0,0,0.2);
@field-color: #ececec;  //Suchleiste
@field-border-color: #d5d5d5; // Suchleiste Rand
@border-color: #818181;
@max-width: 1450px;
@button_height: 35px;
@select-disabled: tint(@base-color, 15%);
@select-hover: #6b748c;
@select-enabled: #9fc6ff;
@startpage-color: #f5f5f5;  //Container WelcomePage
@info-color: #ececec; //Farbe für Info-Divs auf WelcomePage

@dark-green: #005d01;
@dark-green-highlight: tint(@dark-green, 20%);
@green: rgba(255, 255, 255, 0.29);
@light-green: #6cff65;
@dark-red: #65000d;
@dark-red-highlight: tint(@dark-red, 20%);
@light-red: #ffc0c3;

@preview_card_width: 300px;
@preview_card_height: 300px;
@preview_card_title_height: 2.5em;

@def-border-radius: 4px;
@def-margin: 16px;

@header-height: 42px;
@header-border: 5px;
@header-content: @header-height - 2 * @header-border;

@altert-color: #eecfd2;
@success-color: #dbeecf;
@warning-color: #eeebcf;

@focus-border-color: #3595f6;
@hover-border-color: #b2b2b2;
@hover-background-color: #ececec;
@button-color-default: @page-color;
@dropdown-text-color: #737373;
@button-highlight: darken(@highlight-color, 10%);

@button-color-blue: #3354af;
@button-color-red: #f2403e;
@button-color-green: #76b92c;
@button-color-default : #b9b9b9;