@import "app";

* {
  font-size: 1em;
}

html{
  height:100%
}

main{
  -ms-flex:1 1 auto;
  flex:1 1 auto
}

body {
  margin: 0;
  //font-size: 16px;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  background: @page-color;
  overflow-y: scroll; /*always keeps a (dead) scrollbar, even if page content is not long enough to actually necessitate one*/
  height:100%;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;
  flex-direction:column
}
div {
  outline: none;
}

strong, b {
  font-weight: bold;
}

.user_color_circle {
  border-radius: 50%;
  box-shadow: 0 0 15px #ccc;
  display: block;
  width: 1em;
  height: 1em;
}

.generic_button {
  background: lightgrey;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 6px;
  padding: 5px 8px;
  color: black;
  cursor: pointer;
  transition: background .3s, color .3s;
}
.generic_button:hover {
  color: @text-color-white ; //#f2f2f2
  background-color: @button-color; //#333333
}
.card {
  background-color: @startpage-color;
  // border-radius: @def-border-radius;
  border-width: 0px;
  border-style: solid;
  border-color: #212121;
  border-top-color: #5a5c56;
  border-left-color: #5a5c56;
  // box-shadow: 0px 0px @base-shadow @base-shadow-color;
  color: @text-color;
  //margin: @def-margin / 2;
  overflow: hidden;
}


a.card {
  text-decoration: none;
}
a.card:hover {
  background-color: @highlight-color;
  color: @text-color-white;
}

#main_page {
  color: @text-color;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  max-width: @max-width;
  padding: @def-margin / 2;
}

.solid_div {
  overflow: hidden;
}

#main_page>h1 {
  text-align: center;
  margin: 0;
}
.header_page {
  background-color: @content_color;
  color: @text-color;
}
.header_page>h1 {
  text-align: center;
  margin: 0;
}
.second_title {
  margin-left: auto;
  margin-right: auto;
  max-width: @max-width;
}
.title_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.inline_container {
   display: flex;
   justify-content: left;
   flex-wrap: wrap;
   align-items: flex-start;
  padding: @def-margin / 4;
 }
.view_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.content_container {
  color: @text-color;
  padding: @def-margin / 2;
}
h1 {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}
@media (max-width: @smartphone-width) {
  .inline_container {
    justify-content: center;
  }
  .view_container {
    flex-wrap: wrap;
  }
  h1 {
    margin-bottom: 8px;
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  .title_container {
    box-shadow: none;
    border-radius: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

}
h2 {
  font-size: 1.3em;
  margin-top: @def-margin * 2;
}
h3 {
  font-size: 1.1em;
}
.description>h1 {
  font-size: 1em;
}
.description>p {
  margin: 0;
}

.loading_icon {display: flex; justify-items: center; justify-content: center; width: 100%;}

.hide_on_load {
  display: none;
}

.info {
  display: flex;
  align-items: center;
  min-height: @def-margin + 24px;
  padding: @def-margin / 2;
  padding-left: @def-margin + 48px;
  background-image: url("/images/icons/safety_signs/ISO_7010_M001.svg");
  background-position: left;
  background-size: 48px;
  background-repeat: no-repeat;
  background-position-x: @def-margin / 2;
  border-radius: @def-border-radius;
  border: 1px solid #9c9eec;
  background-color: fadeout(#9c9eec, 80%)/*#2c2c3b*/;
  color: #9c9eec;
  margin: @def-margin / 2;
}

//.warning {
//  display: flex;
//  align-items: center;
//  min-height: @def-margin + 24px;
//  padding: @def-margin / 2;
//  padding-left: @def-margin + 48px;
//  background-image: url("/images/icons/safety_signs/ISO_7010_W001.svg");
//  background-position: left;
//  background-size: 48px;
//  background-repeat: no-repeat;
//  background-position-x: @def-margin / 2;
//  border-radius: @def-border-radius;
//  border: 1px solid #e12e2e;
//  background-color: fadeout(#e12e2e, 80%)/*#512421*/;
//  color: #e12e2e;
//  margin: @def-margin / 2;
//}

p>strong, p>em {
  margin: @def-margin 0;
}

sub, sup {
  font-size: 0.75em;
}

p {
  margin-top: @def-margin / 2;
  margin-bottom: @def-margin / 2;
}

.info_card {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  justify-content: space-between;
  padding: @def-margin / 2;
  margin: @def-margin / 4;
  width: 128px;
  height: 181px;
  text-align: center;
}
.info_card small {
  color: @text-color-light-dark;
}
.icon {
  height: auto;
  stroke: none;
  fill: @text-color;
}
.icon_button {
  height: auto;
  stroke: none;
  fill: @highlight-color;
}
.icon_button:hover, .icon_button:active {
  height: auto;
  stroke: none;
  fill: @text-color;
}
.title_container>h2 {
  margin: @def-margin / 2;
}
form .title_container, .title_container.commit_header {
  margin-top: @def-margin * 2;
}
.file_icon {
  width: 64px;
  height: 90px;
  border-radius: 8px;
  border: @text-color solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.tokens {
  margin-left: @def-margin / 2;
  margin-top: @def-margin / 2;
  display: inline-flex;
}

.tokens a, .tokens div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9c9eec;
  color: black;
  font-size: 16px;
  font-weight: normal;
  height: 24px;
  padding-left: 4px;
  padding-right: 4px;
  white-space: nowrap;
  text-decoration: none;
}

.tokens svg {
  fill: #9c9eec;
}

.tokens a:hover {
  background-color: #c7ccff;
}

.tokens a:first-child {
  border-top-left-radius: @def-border-radius;
  border-bottom-left-radius: @def-border-radius;
}
.tokens div:last-child {
  border-top-right-radius: @def-border-radius;
  border-bottom-right-radius: @def-border-radius;
  margin-right: @def-margin / 2;
}

#version {
  background-color: @content_color;
  color: @text-color;
  border-top-right-radius: @def-border-radius;
  box-shadow: 0px 0px @base-shadow @base-shadow-color;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: @def-margin / 2;
  text-decoration: none;
}

.date {
  font-size: 0.7em;
  margin-left: @def-margin;
  color: @text-color-dark;
}

#version:hover, #version:focus {
  background-color: @highlight-color;
  cursor: pointer;
}



.commit {
  padding: @def-margin / 2;
  margin: @def-margin / 2;
  color: @text-color-light-dark;
}

.commit small {
  color: @text-color-dark;
  display: block;
  margin-bottom: @def-margin / 2;
}

.commit strong {
  color: @text-color;
}

ins {
  background-color: @dark-green;
  color: @light-green;
  text-decoration: none;
}

.calendarwidget {
  background-color: @startpage-color;
  // border-radius: @def-border-radius;
  border-width: 0px;
  border-style: solid;
  border-color: #212121;
  border-top-color: #5a5c56;
  border-left-color: #5a5c56;
  // box-shadow: 0px 0px @base-shadow @base-shadow-color;
  color: @text-color;
  margin: @def-margin / 2;
  overflow: hidden;
  width: calc(100% - 10px);
}

del {
  background-color: @dark-red;
  color: @light-red;
  text-decoration: none;
}

code {
  margin-top: @def-margin / 2;
  margin-bottom: @def-margin / 2;
  padding: @def-margin / 2;
  display: block;
  white-space: pre-wrap;
  background-color: @content-color-bg;
  border-radius: @def-border-radius;
  color: @text-color-light-dark;
  font-family: sans-serif;
}

button.approve {
  background-color: green;
}

button.approve:hover {
  background-color: tint(green, 15%);;
}

a.approve {
  color: @green;
  font-weight: bold;
}

a.approve:hover {
  color: lightgreen;
}

a.reject {
  color: #f62f30;
  font-weight: bold;
}

a.reject:hover {
  color: @light-red;
}

small.approve {
  color: @green;
  margin: 0;
}

small.reject {
  color: #da4e52;
  margin: 0;
}

.card.delete {
  background-color: @dark-red;
}

.card.create {
  background-color: @dark-green;
}

hr {
  color: @text-color-dark;
  background-color: @text-color-dark;
  border-color: @text-color-light-dark;
}

.statistic_bar {
  display: flex;
}

.statistic_bar_green {
  display: flex;
  background-color: @dark-green;
  align-items: center;
  padding: @def-margin / 2 @def-margin;
}

.statistic_bar_empty {
  display: flex;
  align-items: center;
  padding: @def-margin / 2 @def-margin;
}

.statistic_bar:hover .statistic_bar_green, .statistic_bar:focus .statistic_bar_green {
  background-color: @dark-green-highlight;
}

.statistic_bar:hover, .statistic_bar:focus {
  background-color: @highlight-color;
  cursor: pointer;
}

svg.not_visible {
  margin-right: @def-margin / 2;
  fill: red;
  flex-shrink: 0;
  margin: @def-margin / 2;
}

h2 svg.not_visible {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}

