@import "app";

.alternating_list_grid{
  display: grid;
  grid-template-columns: auto 1fr ;
  grid-gap: 4em;
}

.alternating_list_grid > span{
  font-size: .85em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
  text-align: left;
}

.alternating_list_grid > div {
  text-align: left;
  padding: 0;
}

.alternating_list_grid > div > img{
  max-width: 100%;
}

.alternating_list_grid > div > .content_button_container a{
  background-color: @button-highlight;
  transition: background .3s, color .3s;
  margin-right: .5em;
  margin-bottom: .5em;
}

.alternating_list_grid > div > .content_button_container a:hover{
  background-color: #726c6c;
}

.experiment_button{
  background-color: @button-highlight;
  transition: background .3s, color .3s;
}

.experiment_button:hover{
  background-color: #726c6c;
}

.collapsible{
  font-size: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: @content_color;
  border: 1px solid #ddd;

}
.collapsible:hover {
  background-color: @button-highlight;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

@media screen and (max-width: 1000px){
    .alternating_list_grid{
      display: grid;
      grid-template-columns: auto 1fr ;
      grid-gap: 3em;
      width: 100%;
    }
}

.bookings_main{
  font-size: 1.15em;
  font-weight: bold;
  padding: 1em 0 1em 0.5em;
  text-align: left;
  text-decoration: underline;
}

.bookings_categories{
  font-size: 1em;
  font-weight: bold;
  padding: 1em 0 0.5em 0;
  text-align: left;
}

.input_field_bookings {


  label {
    grid-row: 1;
    font-size: 1em;
    margin-bottom: 0.1em;
  }

  select, input[type=text], input[type=email], input[type=password], input[type=number] {
    font-size: 1em;
    height: 2.4em;
    border: 1px solid @field-border-color;
    border-radius: 4px;
    /*box-shadow: inset 0 0 5px #ececec;*/
    padding-left: 0.5em;
    transition: .1s;
  }

  textarea {
    font-size: 1em;
    height: auto;
    //border: 1px solid @field-border-color;
    //border-radius: 4px;
    /*box-shadow: inset 0 0 5px #ececec;*/
    padding-left: 0.5em;
    transition: .1s;
  }

  ::placeholder {
    white-space: break-spaces;
  }

  select:hover, input[type=text]:hover, input[type=email]:hover, input[type=password]:hover, input[type=number]:hover {
    border-color: @hover-border-color;
  }

  select:focus, input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=number]:focus {
    outline: none;
    border-color: @focus-border-color;
  }
}

.comment_container_bookings {
  background-color: #FFFFFF;;
  border-top: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  border-radius: 4px;
}

.comment_container_bookings:hover {
    border-color: @hover-border-color;
  }

.comment_container_bookings:focus-within {
    outline: none;
    border-color: @focus-border-color;
}


.comment_container_bookings {
  .root_comment li {
    list-style: none;
    padding: @def-margin / 2;
    padding-bottom: 0;
    margin: 0;
  }

  .root_comment {
    margin: @def-margin / 2;
    padding-left: 0;
    padding-bottom: @def-margin / 2;
  }

  li > div {
    margin-top: 0.5em;
  }

  .root_comment ul {
    padding: 0;
    border-left: solid @def-margin / 2 tint(@text-color-dark, 80%);
    padding-top: 0.5em;
    margin-top: 0.5em;
    -webkit-transition: border-color 0.2s ease-out;
    -moz-transition: border-color 0.2s ease-out;
    -o-transition: border-color 0.2s ease-out;
    transition: border-color 0.2s ease-out;
  }

  .root_comment div > blockquote {
    border-left: solid @def-margin / 2 tint(@text-color-dark, 80%);
    padding-left: 1em;
    -webkit-transition: border-color 0.2s ease-out;
    -moz-transition: border-color 0.2s ease-out;
    -o-transition: border-color 0.2s ease-out;
    transition: border-color 0.2s ease-out;
  }

  .root_comment ul:hover, .root_comment div > blockquote:hover {
    border-color: tint(@text-color-dark, 50%);
  }

  .root_comment div > ul {
    border: none;
  }

  .root_comment div > ul > li {
    list-style: initial;
  }

  .root_comment small {
    color: @text-color-dark;
    margin-bottom: @def-margin / 2;
  }

  #new_comment {
    margin: @def-margin / 2;
    margin-top: @def-margin/2;
    width: auto;
    padding: @def-margin / 2;
  }

  .comment > textarea, .comment > .preview {
    margin-top: 1em;
    vertical-align: center;
    font-family: sans-serif;
    font-size: 0.9em;
    border: none;
    //border-bottom: 2px solid @border-color;
    border-radius: 0;
    resize: none;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    outline: none;
    padding-left: 0.85em;
  }

  .comment {

  }

  .comment > header {
    resize: vertical;
    font-family: sans-serif;
    font-size: 1em;
    background-color: none;
    color: @text-color;
    outline: none;
    width: auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    border-bottom: 1px solid @field-border-color;
  }

  .comment > header > button, .comment > header label {
    background: none;
    border: none;
    cursor: pointer;
    color: tint(@text-color-dark, 50%);
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
  }

  .comment > header > button:hover, .comment > header input[type=checkbox]:hover {
    color: @text-color-dark;
  }

  button.comment {
    float: right;
    border: none;
  }


  button.comment:disabled {
    background-color: tint(@text-color-dark, 80%);
    color: tint(@text-color-dark, 20%);
    border: none;
    cursor: default;
  }

  #new_comment textarea {
    box-sizing: border-box;
  }
}

.comment_container form {
    display: grid;
    button {
      justify-self: right;
    }
}