@import "app";

.content_button_container {
  display: flex;
  overflow: hidden;
  flex: 0 1 auto;
  flex-wrap: wrap;
  justify-content: right;
  margin: @def-margin / 2;

  select {
    font-size: 1em;
    height: 2.4em;
    min-width: 15em;
    border: 1px solid @field-border-color;
    border-radius: 4px;
    /*box-shadow: inset 0 0 5px #ececec;*/
    padding-left: 0.5em;
    transition: .1s;
    background-color: @page-color;
  }

  select:hover {
    border-color: @hover-border-color;
  }

  select:focus {
    outline: none;
    border-color: @focus-border-color;
  }

}

@media(max-width: 400px) {
  .content_button_container {
    justify-content: center;
    align-items: center;
  }
}

.content_button_container a {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-decoration: none;
  color: @text-color;
  height: @button_height;
  padding: 0 @def-margin / 2;
  border-radius: @def-border-radius;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
.content_button_container a:hover, .content_button_container button:hover {
  background-color: @button-highlight;
}
.content_button_container a:focus, .content_button_container button:focus {
  background-color: @highlight-color;
}

.content_button_container button[type=submit]:hover {
  background-color: shade(@button-color-red, 20%);
}

.content_button_container button[type=submit]:disabled {
  pointer-events: none;
}

.comment_button_container {
  a{
    color: @text-color-dark;
    text-decoration: underline transparent;
    transition: text-decoration-color 0.2s ease-out;

    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
  }

  a:hover{
    color: @text-color;
    text-decoration: underline @text-color;
  }
}

.button_container a[inventory=false] {
  color: @button-color-blue;
}

.button_container a[inventory=false]:hover {
  color: darken(@button-color-blue, 10%);
}

.button_container a[inventory=true] {
  color: @button-color-red;
}

.button_container a[inventory=true]:hover {
  color: darken(@button-color-red, 10%);
}

.button_container {
  a, button {
    flex: 1;
    color: @text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-decoration: none;
    height: @button_height;
    padding: 0 @def-margin / 2;
    border-color: 1px solid @border-color;
    font-size: 1em;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;

    svg {
      margin: 0.5em;
    }
  }

  button#confirm_deletion {
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: @def-margin / 2;
  height: 2em;
  align-content: center;

}

.list_button_container {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-wrap: nowrap;
}

.button_container > a.category_button {
  color: @text-color;
  transition: color 0.2s ease-out;
}

.button_container > a.category_button:hover {
  color: tint(@text-color, 50%);
}

@media(max-width: 1000px) {
  .button_container {
    overflow: visible;
    max-height: 100%;
  }
}


.title_container .button_container {
  margin-bottom: 0;
}
.title_container h2 {
  margin-bottom: 0;
}
#header_page .button_container {
  display: flex;
  border-radius: 0;
  box-shadow: none;
  overflow: hidden;
  flex: 0 1 auto;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  background-color: transparent;
}

.button_container_right {
  display: flex;
  justify-content: right;
  margin-top: @def-margin / 2;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.viewmode {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.viewmode:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .viewmode {
    background-color: @button-color;
}

input:focus + .viewmode {
    box-shadow: 0 0 1px @button-color;
}

input:checked + .viewmode:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.viewmode.round {
    border-radius: 34px;
}

.viewmode.round:before {
    border-radius: 50%;
}

.green_button {
  background-color: @dark-green;
}

.green_button:hover, degree_button:focus {
  background-color: @dark-green-highlight !important;
}