@import "app";

.comment_container {
  background-color: @page-color;
}

.comment_form_container {
  border-bottom: 2px solid @border-color;
  margin: 1em 1em;
}

#comment_overview {
  margin: 1em 0;
}

.comment_form_container .input_field > select {
  margin: 1em 0;
  width: 100%;
}

.comment_container {
  .root_comment li {
    list-style: none;
    padding: @def-margin / 2;
    padding-bottom: 0;
    margin: 0;
  }

  .root_comment {
    margin: @def-margin / 2;
    padding-left: 0;
    padding-bottom: @def-margin / 2;
  }

  li > div {
    margin-top: 0.5em;
  }

  .root_comment ul {
    padding: 0;
    border-left: solid @def-margin / 2 tint(@text-color-dark, 80%);
    padding-top: 0.5em;
    margin-top: 0.5em;
    -webkit-transition: border-color 0.2s ease-out;
    -moz-transition: border-color 0.2s ease-out;
    -o-transition: border-color 0.2s ease-out;
    transition: border-color 0.2s ease-out;
  }

  .root_comment div > blockquote {
    border-left: solid @def-margin / 2 tint(@text-color-dark, 80%);
    padding-left: 1em;
    -webkit-transition: border-color 0.2s ease-out;
    -moz-transition: border-color 0.2s ease-out;
    -o-transition: border-color 0.2s ease-out;
    transition: border-color 0.2s ease-out;
  }

  .root_comment ul:hover, .root_comment div > blockquote:hover {
    border-color: tint(@text-color-dark, 50%);
  }

  .root_comment div > ul {
    border: none;
  }

  .root_comment div > ul > li {
    list-style: initial;
  }

  .root_comment small {
    color: @text-color-dark;
    margin-bottom: @def-margin / 2;
  }

  #new_comment {
    margin: @def-margin / 2;
    margin-top: @def-margin/2;
    width: auto;
    padding: @def-margin / 2;
  }

  .comment > textarea, .comment > .preview {
    margin-top: 1em;
    vertical-align: center;
    font-family: sans-serif;
    font-size: 0.9em;
    border: none;
    border-bottom: 2px solid @border-color;
    border-radius: none;
    -webkit-appearance: none;
    -webkit-border-radius:0;
    border-radius:0;
    resize: none;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    outline: none;

  }

  .comment {

  }

  .comment > header {
    resize: vertical;
    font-family: sans-serif;
    font-size: 1em;
    background-color: none;
    color: @text-color;
    outline: none;
    width: auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }

  .comment > header > button, .comment > header label {
    background: none;
    border: none;
    cursor: pointer;
    color: tint(@text-color-dark, 50%);
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
  }

  .comment > header > button:hover, .comment > header input[type=checkbox]:hover {
    color: @text-color-dark;
  }

  button.comment {
    float: right;
    border: none;
  }


  button.comment:disabled {
    background-color: tint(@text-color-dark, 80%);
    color: tint(@text-color-dark, 20%);
    border: none;
    cursor: default;
  }

  #new_comment textarea {
    box-sizing: border-box;
  }
}

.comment_container form {
    display: grid;
    button {
      justify-self: right;
    }
}
