@import "app";

.dropbtn {
  width: @preview_card_title_height / 1.5;
  max-width: @preview_card_title_height / 1.5;
  padding: 0px;
  margin: 0px;
  height: 100%;
  color: @text-color;
    fill: @text-color;
  border: none;
  cursor: pointer;
  z-index: 1;
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex: 0 0;
  font-size: 1.5em;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: @highlight-color;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  right: 0px;
  display: none;
  position: absolute;
  background-color: @highlight-color;
  min-width: 160px;
  box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.3);
  z-index: 999;
  border-radius: 0px 0px 0px @def-border-radius;
  border-top-color: @text-color;
  border-top-style: dashed;
  border-top-width: 0;
  overflow: hidden;
}

.dropdown-content a {
  display: flex;
  align-items: center;
  color: @text-color;
  padding: @def-margin / 2 @def-margin;
  text-decoration: none;
}

.dropdown a:hover {background-color: @highlight-color;}

.show {display: block;}
