@import "app";

.editor {
}
.editor header {
  border: 1px solid @border-color;
  border-radius: @def-border-radius;
  border-bottom-width: 0;
  border-radius: @def-border-radius @def-border-radius 0 0;

  resize: vertical;
  font-family: sans-serif;
  font-size: 1em;
  background-color: @field-color;
  color: @text-color;
  outline: none;
  width: auto;
  display: flex;
  justify-content: left;
}
.editor textarea {
  margin: 0;
  border-radius: 0 0 @def-border-radius @def-border-radius;
  box-sizing: border-box;
  resize: vertical;
  width: 100%;
  height: 10em;
}

.editor button, .editor .check_container {
  border: none;
  background-color: transparent;
  box-shadow: none;
  margin: 0;
  padding-left: @def-margin / 2;
  padding-right: @def-margin / 2;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.editor .preview {
  background-color: @field-color;
  border: black solid 1px;
  padding: @def-margin / 2;
  // border-radius: 0 0 @def-border-radius @def-border-radius;
}

.editor button:hover, .editor button:hover {
  background-color: @highlight-color;
}

.vertical_line {
  height: 32px;
  width: 0;
  border-left: @text-color 1px solid;
  display: inline-block;
  position: absolute;
}