        .text_error{
            font-size: 1.1em;
            word-wrap: break-word;
        }
        .image_error{
            float: right;
            width: 478px;
            max-width: 50%;
            padding-left: 50px;
        }

        @media screen and ( max-width: 800px ){
            .image_error{
                width: 100%;
                max-width: 100%;
            }
        }