@import "app";

.footer-basic {
  padding: 20px 0;
  background-color:@base-color;
  color:@text-color-white;
  text-align: center;
  font-size: 1.1em;
  line-height: 2;
}

.footer-basic a {
  color:@text-color-white;
  text-decoration:none;
}

.footer-basic a:hover {
  text-decoration:underline;
}

.copyright {
  text-align:center;
  font-size: 0.75em;
  color:#aaa;
}