@import "app";

.form_container {
  background-color: @content_color;
  display: grid;
  grid-template-columns: 1;
  border-radius: 0.5em;
  margin: 0;
}

input {
  box-sizing: border-box;
}

input#search-input {
  border: 1px solid @field-border-color;
  border-radius: @def-border-radius;
  font-size: 1em;
  height: 2em;
  transition: .2s;
}
input#search-input:hover {
  border-color: @hover-border-color;
  background-color: @highlight-color;
}

input#search-input:focus {
  outline: none;
  border-color: @focus-border-color;
}

.input_field {


  label {
    grid-row: 1;
    font-size: 1.1em;
    margin-bottom: 0.1em;
  }

  select, input[type=text], input[type=email], input[type=password], input[type=number] {
    font-size: 1em;
    height: 2.4em;
    border: 1px solid @field-border-color;
    border-radius: 4px;
    /*box-shadow: inset 0 0 5px #ececec;*/
    padding-left: 0.5em;
    transition: .1s;
  }

  textarea {
    font-size: 1em;
    font-family: sans-serif;
    font-size: 0.9em;
    height: 15em;
    border: 1px solid @field-border-color;
    border-radius: 4px;
    /*box-shadow: inset 0 0 5px #ececec;*/
    padding-left: 0.5em;
    transition: .1s;
    resize: vertical;
  }

  select:hover, input[type=text]:hover, input[type=email]:hover, input[type=password]:hover, input[type=number]:hover, textarea:hover {
    border-color: @hover-border-color;
  }

  select:focus, input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=number]:focus, textarea:focus {
    outline: none;
    border-color: @focus-border-color;
  }
}

button[type=submit] {
  margin: 1em 0;
  svg {
    fill: @text-color-white;
  }
  background-color: @button-color-red;
  border: none;
  border-radius: 5px;
  color: @text-color-white;
  height: 2.5em;
  min-width: 9em;
  //box-shadow: 0 0 5px #ccc;

  font-size: 1em;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

button[type=submit]:hover {
  background-color: shade(@button-color-red, 20%);
  //border: 3px solid @border-color;
  cursor: pointer;
}

button[type=submit]#confirm_deletion {
  margin: 0;
}

.input_field#groups, .input_field#experiment, .input_field#device {
  border-top: 1px solid tint(@border-color, 70%);
  border-radius: 0px;
}

.preset_delete {
  width: 15px;
  height: 15px;
  background-color: gray;
  align-self: right;
  display: none;
}

button[type=submit]:disabled {
    background-color: tint(@text-color-dark, 80%);
    color: tint(@text-color-dark, 20%);
    border: none;
    cursor: default;
}





