.fullpage_h1 {
  font-weight: bold;
  margin-bottom: 0.25em;
  font-size: 2em;
}

/*CSS for fullpage files*/

div.file_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(228px, 1fr));
}

div.file_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f5f5f5;
  border-radius: 10px;
  border: 1px solid grey;
  text-decoration: none;
  margin: 5px;
  overflow: hidden;
  height: auto;
  transition: .3s;
  justify-content: space-between;
}

div.file_item:hover {
  background: #e7e7e7;
  box-shadow: 0px 0px 8px 1px lightgrey;
}

div.file_item > a {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.file_item > a div {
  text-decoration: none;
}

div.file_item_text {
  margin: 0.5em;
  word-break: break-word;
}

div.file_image_hover {
  transition: transform .3s;
  overflow: hidden;
}

a.file_no_image_link {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.file_item > a:any-link {
  text-decoration: none;
  color: inherit;
}

div.file_no_image_border {
  width: 113px;
  height: 57px;
  margin: 57px;
  border: 2px solid grey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

/*CSS for fullpage commits*/

div.commit_container {
  background: #f5f5f5;
  border-radius: 10px;
  margin-bottom: .75em;
  display: grid;
  transition: .3s;
  border: 1px solid grey;
  overflow: hidden;
}

div.commit_container:hover {
  background: #e7e7e7;
}

div.commit_created_text {
  margin-top: 0.5em;
  margin-left: 0.5em
}

div.commit_confirmed_text {
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  text-align: right;
}

div.commit_data_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div.commit_data {
  border-radius: 5px;
  border: 2px solid;
  margin: 0.5em;
  padding: 0.25em 0.5em;
  word-break: break-word;
}

div.commit_data_old {
  border-color: red;
  float: left;
}

div.commit_data_new {
  border-color: forestgreen;
  float: right;
}

div.commit_data > button {
  user-select: text;
}

div.commit_data > a > button:hover {
  cursor: pointer;
}

button.commit_button_decline {
  background: red;
  color: #fbfcfd;
  margin-bottom: 0;
}

button.commit_button_decline:hover {
  background: #c90000;
  color: #fbfcfd;
}

button.commit_button_approve {
  background: forestgreen;
  color: #fbfcfd;
  margin-bottom: 0;
}

button.commit_button_approve:hover {
  background: #1a6b1a;
  color: #fbfcfd;
}

@media screen and (max-width: 500px) {
  div.commit_data_container {
    grid-template-columns: 1fr;
  }
}

/*CSS for fullpage device_description*/

div.device_description_container {
  display: flex;
  flex-wrap: wrap;
}

div.device_description_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f5f5f5;
  border-radius: 10px;
  border: 1px solid grey;
  padding: .5em;
  margin: 5px;
  width: 120px;
  height: 160px;
}
