@import "app";



body>header {
  background-color: @header-color;
  color: @text-color;
  display: flex;
  // align-items: center;
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: @header-height + 20px;
  // box-shadow: 0px 0px @base-shadow @base-shadow-color;
  z-index: 3;
}
#header_spacer {
    height: @header-height+19px;
}

.dropdownLogin-form {
  display: none;
  position: absolute;
  background-color: @highlight-color;
  min-width: 160px;
  box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 999;
  border-top-color: @text-color;
  border-top-style: dashed;
  border-top-width: 0;
  overflow: hidden;
  padding: @def-margin / 2;
  white-space: nowrap;
  width: auto;
  right: 0;

  a {
    display: block;
    text-decoration: none;
    color: @dropdown-text-color;
    padding: @header-border;
    white-space: nowrap;

  }

  input[type=text], input[type=password] {
    height: 2.4em;
    border: 1px solid @field-border-color;
    border-radius: 4px;
    /*box-shadow: inset 0 0 5px #ececec;*/
    padding-left: 0.5em;
    transition: .1s;
    width: 100%;
  }

  button[type=submit] {
    width: 100%;
  }


  input[type=text]:hover, input[type=password]:hover {
    border-color: @hover-border-color;
  }

 input[type=text]:focus, input[type=password]:focus {
    outline: none;
    border-color: @focus-border-color;
  }
}

body > header > .max_width_container > div a {
  color: @text-color;
  display: inline-block;
  text-decoration: none;
  padding: @header-border;
  white-space: nowrap;
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

#dropdownUser a, #dropdownDevices a {
  color: @dropdown-text-color;
  text-decoration: underline @highlight-color;
  transition: text-decoration-color 0.2s ease-out;
}

#dropdownUser a:hover, #dropdownDevices a:hover {
  color: @text-color;
  text-decoration: underline @text-color;
}

body>header>.max_width_container>div a:hover {
    background-color: @highlight-color;
    /*color: @text-color-white*/
}
body>header>.max_width_container>div a:focus {
    background-color: @highlight-color;
    outline: none;
}
div.logo {
    display: inline-block;
    height: @header-content;
    vertical-align: middle;
    text-align: center;
    margin-right: @header-border;
    font-size: (@header-content - 4px) / 2;
}
@media (max-width: 512px) {
    div.logo {
        display: none;
    }
}
a>svg, button>svg {
  display: inline-block;
  height: @header-content;
  vertical-align: middle;
  text-align: center;
  fill: @text-color;
}
body>header a>svg, body>header button>svg {
   display: inline-block;
   height: @header-content;
   vertical-align: middle;
   text-align: center;
   fill: transparent;
   stroke: @text-color;
   width: 32px;
}

body>header a.filled>svg {
  fill: @text-color;
  stroke: transparent;
}

.max_width_container>input {
    font-size: 1.25em;
    text-align: center;
}
.max_width_container>input::placeholder {
    color: #a5a5a5; //tint(@field-color, 50%)
}
.max_width_container>input:hover {
    background-color: tint(@field-color, 5%);
}
.max_width_container>input:focus {
    background-color: @field-color;
    color: @text-color;
}

.max_width_container {
  margin-top: 19px;
  margin-left: auto;
  margin-right: auto;
  background-color: @header-color;
  color: @text-color;
  display: grid;
  grid-template-columns: minmax(auto, 1fr) minmax(32px, 500px) minmax(auto, 1fr);
  grid-gap: @def-margin / 2;
  align-items: center;
  width: 100%;
  max-width: @max-width;
  height: @header-height;
  z-index: 5;
}

#header_stripe_red {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  background-color: @base-color;
  height: 14px;
  align-items: center;
  width: 100%;
  //max-width: @max-width;
  z-index: 2;
}

#header_stripe_white {
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  background-color: @header-color;
  height: 4px;
  align-items: center;
  width: 100%;
  //max-width: @max-width;
  z-index: 3;
}

#header_stripe_black {
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  background-color: #1a1919;
  height: 1px;
  align-items: center;
  width: 100%;
  //max-width: @max-width;
  z-index: 4;
}



.dropdown_anchor {
  display: inline-block;
  position: relative;
}

/* User dropdown */




@media (max-width: 850px)  {

  .max_width_container {
  grid-template-columns: 50px minmax(32px, 600px) minmax(auto, 1fr);
}

  header>.max_width_container>div a span {
    display: none;
  }

  #search-input {
    width: 100%;
    left: 0;
    transition: width 2.0s ease-in, left 2.0s ease-in;
    position: relative;
  }

  #search-input:focus {
    z-index: 9999;
    width: calc(100vw - @def-margin/2);
    left: calc((-50px) - (@def-margin/4));
    box-shadow: 0 0 50px #000000cc;
  }
}

