@import "app";

.inventory_container h2 {
  color: @text-color-light-dark;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  text-decoration: underline transparent;
  transition: text-decoration-color 0.2s ease-out;
}

.inventory_container {
  padding: 1em;
}

.inventory_container .head {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  align-items: center;
}

@media (max-width: 500px) {
  .inventory_container .head {
    grid-template-columns: repeat(1, max-content);
  }
}

.inventory_container h1 {
  margin: 1em 0;
  border-bottom: 2px solid @border-color;
}

.inventory_container h2 {
  margin: 0;
  font-weight: lighter;
  color: @text-color;
}

.inventory_container span {
  border-bottom: 2px solid @border-color;
}

.inventory_container .device_show {
  margin: 2em 0;
  padding: 1em 0;
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: @def-border-radius;
  padding-right: 1em;
}

.inventory_container .device_show:hover {
  cursor: pointer;
  background-color: @highlight-color;
}
