@import "app";

div.jstree-container {
    position: sticky;
    top: @header-height + @def-margin;
    width: 300px;
    min-width: 300px;
    text-align: left;
}

@media (max-width: @smartphone-width) {
    div.jstree-container {
        position: static;
        width: 100%;
    }
}
