@import "app";

.label {
    padding: @def-margin / 4 @def-margin / 2;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
  white-space: nowrap;
  background-color: @content_color;
}

.label:hover {
    background-color: @highlight-color !important;
  cursor: pointer;
}

span .label {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin: 0 2px;
}

span .label:first-child {
  margin-left: 4px;
}

span .label:last-child {
  margin-right: 4px;
}
