@import "app";

.grid_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid_title {
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  padding-left: .5em;
}

.grid_item {
  display: grid;
  align-items: stretch;
  justify-content: stretch;
  position: relative;
  background-color: white;
  height: 300px;
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;
  grid-template-rows: auto 4em;
  border: 1px solid grey;
}

.pending_delete {
  color: darken(@altert-color, 50%);
  font-weight: bold;
}

div.grid_item > div.base_info > a {
  text-decoration: none;
  color: #1A1919;
}

div.grid_item > div.base_info > div.button_container > a > .bereits_inventarisiert_class {
  //color: @button-color-red;
}

div.grid_item > div.base_info > div.button_container > a > .inventarisieren_class {
  //color: @button-color-blue;
}

div.grid_item > div.base_info > a > div.object_information {
  padding: .5em;
}

div.grid_item > .image {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid grey;
  text-decoration: none;
  color: inherit;
}

.grid_item:hover > .image > .preview_text {
  display: block;
  background-color: rgba(211, 211, 211, 0.69);
}

.grid_item > .image > div > img {
  position: absolute;
}

.grid_item > .image > div.img_container {
 position: absolute;
  display: grid;
  place-items: center;
  background-color: #FBFCFD;
  height: 100%;
  width: 100%
}

.grid_item:hover > .image > div > img {
  filter: blur(3px);
}

.grid_item > .image > .preview_text {
  z-index: 1;
  padding: .5em;
  display: none;
  width: calc(100% - 1em);
  height: 100%;
  position: absolute;
  word-break: break-word;
}

.grid_item > .base_info {
  grid-row: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list_container {
  display: grid;
  width: 100%;
}

.list_title {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  padding-left: .5em;
}

div.list_item {
  min-height: 2.5em;
  border-radius: 5px;
  border-bottom: 1px solid #989898;
  display: grid;
  align-content: center;
}

div.list_item:hover {
  z-index: 1;
}

div.list_item > div.base_info {
  padding-left: .5em;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
}

.list_item > .image > .preview_text,
.list_item > .image > img,
.list_item > .image > div {
  display: none;
}

div.list_item > div.base_info > a {
  text-decoration: none;
  color: #1A1919;
}

a.button_a_stretch {
  height: 100%
}

.titlecpp {
  position: relative;
  left: -6em;
  width: calc(100% + 5.5em);
  background-color: #d7d7d7;
  border-radius: 5px;
  border-bottom: 1px solid #989898;
}

.titlecp {
  position: relative;
  left: -4em;
  width: calc(100% + 3.5em);
  background-color: #e8e8e8;
  border-radius: 5px;
  border-bottom: 1px solid #989898;
}

.titlecategory {
  position: relative;
  left: -2em;
  width: calc(100% + 1.5em);
  background-color: #f1f1f1;
  border-radius: 5px;
  border-bottom: 1px solid #989898;
}

.container-default_sort {
  padding-left: 6em;
  width: calc(100% - 6em);
}

.container-custom_sort {
  padding-left: 0;
  width: 100%;
}

div.object {
  background-color: #f6f6f6;
  transition: .3s;
}

div.object_like {
  transition: .3s;
}
div.object_like:hover {
  background-color: rgba(0,0,0,.2);
  cursor: pointer;
}

.fill_height_100 {
  height: 100%;
  display: flex;
  align-items: center;
}