@import "app";

.list_entry_container {
    width: 100%;
  display: grid;
}

.devices {
    .list_entry_container {
        grid-template-columns: repeat(auto-fill, minmax(@preview_card_height*2, 1fr));
    }
}
@media (max-width: @smartphone-width) {
  .list_entry_container {
    grid-gap: 0;
    grid-template-columns: 1fr;
    //margin: -@def-margin / 2;
  }
}

/* Preview windows with an image and displayable description */
.list_entry {
  position: relative;
  color: white;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.list_entry .content_button_container {
  margin: 0;
  flex-wrap: nowrap;
  flex: 0 0 auto;
}

.list_entry h2 {
  display: flex;
  align-content: center;
  align-items: center;
  color: @text-color;
  font-size: 1em;
  padding-left: @def-margin / 2;
  padding-right: @def-margin / 2;
  margin: 0px;
  font-weight: normal;
}

.list_entry.canceled h2 {
  color: @text-color-dark;
  text-decoration: line-through;
}

.symbols {
  display: flex;
  position: absolute;
  bottom: @def-margin / 2;
  right: unset;
  margin: 0;
}

.symbols>img {
  margin-left: @def-margin / 2;
}
