@import "app";

.message_container {
  display: flex;
  flex-direction: column;
  min-height: 3em;
  border-radius: @def-border-radius;
  //align-items: center;
  justify-content: center;
  margin: 1em 0;
}

.alert-danger {
  background-color: @altert-color;
  border-radius: 5px;
  color: darken(@altert-color, 50%);
  border: 1px solid darken(@altert-color, 10%);
  padding: @def-margin / 2;
  //padding-left: @def-margin + 48px;
  //padding-right: @def-margin + 48px;
  margin: @def-margin / 2;
}

.success {
  background-color: @success-color;
  border: 1px solid darken(@success-color, 10%);
  color: darken(@success-color, 50%);
}

.warning {
  background-color: @warning-color;
  border: 1px solid darken(@warning-color, 10%);
  color: darken(@warning-color, 50%);
}

