@import "app";

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.img_modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.img_modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.img_close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.img_close:hover,
.img_close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .img_modal-content {
    width: 100%;
  }
}

//@import "app";

//.modal {
//    display: none;
//    position: fixed;
//    z-index: 999999;
//    padding-top: 150px;
//    left: 0;
//    top: 0;
//    width: 100%;
//    height: 100%;
//    overflow: auto;
//    background-color: rgb(0,0,0);
//    background-color: rgba(0,0,0,0.4);
//}
.modal-content {
    background-color: @page-color;
    border-radius: @def-border-radius;
    margin: auto;
    padding: 1em;
    width: 25%;

    animation-name: zoom;
    animation-duration: 0.6s;

    p {
        display: flex;
        justify-content: right;
        flex-wrap: wrap;
        //margin: 1em;
        button {
            min-width: 8em;
            padding: 1em 0;
            margin: 1em;
            border: none;
            border-radius: @def-border-radius;
            color: @text-color-white;
            background-color: @button-color-default;
            -webkit-transition: background-color 0.2s ease-out;
            -moz-transition: background-color 0.2s ease-out;
            -o-transition: background-color 0.2s ease-out;
            transition: background-color 0.2s ease-out;
        }
        button:hover {
            cursor: pointer;
            background-color: @button-color-blue;
            color: @text-color-white;
        }
        button.delete_btn {
            background-color: @button-color-red;
            color: @text-color-white;
        }
        button.delete_btn:hover {
            background-color: shade(@button-color-red, 20%);
        }
    }

    #modal_warning_text {
        //text-align: center;
        margin: 1em;
        font-weight: bold;
    }

    small {
        margin: 1em;
        font-weight: lighter;
        text-align: left;
        display: block;
        color: darken(@text-color-light-dark, 20%);
    }
}

.close {
    float: right;
}
.delete_confirm {
    float: left;
}

@media(max-width: 1500px) {
    .modal-content {
        width: 90%;
    }

    @media(max-width: 500px) {
        .modal-content > p {
                justify-content: center;
        }
    }
}
