@import "app";

.preview_card_container {
    width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(@preview_card_height, 1fr));
  padding: @def-margin / 4;
  box-sizing: border-box;
}
@media (max-width: @smartphone-width) {
  .preview_card_container {
    grid-gap: 0;
    grid-template-columns: 1fr;
    //margin: -@def-margin / 2;
  }
}

/* Preview windows with an image and displayable description */
.preview_card {
  position: relative;
  height: @preview_card_height;
  max-height: @preview_card_height;
  color: white;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  grid-template-columns: 1 auto auto;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  justify-items: stretch;
  justify-content: stretch;
  margin: @def-margin / 4;
}

.preview_card>header {
  background-color: @base-color;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  justify-items: center;
  min-height: @preview_card_title_height;
}
.preview_card>header>h2 {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: @text-color;
  font-size: 1em;
  max-width: 100%;
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
  margin: 0px;
  font-weight: normal;
}

.preview_card>.description {
  position: relative;
  outline: none;
  flex: 1 0 64px;
  text-decoration: none;
  font-weight: lighter;
  overflow: hidden;
}
.preview_card>.description>.descr_image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.preview_card>.description:hover>.descr_image, .preview_card>.description:focus>.descr_image {
  filter: blur(2px);
}
.preview_card>.description>.descr_text {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  display: none;
  padding: 12px;
  min-height: 100%;
  background-color: fadeout(darken(@base-color, 27%), 30%);
  color: @text-color;
}
.preview_card>.description:hover>.descr_text, .preview_card>.description:focus>.descr_text {
  display: block;
}

.symbols {
  display: flex;
  position: absolute;
  bottom: @def-margin / 2;
  right: @def-margin / 2;
  margin: 0;
}

.symbols>img {
  margin-left: @def-margin / 2;
}
