@import "app";

#search_page {
  display: none;
  color: @text-color;
}
.search_title {
  display: flex;
  justify-content: space-between;
  padding-left: @def-margin;
  padding-right: @def-margin;
  background-color: mix(@content_color, @page-color, 50%);

  margin-left: auto;
  margin-right: auto;
  max-width: @max-width;
}
.search_title h1 {
  display: inline-block;
}
#search_container {
  padding-top: @def-margin / 2;
  margin-left: auto;
  margin-right: auto;
  max-width: @max-width;
}
#search_filter {
  width: 300px;
}
h2.search {
   margin: @def-margin / 2;
   grid-column-start: 0;
   grid-column-end: span 4;
   text-align: center;
 }


#title_search {
  display: none;
}