@import "app";

.sign_row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.check_container {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-self: center;
    justify-self: center;
    padding: .75em .75em;
    display: flex;
    flex-direction: column;
}

.check_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.check {
    filter: grayscale(100%) opacity(50%);
}

.check_container:hover input ~ .check {
}

.check_container input:checked ~ .check {
    filter: grayscale(0%) opacity(100%);
}
