@import "app";

.tabbed > input {
  display: none;
  float: left;
}
.tabbed > label {
  display: block;
  float: left;
  padding: 8px 20px 8px 20px;
  cursor: pointer;
  /*border-bottom: 4px solid @page-color;*/
  transition: background-color .3s, border-color .3s;
  border-radius: 5px;
}
.tabbed > label:hover{
  background: lightgrey;
  /*border-bottom: 4px solid lightgrey;*/
}
.tabbed > input:checked + label {
  background: lightgrey;
  /*border-bottom: 4px solid black;*/
}
div.tabbed > #tabs_red_line {
  position: relative;
  width: 50px;
  height: 8px;
  background: red;
  transition: 0.5s ease;
  border-radius: 5px;
  top: calc(2em - 2px); //TODO
}
.tabs {
  max-width: @max-width;
  perspective: 0;
  clear: both;
}
.tabs > .tab {
  width: 100%;
  padding-top: 10px;
  line-height: 1.4em;
  display: none;
}
.tab > .h2 {
  display: none;
}
.tab > .h2_description{
  display: initial;
}
.tabs > .tab .h2_inline{
  border-top:2px solid #2c2c2c;
  padding-top: .5em;
}
@media screen and (max-width: @smartphone-width) {
  .tabbed {
    width: 100%
  }
  .tabbed > label {
    display: none
  }
  .tabs > .tab {
    width: 100%;
    border: none;
    padding: 0;
    display: initial !important;
    transform: none;
    margin-bottom: 60px;
  }
  .tabs > .tab > .h2 {
    border-top: 1px solid @button-color;
    padding-top: .5em;
    display: block;
  }
  .tabs > .tab .h2_inline{
    border-top:1px solid @button-color;
    padding-top: .5em;
  }
  .tabs > .tab > .h2_description {
    margin-top: 0;
  }
  div.tabbed > #tabs_red_line{
    display: none;
  }
}