@import "app";
@slideshow-height: 500px;

//#main_page {
//  padding: 0;
//}

.slideshow_container {
  background-color: @page-color;

  .help_button_container {
    display: grid;
    place-items: center;
  }
}


#loading_spinner {
  z-index: 1;
  left:0;
  right: 0;
  position: absolute;
  display: grid;
  place-items: center;
  height: @slideshow-height;
  opacity: 0.7;
  color: tint(@button-color-red, 20%);
  //display: flex;
  //justify-content: center;
  //align-items: center;
  background-color: @page-color;
  //opacity: 0.2;
}

#loading_spinner > div {

}

.welcome_logo {
  margin: 2em 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: @highlight-color;
  width: 70%;
  display: flex;
  align-items: center;

  span > strong {
    font-weight: bold;
    font-size: 2em;
  }
  svg {
    color: @text-color;
    margin: @def-margin;
    width: auto;
  }
}

.overview_container {
  background-color: tint(@highlight-color, 50%);
  h1 {
   padding: 1em 2em;
    margin: 0;
  }

  .help_button_container {
    display: grid;
    place-items: center;
  }
}

.help_container {
  background-color: tint(@highlight-color, 80%);
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  h1 {
    padding: 1em 2em;
    margin: 0;
  }

  .button_grid {
    display: flex;
    justify-content: space-evenly;

    button {
      min-width: 10em;
    }

  }

}

.help_container .role {
  padding: 2em 2em;
  background-color: tint(@highlight-color, 50%);
}

.welcome_buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  grid-column-gap: 2em;
  padding: 2em 2em;
}

.welcome_buttons svg {
  width: 5em;
  height: 5em;
}

.welcome_buttons .welcome_card {
  background-color: @page-color;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  transition: transform .2s; /* Animation */
}

.welcome_buttons .welcome_card .card__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: @text-color;

  span{
    background-color: @page-color;
    width: 100%;
    padding: 0.5em 0;
    transition: background-color .2s;
    padding: 1em 0;
  }

  svg {
    margin: 1em 0;
    color: #0a6aa1;
  }

}

.welcome_buttons .welcome_card .card__title:hover {
  span {
  background-color: tint(@button-color-red, 20%);
  }

}

.welcome_buttons .welcome_card:hover {
  transform: scale(1.1);
}

.main_logo {
  background-color: tint(@highlight-color, 50%);
  padding: 1em 0;
}

.main_logo > span {
  margin: 0 2em;
}

.main_logo > span small {
  //text-decoration: underline;
  font-weight: 0.5;
  color: tint(@text-color, 20%);
}

.main_logo > div {
  margin-bottom: 2em;
  background-color: @page-color;
  display: flex;
  width: 70%;
  align-items: center;
  padding: 1em 2em;
  box-shadow: rgba(233, 64, 62, 0.4) 5px 5px, rgba(233, 64, 62, 0.3) 10px 10px, rgba(233, 64, 62, 0.2) 15px 15px, rgba(233, 64, 62, 0.1) 20px 20px, rgba(233, 64, 62, 0.05) 25px 25px;

  span {
    min-width: 0;
    overflow-wrap: normal;

    strong {
      font-size: 2em;
    }

  }

  .db_logo {
    margin-right: 2em;
    svg {
      width: 10em;
      height: 10em;
    }
  }
}

.main_logo span {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_logo > span {
  font-size: 2em;
}

.overview_container .sub_text {
  background-color: tint(@highlight-color, 80%);
  padding: 2em 2em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  span {
    font-size: 1.2em;
  }

  small {
   //text-decoration: underline;
    color: tint(@text-color, 20%);
  }

}

.main_logo > div small {
  font-size: 1.5em;
}


button.show_presention {
  background-color: @button-color-blue;
  color: @text-color-white;
  border-radius: @def-border-radius;
  text-decoration: none;
  height: 2.5em;
  display: inline-block;
  text-align: center;
  min-width: 8em;
  border: none;
  margin: 1em 0;

  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

button.show_presention:hover {
  background-color: shade(@button-color-blue, 20%);
  cursor: pointer;
}

button.red {
  background-color: @button-color-red;
}

button.red:hover {
  background-color: shade(@button-color-red, 20%);
}

.slideshow_container .carousel {
  overflow: initial;
}

.slideshow_container .slick-prev {
  left: 0;
}

.slideshow_container .slick-next {
  right: 0;
}

.slideshow_container .slick-next:before {
  content: '\276f';
  color: black;
}

.slideshow_container .slick-prev:before {
  content: '\276e';
  color: black;
}

.slideshow_container .slick-prev, .slideshow_container .slick-next {
  transition: ease .3s;
  margin: 0;
  min-width: 40px;
  height: 100%;
  z-index: 1;
}

.slideshow_container .slick-next:hover, .slideshow_container .slick-prev:hover {
  background: rgba(131, 131, 131, 0.34);
}

.slideshow_container .img_container svg {
  height: @slideshow-height;
  width: @slideshow-height;
}

.slideshow_container .carousel-cell {
  position: relative;
  //height: calc(@slideshow-height + 1.5em);
  border-radius: 0px 0px 15px 15px;
}

.slideshow_container .carousel-cell > a {
  display: flex;
  justify-content: center;
}

.slideshow_container .carousel-cell > a > img {
  height: @slideshow-height;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.slideshow_container .media-comment {
  position: absolute; /*Schneidet zu langen Text ab/bricht die Zeile um*/
  width: 100%;
  min-height: 0;
  height: 3em;
  line-height: 3em;
  text-overflow: "...";
  cursor: pointer;
  bottom: 0;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.5);
  color: @text-color;
  transition: background-color .2s;
}

.slideshow_container .media-comment:hover {
  background-color: tint(rgba(255, 255, 255, 0.5), 20%);
}

.slideshow_container .media-comment a {
  color: inherit;
  text-decoration: inherit;
}


@media (min-width: 801px) {
  #hidden_logo {
    display: none;
  }
}

@media (max-width: 800px) {

  #hidden_logo {
    margin-right: 0.5em;
    svg {
      width: 2em;
      height: 2em;
    }
  }

  .main_logo > div small {
    font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .main_logo > div {

    span strong {
      font-size: 5vw;
    }

    .db_logo {
      display: none;
    }
  }

  .welcome_buttons {
    grid-template-columns: 1fr;
    grid-row-gap: 2em;
    grid-template-rows: repeat(3, 1fr);
  }

  .help_container .button_grid {
    flex-direction: column;
    align-items: center;
  }

  .slideshow_container .media-comment {
    display: none;
  }

  .slideshow_container .carousel-cell > a > img {
    height: 50vw;
  }

  .slideshow_container .img_container svg {
  height: 50vw;
  width: 50vw;
}

  #loading_spinner {
    height: 50vw;
  }

}


